﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Program Mentor - panel administratora</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/animate.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/style.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <!-- bonus begin -->
    <link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <!-- bonus end -->
	<!-- ================== END PAGE LEVEL STYLE ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<div class="login-cover">
	    <div class="login-cover-image"><img src="~/color_admin_v1.6/admin/template_content_html/assets/img/login-bg/bg-4.jpg" data-id="login-cover-image" alt="" /></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated flipInX">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <img style="padding-bottom:9px;height:36px;" src="~/assets/img/mentor-logo.png"/> Program Mentor
                    <small>Panel Administratora</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->
            <div class="login-content">
                 @RenderBody()
            </div>
        </div>
        <!-- end login -->
        
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/respond.min.js"></script>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/login-v2.demo.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/apps.min.js"></script>
    <!-- bonus begin -->
    <script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/parsley/dist/parsley.js"></script>
    <!-- bonus end -->
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
	    $(document).ready(function ()
	    {
	        App.init();
	        LoginV2.init();
	    });
	</script>
</body>
</html>
