﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Mentor | Panel administracyjny</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="~/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/animate.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/style.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- bonus begin -->
    <link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />

    <link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css" rel="stylesheet" />

    <link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <!-- bonus end -->
	<!-- ================== END PAGE LEVEL STYLE ================== -->

    <style type="text/css">
        .timeline .timeline-icon .dot {
            text-decoration: none;
            width: 50px;
            height: 50px;
            display: inline-block;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background: #575d63;
            line-height: 40px;
            color: #fff;
            font-size: 14px;
            border: 5px solid #2d353c;
            transition: background .2s linear;
            -moz-transition: background .2s linear;
            -webkit-transition: background .2s linear;
        }
            .timeline .timeline-icon .dot.active {
                background: #00acac;
            }

        .table-striped > tbody > tr.active > td {
            background: rgba(0,172,172,.3);
        }

        .table-striped > tbody > tr.next > td {
            background: #ffffff;
        }

         .table-striped > tbody > tr.prev > td {
            background: #f0f3f5;
        }

        #active-dot {
            width:20px;
            height:20px;
            border-radius:50%;
            background-color: #cc4946;
            display:inline-block;
        }
        .w60 dt {
            width: 60px;
        }
        .w60 dd {
            margin-left: 80px;
        }
    </style>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- GLOBAL -->
    @{
        string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
        string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
    }
    <!-- END GLOBAL -->

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand" style="width:auto"><img style="padding-bottom:9px;height:36px;display:inline-block" src="~/assets/img/mentor-logo.png"/><span style="margin-left:10px">@Model.settings.name</span></a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image" style="border-radius:0">
							<a href="javascript:;"><img src="~/assets/img/icon-award.png" alt="" /></a>
						</div>
						<div class="info" style="margin-top:6px">
							Administrator
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Nawigacja</li>
					
                    <!-- Start -->
                    @if (controller == "home")
                    {
                        <li class="active">
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-star"></i> <span>Start</span></a>
					    </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-star"></i> <span>Start</span></a>
					    </li>
                    }

                    <!-- Aktualności -->
                    @if (controller == "news")
                    {
                        <li class="has-sub active">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-newspaper-o"></i>
						        <span>Aktualności <span class="label label-theme m-l-5">@Model.menu.news_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <!-- Pokaż -->
                                @if (action == "index")
                                {
                                    <li class="active"><a href="@Url.Action("Index","News")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        }
                                else
                                {
                                    <li><a href="@Url.Action("Index","News")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                <!-- Dodaj -->
                                @if (action == "addask")
                                {
                                    <li class="active"><a href="@Url.Action("AddAsk","News")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("AddAsk","News")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
						    </ul>
					    </li>
                    }
                    else
                    {
                        <li class="has-sub">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-newspaper-o"></i>
						    <span>Aktualności <span class="label label-theme m-l-5">@Model.menu.news_count().ToString()</span></span>
					    </a>
						<ul class="sub-menu">
                            <li><a href="@Url.Action("Index","News")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						    <li><a href="@Url.Action("AddAsk","News")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
						</ul>
					    </li>
                    }

                    <!-- Projekty -->
                    @if (controller == "project")
                    {
                        <li class="has-sub active">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-cube"></i>
						        <span>Projekty <span class="label label-theme m-l-5">@Model.menu.project_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <!-- Pokaż -->
                                @if (action == "index")
                                {
                                    <li class="active"><a href="@Url.Action("Index","Project")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        }
                                else
                                {
                                    <li><a href="@Url.Action("Index","Project")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                <!-- Dodaj -->    
                                @if (action == "addask")
                                {
                                    <li class="active"><a href="@Url.Action("AddAsk","Project")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("AddAsk","Project")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
						    </ul>
					    </li>
                    }
                    else
                    {
                        <li class="has-sub">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-cube"></i>
						        <span>Projekty <span class="label label-theme m-l-5">@Model.menu.project_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Project")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        <li><a href="@Url.Action("AddAsk","Project")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
						    </ul>
					    </li>
                    }

                    <!-- Beneficjenci -->
                    @if (controller == "beneficiary")
                    {
                        <li class="has-sub active">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-user"></i>
						        <span>Beneficjenci <span class="label label-theme m-l-5">@Model.menu.beneficiary_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <!-- Pokaż -->
                                @if (action == "index")
                                {
                                    <li class="active"><a href="@Url.Action("Index","Beneficiary")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        }
                                else
                                {
                                    <li><a href="@Url.Action("Index","Beneficiary")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                <!-- Dodaj -->    
                                @if (action == "addask")
                                {
                                    <li class="active"><a href="@Url.Action("AddAsk","Beneficiary")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("AddAsk","Beneficiary")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
						    </ul>
					    </li>
                    }
                    else
                    {
                        <li class="has-sub">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-user"></i>
						        <span>Beneficjenci <span class="label label-theme m-l-5">@Model.menu.beneficiary_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Beneficiary")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        <li><a href="@Url.Action("AddAsk","Beneficiary")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
						    </ul>
					    </li>
                    }

                    <!-- Mentorzy -->
                    @if (controller == "mentor")
                    {
                        <li class="has-sub active">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-anchor"></i>
						        <span>Mentorzy <span class="label label-theme m-l-5">@Model.menu.mentor_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <!-- Pokaż -->
                                @if (action == "index")
                                {
                                    <li class="active"><a href="@Url.Action("Index","Mentor")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        }
                                else
                                {
                                    <li><a href="@Url.Action("Index","Mentor")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                <!-- Dodaj -->    
                                @if (action == "addask")
                                {
                                    <li class="active"><a href="@Url.Action("AddAsk","Mentor")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("AddAsk","Mentor")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
                                }
						    </ul>
					    </li>
                    }
                    else
                    {
                        <li class="has-sub">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-anchor"></i>
						        <span>Mentorzy <span class="label label-theme m-l-5">@Model.menu.mentor_count().ToString()</span></span>
					        </a>
						    <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Mentor")">Pokaż <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        <li><a href="@Url.Action("AddAsk","Mentor")">Dodaj <i class="fa fa-plus-square text-theme m-l-5"></i></a></li>
						    </ul>
					    </li>
                    }

                     <!-- Mentorzy -->
                    @if (controller == "mobileapp")
                    {
                        <li class="has-sub active">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-anchor"></i>
						        <span>Aplikacja mobilna</span>
					        </a>
						    <ul class="sub-menu">
                                <!-- Pokaż -->
                                @if (action == "index")
                                {
                                    <li class="active"><a href="@Url.Action("Index","MobileApp")">Sponsorzy<i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        }
                                else
                                {
                                    <li><a href="@Url.Action("Index","MobileApp")">Sponsorzy<i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                <!-- Dodaj -->    
                                @if (action == "runs")
                                {
                                    <li class="active"><a href="@Url.Action("Runs","MobileApp")">Biegi <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Runs","MobileApp")">Biegi <i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
                                }
						    </ul>
					    </li>
                    }
                    else
                    {
                        <li class="has-sub">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        <i class="fa fa-anchor"></i>
						        <span>Aplikacja mobilna</span>
					        </a>
						    <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","MobileApp")">Sponsorzy<i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						        <li><a href="@Url.Action("Runs","MobileApp")">Biegi<i class="fa fa-list-ul text-theme m-l-5"></i></a></li>
						    </ul>
					    </li>
                    }

                    <!-- Wyloguj -->
					<li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> <span>Wyloguj</span></a>
					</li>
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			@RenderBody()
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/respond.min.js"></script>
		<script src="~/color_admin_v1.6/admin/template_content_html/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/sparkline/jquery.sparkline.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/dashboard.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/apps.min.js"></script>
    <!-- bonus begin -->
    <script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/parsley/dist/parsley.js"></script>

    <script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/ckeditor/ckeditor.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/form-wysiwyg.demo.min.js"></script>

    <script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/masked-input/masked-input.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
	<script src="~/color_admin_v1.6/admin/template_content_html/assets/js/form-plugins.demo.min.js"></script>
    <!-- bonus end -->
	<!-- ================== END PAGE LEVEL JS ================== -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('.del-photo').click(function () {
                del_id = $(this).attr('data-id');
                $('#del_file_' + del_id).val(true);
                $('#file_' + del_id + '_img').remove();
                $(this).hide();
            });
            $('.file-input').change(function () {
                file_id = $(this).attr('data-id');
                $('#del_file_' + file_id).val(false);
            });
        });
    </script>
	
	<script>
		$(document).ready(function() {
			App.init();
		    //Dashboard.init();
			FormPlugins.init();
		});
	</script>
</body>
</html>