﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Projekty.cshtml";
}

<div id="content">
    @for (var i = 0; i < Model.beneficiary.list.Count(); i++)
    {
        if (Model.beneficiary.list[i].active == true)
        {
        <div id="row-scholar" class="scrollbar-padding">
            <div class="wrapper">
                <div class="col-left">
                    <div class="title-wrapper">
                        <h1>@Model.beneficiary.list[i].name</h1>
                        <h3>@Model.beneficiary.list[i].age().ToString() lat</h3>
                    </div>
                    <div class="description-wrapper">
						<div class="photo-container">
							<div class="photo-shadow"></div>
							<div class="photo-wrapper">
							@{
								Model.beneficiary_file.get_data(SfCms_model.class_beneficiary_file.search_type.beneficiary_id, SfCms_model.class_beneficiary_file.image_type.empty, Model.beneficiary.list[i].id.ToString());

								if (Model.beneficiary_file.id != 0)
								{
									<div id="beneficiary-pic" style="background-image:url('@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.list[i].id })')" data-source="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.list[i].id })"></div>
								}
							}
							</div>
						</div>
                        <h2>@Model.project.title</h2>
                        <div>@Html.Raw(@Model.project.content)</div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="info-wrapper">
                        <h4>Informacje</h4>
                        <div>
                            <div class="info-pos">
                                <div class="icon-icon-people icon"></div>
                                <div class="value"><span>@Model.project.support.ToString()</span> @Model.str_osoby</div>
                                <div class="subtitle">@Model.str_wsparcie projekt</div>
                            </div>
                            <div class="info-pos">
                                <div class="icon-icon-chart icon"></div>
                                <div class="value"><span>@Model.tool.format_decimal_int(@Model.project.support_amount).ToString()</span>zł</div>
                                <div class="subtitle">z kwoty <span class="subtitle" style="color: #5E5D5D; padding: 0">@Decimal.ToInt32(@Model.project.amount)</span> zł</div>
                            </div>
                            <div class="info-pos">
                                <div class="icon-icon-time icon"></div>
                                <div class="value"><span>@Model.project.to_end.ToString()</span>Dni</div>
                                <div class="subtitle">do końca zbiórki</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="floatfix"></div>
            </div>
        </div>
        }
    }

    @for (var i = 0; i < Model.mentor.list.Count(); i++)
    {
        if (Model.mentor.list[i].active == true)
        {
        <div id="row-mentor" class="scrollbar-padding">
            <div class="wrapper">
                <div class="col-left">
                    <div class="title-wrapper">
                        <h2>@Model.mentor.list[i].name @Model.mentor.list[i].surname</h2>
                        <h3>Mentor</h3>
                    </div>
                    <div class="description-wrapper">
						<div class="photo-container">
							<div class="photo-shadow"></div>
							<div class="photo-wrapper">
                            @{
                                Model.mentor_file.get_data(SfCms_model.class_mentor_file.search_type.mentor_id, SfCms_model.class_mentor_file.image_type.empty, Model.mentor.list[i].id.ToString());
								
                                if (Model.mentor_file.id != null)
							    {
								    <div style="background-image:url('@Url.Action("MentorImageSmall", "Image", new { id = Model.mentor.list[i].id })')"></div>
					            }
                            }
							</div>
						</div>
                        <div>@Html.Raw(@Model.mentor.list[i].content)</div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="info-wrapper">
                        <div>
                            <h4>Darczyńcy</h4>
                            <div class="arrows">
                                <div class="prev icon-icon-arrow-right" style="width: 13px; height: 23px;"></div>
                                <div class="next icon-icon-arrow-right" style="width: 13px; height: 23px;"></div>
                            </div>
                            <div class="banner">
                                <ul>
                                    @{ int k = 0; }
                                    @for (var j = 0; j < Model.paylane.list.Count(); j++)
                                    {
                                        if (k == 0)
                                        { 
                                            @Html.Raw("<li>");
                                        }
                                        <div>
                                            <div class="donor">
                                                @if(Model.paylane.list[j].czy_anonymous) 
                                                {
                                                    <div class="icon-icon-person icon"></div>
                                                    <div class="value"><span class="time">@Model.paylane.list[j].time_from_response().ToString() temu</span></div>
                                                    <div class="name">Anonimowa osoba</div>
                                                }
                                                else 
                                                {
                                                    if(@Model.paylane.list[j].facebook_user_id.Length > 0) 
                                                    {
                                                        <div class="icon-icon-person icon facebook-pic" style="background-image:url(@Model.paylane.list[j].facebook_user_pic)"></div>
                                                    } 
                                                    else 
                                                    {
                                                        <div class="icon-icon-person icon"></div>
                                                    }
                                                    <div class="value">@*<span class="amount">@Model.tool.format_decimal_int(Model.paylane.list[j].response_amount)</span><span class="currency"> zł / </span>*@<span class="time">@Model.paylane.list[j].time_from_response().ToString() temu</span></div>
                                                    <div class="name">@Model.paylane.list[j].request_customer_name</div>
                                                }
                                            </div>
                                        </div>
                                        if (k == 2)
                                        { 
                                            @Html.Raw("</li>"); 
                                            k = 0;
                                        }
                                        else
                                        {
                                            k++;
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="floatfix"></div>
            </div>
        </div>
        }
    }

    <div id="row-blog" class="scrollbar-padding">
        <div class="wrapper">
            <div class="col-left">
                @for (var i = 0; i < Model.beneficiary.list.Count(); i++)
                {
                    if (Model.beneficiary.list[i].active == true)
                    {
                        Model.blog.generate_list(SfCms_model.class_blog.search_type.active, @Model.beneficiary.list[i].id.ToString());
                    <div class="dummydiv">
                        <div class="date-wrapper"></div>
                        <div class="content-wrapper"></div>
                        <div class="floatfix"></div>
                    </div>
                        for (var j = 0; j < Model.blog.list.Count(); j++)
                        {
                            Model.s_post.id = Model.blog.list[j].s_post_id;
                            Model.s_post.get_data();
                            Model.blog_file.generate_list(SfCms_model.class_blog_file.search_type.blog_id, Model.blog.list[j].id.ToString());

                            if (Model.blog.list[j].active)
                            {  
                    <div id="@Model.blog.list[j].id" class="post">
                        <div class="date-wrapper">@Model.blog.list[j].date_user.ToString("dd MMM yyyy")</div>
                        <div class="content-wrapper">
                            <div class="content">
									<h3>@Model.blog.list[j].title</h3>
									@if (Model.blog.list[j].s_post_id == 1)
                                    {
										@Html.Raw(@Model.blog.list[j].content)
                                     }
                                     else if (Model.blog.list[j].s_post_id == 2)
                                     {
										@Html.Raw(@Model.blog.list[j].content)
                                         <div class="gallery-wrapper">

											<div class="gallery-banner">

												<ul>
													@for (var k = 0; k < @Model.blog_file.list.Count; k++)
                                                    {
														<li>
															<a title="@Model.blog_file.list[k].title" href="@Url.Action("BlogImageLarge", "Image", new { id = @Model.blog_file.list[k].id })" class="fancybox @if (k > 3)
                                                                                 { @Html.Raw("hide");
                                                                                 }" rel="group_@Model.blog.list[j].id">
                                                                <div class="thumb" style="background-image:url('@Url.Action("BlogImageSmall", "Image", new { id = @Model.blog_file.list[k].id })')" data-source="@Url.Action("BlogImageLarge", "Image", new { id = @Model.blog_file.list[k].id })"></div>  
															</a>														
														</li>
                                                    }
												</ul>
											</div>
										</div>
                                     }
                                     else if (Model.blog.list[j].s_post_id == 3)
                                     {
										<div class="video">
                                            @Html.Raw(@Model.blog.list[j].content)
											@Html.Raw(Model.blog.list[j].media_link)
										</div>
                                     }

									<div class="share_button" data-href="http://program-mentor.pl" data-layout="button">
										<span type="button" name="facebook" value="" class="css3button">
											<span class="maintext icon">Udostępnij</span>
										</span>
									</div>
                            </div>

                        </div>
                    </div>
                            }
                        }
                    <div class="dummydiv bottom">
                        <div class="date-wrapper"></div>
                        <div class="content-wrapper"></div>
                        <div class="floatfix"></div>
                    </div>
                    }
                }
            </div>
            <div class="col-right">
                <h4>Wesprzyj projekt</h4>
                <div class="info-wrapper">
                    @if(@Model.project.czy_support && @Model.project.to_end > 0) {  
                        <!-- form_brick - begin -->
                        <form method="post" data-ajax-url="@Url.Action("form_brick", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#form_brick_ajax" class="form-horizontal">
                            <input type="hidden" id="form_brick_project_id" name="form_brick_project_id" value="@Model.project.id" />
                            <input type="hidden" id="form_brick_s_brick_id" name="form_brick_s_brick_id" />
                            <button id="form_brick_button" type="submit" class="btn btn-primary" style="display: none;">form_brick_button</button>
                        </form>
                        <!-- form_brick - end -->
                    } else {
                        <div class="support-finished">
                            <div class="support-finished-container">
                                <img src="~/assets/img/finished.png" />
                                <h6>Zbiórka<br />zakończona</h6>
                                <a href="~/#stypendysci" target="_self">Zobacz inne projekty</a>
                            </div>
                        </div>
                    }
                    @for (var i = 0; i < Model.project.list_brick.Count; i++)
                    {
                        if (Model.project.list_brick[i].active)
                        {
                        <div class="prize">
                            <div class="title">
                                <div class="icon-icon-award icon"></div>
                                <h5>za <span class="amount">@Model.tool.format_decimal_int(Model.project.list_brick[i].s_brick.amount_from)</span> <span class="currency">zł</span> lub więcej</h5>
                            </div>
                            <div class="descr">
                                @Html.Raw(@Model.project.list_brick[i].content)
                            </div>
                            <div class="blue-box" data-value="@Model.project.list_brick[i].s_brick_id">
                                <p>Wspieram!</p>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="floatfix"></div>
    </div>
</div>



<!--Facebook share-->
<script type="text/javascript">
    $(document).ready(function(){
        $('.share_button').click(function(e){
            e.preventDefault();

            $post = $(this).parent('.content');
            $title = $(this).parents('html').find('head').find('title').html();
            $name = $post.find('h3').html();

            if ($post.find('.gallery-wrapper').length != 0){
                $link = '@Request.Url.AbsoluteUri';
                $picture = "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))" + $post.find('.thumb').attr('data-source');
                $caption = 'Mentor - Gdański Program Stypendialny';
                $descr = '';
            } else if ($post.find('.video').length != 0){
                $link = $post.find('.video iframe:first-child').attr('src').replace('embed/', 'watch?v=');
                $picture = '';
                $descr = '';
                $caption = 'Mentor - Gdański Program Stypendialny';
            } else {
                $link = '@Request.Url.AbsoluteUri';
                $picture = "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))" + $('#beneficiary-pic').attr('data-source');
                $descr = $post.find('p').html();
                $caption = 'Mentor - Gdański Program Stypendialny';
            }
            FB.ui({
                method: 'feed',
                name: $name,
                link: $link,
                picture: $picture,
                caption: $title,
                description: $descr
            });
        });
    });
</script>

@if(@Model.project.czy_support) {
    <script type="text/javascript">
        function AuthorizeSfCms_user(s_brick_id) {
            var ws_url = '../Ws/Ws.asmx?op=AuthorizeSfCms_user';
            var soapRequest =
            '<?xml version="1.0" encoding="utf-8"?> \
                <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"> \
                <soap:Body> \
                <AuthorizeSfCms_user xmlns="http://tempuri.org/" /> \
                </soap:Body> \
                </soap:Envelope>';

            $.ajax(
            {
                type: "POST",
                url: ws_url,
                contentType: "text/xml; charset=utf-8",
                dataType: "xml",
                data: soapRequest,
                success: function (data, status, xml) {
                    var i = 0;

                    var array_wynik = new Array();
                    var array_user_id = new Array();

                    if (status == "success") {
                        //xml
                        $(xml.responseXML).find('row').each(function () {
                            array_wynik[i] = $(this).find('wynik').text();
                            array_user_id[i] = $(this).find('user_id').text();

                            i += 1;
                        });

                        if (array_wynik[0] == "true") {
                            $("#form_brick_s_brick_id").attr('value', s_brick_id);
                            $("#form_brick_button").click();
                            $("#modal_brick").modal('show');
                        } else if (array_wynik[0] == "false") {
                            $("#form_brick_s_brick_id").attr('value', s_brick_id);
                            $("#modal_login_brick").modal('show');
                        }
                    }
                },
                error: function (data, status, xml) { alert('error: AuthorizeSfCms_user ' + xml.responseText + " " + status); },
            });
        }
    </script>
}

<!-- modal_fb_error -->
<script type="text/javascript">
    $(document).ready(function () {
		@if (SfCms_model.session.czy_fb_error == "true")
        {
            SfCms_model.session.czy_fb_error = "false";
			<text>
	        $("#modal_fb_error").modal('show');
	        </text>
		}
        @if (SfCms_model.session.paylane_result == "error") {
            SfCms_model.session.paylane_result = "";
			<text>
            $("#modal_paylane_error").modal('show');
	        </text>
        }
        else if (SfCms_model.session.paylane_result == "success")
        {
            SfCms_model.session.paylane_result = "";
            <text>
            $("#modal_paylane_success").modal('show');
            </text>
        }
	});
</script>
