﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-anchor"></i> @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_8) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAsk) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_9) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_1):@Model.mentor.id.ToString()</h4>
            </div>
            <div class="panel-body">
				<div class="note note-danger">
					<h4>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_7) @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAskHe)</h4>
					<p>
						@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAccept) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_9)
                    </p>
				</div>
            </div>
            <div class="panel-body">
				<div class="media">
					<span class="media-left">
                        @if (@Model.mentor_file.id != 0)
                        {  
                            <img src="@Url.Action("MentorImageSmall", "Image", new { id = Model.mentor.id })" alt="" class="media-object" />
                        }
                    </span>
					<div class="media-body">
						<h4><i class="fa fa-cube"></i> @Model.project.name</h4>
                        <dl class="dl-horizontal">
                            <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_1)</dt>
                            <dd>@Model.mentor.id.ToString()</dd>
                            <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_2)</dt>
                            <dd>
                            @if(Model.mentor.active == true)
                            {
                                <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                            }
                            else
                            {
                                <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                            }
                            </dd>
                            <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_5)</dt>
                            <dd>@Model.mentor.surname</dd>
                            <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_4)</dt>
                            <dd>@Model.mentor.name</dd>
						</dl>
                        <p>@Html.Raw(Model.mentor.content)</p> 
					</div>
				</div>
			</div>
            <div class="panel-body panel-form">
                @using (Html.BeginForm("Delete", "Mentor", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <fieldset>
                    <legend></legend>
                
                    <input type="hidden" id="id" name="id" value="@Model.mentor.id.ToString()"/>

                    <div class="form-group">
						<div class="col-md-12 col-sm-12">
                            <input type="submit" value="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)" class="btn btn-danger active"/>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                    </fieldset>
                }
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->
