﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-anchor"></i> @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_8) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Edit)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.EditAsk) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_9) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_1):@Model.mentor.id.ToString()</h4>
            </div>
            <div class="panel-body panel-form">
                <form action="@Url.Action("Edit","Mentor")" method="post" enctype = "multipart/form-data" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    <input type="hidden" id="id" name="id" value="@Model.mentor.id.ToString()"/>
                    <div class="form-group">
                        <!-- active -->
					    <label class="control-label col-md-2 col-sm-2">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_2) :</label>
					    <div class="col-md-10 col-sm-10">
						    @{
                                string check = string.Empty;
                                if (Model.mentor.active == true)
                                {
                                    check = "checked";
                                }
                            }   
                            <div class="checkbox"><label><input type="checkbox" id="active" name="active" value="true" @check/>&nbsp</label></div>
					    </div>
				    </div>
                    <div class="form-group">
                        <!-- project_id -->
						<label class="control-label col-md-2 col-sm-2">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_3) *:</label>
						<div class="col-md-10 col-sm-10">
							<select class="form-control" id="select-required" name="project_id"  data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">
								<option value="">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Choose)</option>
								@for(var i = 0; i < Model.project.list.Count; i++)
                                {
                                    if(Model.mentor.project_id == @Model.project.list[i].id)
                                    {
                                        <option value="@Model.project.list[i].id.ToString()" selected="selected">@Model.project.list[i].name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.project.list[i].id.ToString()">@Model.project.list[i].name</option>
                                    }
                                }
							</select>
						</div>
					</div>
                    <div class="form-group">
                        <!-- surname -->
					    <label class="control-label col-md-2 col-sm-2">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_5) *:</label>
					    <div class="col-md-4 col-sm-4">
						    <input class="form-control" type="text" id="surname" name="surname" placeholder="@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_5)" value="@Model.mentor.surname" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
					    </div>
                        <!-- name -->
                        <label class="control-label col-md-2 col-sm-2">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_4) *:</label>
                        <div class="col-md-4 col-sm-4">
                            <input class="form-control" type="text" id="name" name="name" placeholder="@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_4)" value="@Model.mentor.name" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
				    </div>
                    <div class="form-group">
                        <!-- content -->
                        <label class="control-label col-md-2 col-sm-2" for="title">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_6) *:</label>
					    <div class="col-md-10 col-sm-10">
						    <textarea class="ckeditor" id="content" name="content" rows="20" maxlength="2000" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">@Model.mentor.content</textarea>
					    </div>
				    </div>  
                    <div class="form-group">
                        <!-- mentor_file -->
                        @if (Model.mentor_file.id == null)
                        {
                            <label class="control-label col-md-2 col-sm-2">@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_10) *:</label>
                        }
                        else
                        {
                            <label class="control-label col-md-2 col-sm-2">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.PhotoEdit) (@Model.mentor_file.name)</label>                    
                        }
                        <div class="col-md-10 col-sm-10">    
                            <input type="file" class="btn" name="file" />
							@if (Model.mentor_file.id != 0)
                            {
								<div class="media"><img src="@Url.Action("MentorImageSmall", "Image", new { id = Model.mentor.id })" alt="" class="media-object" /></div>
							}
                        </div>
                    </div>
				    <div class="form-group">
					    <label class="control-label col-md-2 col-sm-2"></label>
					    <div class="col-md-10 col-sm-10">
                            <button type="submit" class="btn btn-primary">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Save)</button>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
					    </div>
				    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->
