﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> @Model.beneficiary.name<small> Usuń wpis na blogu</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-trash-o"></i> Usuwasz wpis Id:@Model.blog.id</h4>
            </div>
            <div class="panel-body">
				<div class="note note-danger">
					<h4>Wpis zostanie usunięty</h4>
					<p>
						W celu potwierdzenia wybierz polecenie "Usuń" poniżej wpisu
                    </p>
				</div>
            </div>
            <div class="panel-body">
				<div class="media">
					<span class="media-left">
						@if (Model.beneficiary_file.id != 0)
						{
							<img src="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.id })" alt="" class="media-object" />
						}
                    </span>
					<div class="media-body">
                        <h4><i class="fa fa-cube"></i> @Model.project.name</h4>
						
                        <dl class="dl-horizontal">
                            <dt>Tytuł:</dt>
                            <dd><h3 class="media-heading">@Model.blog.title</h3></dd>
                            <dt>Data:</dt>
                            <dd>@Model.blog.date_user.ToShortDateString()</dd>
                            <dt>Typ:</dt>
                            <dd>
                                @for (var i = 0; i < Model.s.s_post.Count; i++)
                                {
                                    if (Model.blog.s_post_id == @Model.s.s_post[i].id)
                                    {
                                        @Model.s.s_post[i].name
                                    }
                                }
                            </dd>
                            <dt>Treść:</dt>
                            <dd>@Html.Raw(@Model.blog.content)</dd>
                            <dt>Link video:</dt>
                            <dd>@Html.Raw(@Model.blog.media_link)</dd>
                            @for (var no = 1; no <= 5; no++)
                            {
                                var query_blog_file = from bf in Model.blog_file.list where bf.no == no select bf;
                                var czy_no = false;

                                if (query_blog_file.Count() > 0)
                                {
                                    <dt>Zdjęcie @{@no}:</dt>
                                    <dd>
                                        @foreach (SfCms_model.class_blog_file bf in query_blog_file)
                                        {
                                            <p>@bf.title</p>
                                            <img src="@Url.Action("BlogImageSmall", "Image", new { id = bf.id })" width="220" alt="" />
                                        }
                                    </dd>
                                }  
                            }
                        </dl>
					</div>
				</div>
			</div>
            <div class="panel-body panel-form">
                @using (Html.BeginForm("DeleteBlog", "Beneficiary", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <fieldset>
                    <legend></legend>
                
                    <input type="hidden" id="beneficiary_id" name="beneficiary_id" value="@Model.beneficiary.id.ToString()"/>
                    <input type="hidden" id="id" name="id" value="@Model.blog.id.ToString()"/>

                    <div class="form-group">
						<div class="col-md-12 col-sm-12">
                            <input type="submit" value="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)" class="btn btn-danger active"/>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                    </fieldset>
                }
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->