﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_13) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAsk) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_14) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1):@Model.beneficiary.id.ToString()</h4>
            </div>
            <div class="panel-body">
				<div class="note note-danger">
					<h4>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_12) @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAskHe)</h4>
					<p>
						@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAccept) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_14)
                    </p>
				</div>
            </div>
            <div class="panel-body">
				<div class="media">
					<span class="media-left">
						@if (Model.beneficiary_file.id != 0)
						{
							<img src="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.id })" alt="" class="media-object" />
						}
                    </span>
					<div class="media-body">
						<h3 class="media-heading">@Model.beneficiary.title</h3>
                        <h4><i class="fa fa-cube"></i> @Model.project.name</h4>
                        <dl class="dl-horizontal">
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1)</dt>
                            <dd>@Model.beneficiary.id.ToString()</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_2)</dt>
                            <dd>
                            @if(Model.beneficiary.active == true)
                            {
                                <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                            }
                            else
                            {
                                <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                            }
                            </dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_20)</dt>
                            <dd>@Model.beneficiary.s_sex_id_dictionary</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_7)</dt>
                            <dd>@Model.beneficiary.surname</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_6)</dt>
                            <dd>@Model.beneficiary.name</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_4)</dt>
                            <dd>@Model.beneficiary.login</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_5)</dt>
                            <dd>@Model.beneficiary.password</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_21)</dt>
                            <dd>@Model.beneficiary.paylane_merchant_id</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_22)</dt>
                            <dd>@Model.beneficiary.paylane_salt</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_23)</dt>
                            <dd><a href="@Model.beneficiary.yt_link" target="_blank">@Model.beneficiary.yt_link</a></dd>
							<dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_9)</dt>
							<dd>@Model.beneficiary.date_birth.ToShortDateString()</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_18)</dt>
                            <dd>@Model.beneficiary.age().ToString()</dd>
						</dl>
                        <p>@Html.Raw(Model.beneficiary.content)</p> 
					</div>
				</div>
			</div>
            <div class="panel-body panel-form">
                @using (Html.BeginForm("Delete", "Beneficiary", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <fieldset>
                    <legend></legend>
                
                    <input type="hidden" id="id" name="id" value="@Model.beneficiary.id.ToString()"/>

                    <div class="form-group">
						<div class="col-md-12 col-sm-12">
                            <input type="submit" value="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)" class="btn btn-danger active"/>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                    </fieldset>
                }
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->