﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> @Model.beneficiary.name<small> Edytuj wpis na blogu</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-plus-square"></i> Wpis</h4>
            </div>
            <div class="panel-body panel-form">
                <form action="@Url.Action("EditBlog","Beneficiary")" method="post" enctype = "multipart/form-data" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    <input type="hidden" id="beneficiary_id" name="beneficiary_id" value="@Model.blog.beneficiary_id"/>
                    <input type="hidden" id="id" name="id" value="@Model.blog.id"/>
                    <div class="form-group">
                        <!-- active -->
					    <label class="control-label col-md-1 col-sm-1">Aktywny:</label>
					    <div class="col-md-2 col-sm-2">
						    @{
                                string check = string.Empty;
                                if (Model.blog.active == true)
                                {
                                    check = "checked";
                                }
                            }   
                            <div class="checkbox"><label><input type="checkbox" id="active" name="active" value="true" @check/>&nbsp</label></div>
					    </div>
                        <!-- date -->
                        <label class="control-label col-md-1 col-sm-1">Data publikacji *:</label>
                        <div class="col-md-2 col-sm-2">
                            <input type="text" class="form-control" id="datepicker-default" name="date_user" value="@Model.blog.date_user.ToShortDateString()" maxlength="10" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
                        <!-- type -->
                        <label class="control-label col-md-1 col-sm-1">Typ postu *:</label>
                        <div class="col-md-2 col-sm-2">
                            <select class="form-control" id="s_post_id" name="s_post_id"  data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">
                                @for (var i = 0; i < Model.s.s_post.Count; i++)
                                {
                                    if (Model.blog.s_post_id == @Model.s.s_post[i].id)
                                    {
                                        <option value="@Model.s.s_post[i].id.ToString()" selected="selected">@Model.s.s_post[i].name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.s.s_post[i].id.ToString()">@Model.s.s_post[i].name</option>
                                    }
                                }
							</select>
                        </div>
				    </div>
                    <div class="form-group">
                        <!-- title -->
                        <label class="control-label col-md-1 col-sm-1">Tytuł posta*:</label>
                        <div class="col-md-11 col-sm-11">
                            <input class="form-control" type="text" id="title" name="title" value="@Model.blog.title" placeholder="Wprowadź tytuł posta" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- title -->
                        <label class="control-label col-md-1 col-sm-1">Link do filmu video:</label>
                        <div class="col-md-11 col-sm-11">
                            <input class="form-control" type="text" id="media_link" name="media_link" value="@Model.blog.media_link" placeholder="Wprowadź link">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- content -->
                        <label class="control-label col-md-1 col-sm-1" for="title">Treść posta:</label>
					    <div class="col-md-11 col-sm-11">
                            <textarea class="ckeditor" rows="3" id="content" name="content" maxlength="2000">@Model.blog.content</textarea>
					    </div>
				    </div>
                    <div class="form-group">
                        <label class="control-label cold-md-1 col-sm-1">Zdjęcia:</label>
                        <div class="cold-md-11 col-sm-11" style="padding:0">
                            @for (var no = 1; no <= 5; no++)
                            {
                                var query_blog_file = from bf in Model.blog_file.list where bf.no == no select bf;
                                var czy_no = false;

                                if (query_blog_file.Count() > 0)
                                {
                                    czy_no = true;
                                }
                            
                                <div class="col-md-2" style="width:20%;box-sizing:border-box;padding:10px;border-right: 1px solid #eee;">
                                    <div>
                                        <label style="text-align:left">Zdjęcie nr @no</label><br />
                                        <div class="col-md-12" style="margin:10px 0;">
                                            <input type="file" id="file_@no" name="file_@no" class="file-input" data-id="@no">
                                        </div>
                                    </div>    
                                    @if (czy_no)
                                    {
                                        foreach (SfCms_model.class_blog_file bf in query_blog_file)
                                        {
                                            <div>
                                                <label>Tytuł</label>
                                                <div class="col-md-12" style="margin:10px 0;">
                                                    <input class="form-control" type="text" id="file_@{@no}_title" name="file_@{@no}_title" value="@bf.title" maxlength="400">
                                                </div>
                                            </div>
                                            <div id="file_@{@no}_img" style="padding-left:15px;padding-bottom:15px">
                                                <img src="@Url.Action("BlogImageSmall", "Image", new { id = bf.id })" width="220" alt="" />
                                            </div>
                                            <div class="del-photo btn btn-danger active btn-sm m-r-5" data-id="@no">                                            
                                                <input type="hidden" id="del_file_@no" name="del_file_@no" value="false" />
                                                <i class="fa fa-newspaper-o"></i> Usuń zdjęcie
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div>
                                            <label>Tytuł</label>
                                            <div class="col-md-12" style="margin:10px 0;">
                                                <input class="form-control" type="text" id="file_@{@no}_title" name="file_@{@no}_title" value="" maxlength="400">
                                            </div>
                                        </div>                                          
                                        <input type="hidden" id="del_file_@no" name="del_file_@no" value="false" />
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
					    <label class="control-label col-md-1 col-sm-1"></label>
					    <div class="col-md-11 col-sm-11">
                            <button type="submit" class="btn btn-primary">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Save)</button>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
					    </div>
				    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->