﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_13) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Show)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-list-ul"></i></h4>
            </div>
            <div class="panel-body">
                <a href="@Url.Action("AddAsk","Beneficiary")" class="btn btn-success m-r-5 m-b-5"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</a>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!-- id -->
                            <th>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1)</th>
                            <!-- active -->
                            <th>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_2)</th>
                            <!-- beneficiary -->
                            <th>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_12)</th>
                            <!--  -->
                            <th></th>
                            <!-- project -->
                            <th>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_3)</th>
                            <th style="padding-left: 100px;">Liczba postów</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.beneficiary.list.Count; i++)
                        {
                            <tr>
                                <td>@Model.beneficiary.list[i].id.ToString()</td>
                                @if (@Model.beneficiary.list[i].active)
                                {
                                    <td><span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span></td>
                                } 
                                <td>
                                @{
                                    Model.beneficiary_file.get_data(SfCms_model.class_beneficiary_file.search_type.beneficiary_id, SfCms_model.class_beneficiary_file.image_type.empty,Model.beneficiary.list[i].id.ToString());
                                    
                                    if (@Model.beneficiary_file.id != 0)
                                    {
                                        <div class="media media-sm"><img src="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.list[i].id })" alt=" " class=" media-object" /></div>
                                    }
                                }
                                </td>
                                <td>
                                    @Model.beneficiary.list[i].surname
                                    <br />
                                    @Model.beneficiary.list[i].name
                                <td>
                                @{
                                    Model.project.id = Model.beneficiary.list[i].project_id;
                                    Model.project.get_data();
                                    <i class="fa fa-cube"></i> @Model.project.name
                                }
                                </td>
                                <td> 
                                    <dl class="dl-horizontal">
                                        <dt>Aktywnych:</dt>
                                        <dd>@Model.beneficiary.list[i].blog_count_active</dd>
                                        <dt>Wszystkich:</dt>
                                        <dd>@Model.beneficiary.list[i].blog_count_total</dd>
                                    </dl>
                                </td>
                                <td><a href="@Url.Action("DeleteAsk", "Beneficiary", new { id = @Model.beneficiary.list[i].id.ToString() })" class="btn btn-danger btn-sm active m-r-5"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</a></td>
                                <td><a href="@Url.Action("EditAsk", "Beneficiary", new { id = @Model.beneficiary.list[i].id.ToString() })" class="btn btn-primary btn-sm m-r-5"><i class="fa fa-edit"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Edit)</a></td>
                                <td><a href="@Url.Action("Show", "Beneficiary", new { id = @Model.beneficiary.list[i].id.ToString() })" class="btn btn-warning btn-sm m-r-5"><i class="fa fa-newspaper-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.More)</a></td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
	</div>	  
</div>
<!-- end row -->