﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> Beneficjent <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-user"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_14) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1):@Model.beneficiary.id.ToString()</h4>
            </div>
            <div class="panel-body">
				<div class="media">
					<span class="media-left">
						@if (Model.beneficiary_file.id != 0)
						{
							<img src="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.id })" alt="" class="media-object" />
						}
                    </span>
					<div class="media-body">
						<h3 class="media-heading"><i class="fa fa-user"></i>@Model.beneficiary.name @Model.beneficiary.surname</h3>
                        <h4><i class="fa fa-cube"></i> @Model.project.name</h4>
                        <dl class="dl-horizontal">
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1)</dt>
                            <dd>@Model.beneficiary.id.ToString()</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_2)</dt>
                            <dd>
                            @if(Model.beneficiary.active == true)
                            {
                                <span style="color: #00acac;font-weight: 700;">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                            }
                            else
                            {
                                <span style="color:#cc4946;font-weight: 700;">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                            }
                            </dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_20)</dt>
                            <dd>@Model.beneficiary.s_sex_id_dictionary</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_7)</dt>
                            <dd>@Model.beneficiary.surname</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_6)</dt>
                            <dd>@Model.beneficiary.name</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_4)</dt>
                            <dd>@Model.beneficiary.login</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_5)</dt>
                            <dd>@Model.beneficiary.password</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_21)</dt>
                            <dd>@Model.beneficiary.paylane_merchant_id</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_22)</dt>
                            <dd>@Model.beneficiary.paylane_salt</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_23)</dt>
                            <dd><a href="@Model.beneficiary.yt_link" target="_blank">@Model.beneficiary.yt_link</a></dd>
							<dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_9)</dt>
							<dd>@Model.beneficiary.date_birth.ToShortDateString()</dd>
                            <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_18)</dt>
                            <dd>@Model.beneficiary.age().ToString()</dd>
                            <dt>Opis</dt>
                            <dd>@Model.beneficiary.title</dd>
						</dl>
                        <p>@Html.Raw(Model.beneficiary.content)</p> 
					</div>
				</div>
			</div>
        </div>

        <p>
            <a href="javascript:history.back(-1);" class="btn btn-success">
                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
            </a>
            <a href="@Url.Action("AddBlogAsk","Beneficiary", new { id = Model.beneficiary.id })" class="btn btn-success"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</a>
        </p>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-comments"></i> Blog <small>Lista postów</small></h1>
<!-- end page-header -->

<!-- begin timeline -->
<ul class="timeline">
    @for (var i = 0; i < Model.blog.list.Count; i++)
    {
	<li>
		<!-- begin timeline-time -->
		<div class="timeline-time">
			<span class="date">@Model.blog.list[i].date_user.ToShortDateString()</span>
			<span class="time">@(Model.blog.list[i].active ? Html.Raw("<span class='active'>Aktywny</span>") : Html.Raw("<span class='inactive'>Nieaktywny</span>"))</span>
		</div>
		<!-- end timeline-time -->
		<!-- begin timeline-icon -->
		<div class="timeline-icon">
			<div class="dot @(Model.blog.list[i].active ? Html.Raw("active") : Html.Raw(""))"><i class="fa fa-paper-plane"></i></div>
		</div>
		<!-- end timeline-icon -->
		<!-- begin timeline-body -->
		<div class="timeline-body">
			<div class="timeline-header">
			    @*<span class="userimage"><img src="~/color_admin_v1.6/admin/template_content_html/assets/img/user-1.jpg" alt="" /></span>*@
			    <span class="username"><a href="javascript:;">@Model.blog.list[i].title</a> <small></small></span>
			    <span class="pull-right text-muted">
                @{
                    Model.s_post.id = Model.blog.list[i].s_post_id;
                    Model.s_post.get_data();
                    @Model.s_post.name;
                }
			    </span>
			</div>
			<div class="timeline-content">
                @if (Model.blog.list[i].s_post_id == 1)
                {
                    <div class="text">
                        @Html.Raw(Model.blog.list[i].content)
                    </div>
                }
                else if (Model.blog.list[i].s_post_id == 2)
                {

                    Model.s_post.id = Model.blog.list[i].s_post_id;
                    Model.s_post.get_data();
                    Model.blog_file.generate_list(SfCms_model.class_blog_file.search_type.blog_id, Model.blog.list[i].id.ToString());

                    for (var no = 1; no <= 5; no++)
                    {

                        var query_blog_file = from bf in Model.blog_file.list where bf.no == no select bf;
                        var czy_no = false;

                        if (query_blog_file.Count() > 0)
                        {
                            czy_no = true;
                        }
                            
                        <div class="file-wrapper" style="display:inline-block">
                        <div class="label">Zdjęcie nr @no</div>
                            @if (czy_no)
                            {
                                foreach (SfCms_model.class_blog_file bf in query_blog_file)
                                {
                                    <div class="image-wrapper">
                                        <img src="@Url.Action("BlogImageSmall", "Image", new { id = bf.id })" width="220" alt="" />
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                else if (Model.blog.list[i].s_post_id == 3)
                {
                    <div class="video">
                        @Html.Raw(Model.blog.list[i].media_link)
                    </div>
                }
			</div>
			<div class="timeline-footer">
                <a href="@Url.Action("EditBlogAsk", "Beneficiary", new { id = @Model.blog.list[i].id.ToString() })" class="btn btn-warning btn-sm m-r-5"><i class="fa fa-newspaper-o"></i> Edytuj wpis</a>
                <a href="@Url.Action("DeleteBlogAsk", "Beneficiary", new { id = @Model.blog.list[i].id.ToString() })" class="btn btn-danger active btn-sm m-r-5"><i class="fa fa-newspaper-o"></i> Usuń wpis</a>
			</div>
		</div>
		<!-- end timeline-body -->
	</li>
    }
	@*<li>
		<!-- begin timeline-time -->
		<div class="timeline-time">
			<span class="date">yesterday</span>
			<span class="time">20:17</span>
		</div>
		<!-- end timeline-time -->
		<!-- begin timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;"><i class="fa fa-map-marker"></i></a>
		</div>
		<!-- end timeline-icon -->
		<!-- begin timeline-body -->
		<div class="timeline-body">
			<div class="timeline-header">
			    <span class="userimage"><img src="~/color_admin_v1.6/admin/template_content_html/assets/img/user-2.jpg" alt="" /></span>
			    <span class="username">Darren Parrase</span>
			    <span class="pull-right text-muted">82 Views</span>
			</div>
			<div class="timeline-content">
                <p>Location: United Sate</p>
                <div id="google-map" class="height-sm m-b-10"></div>
            </div>
			<div class="timeline-footer">
			    <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			    <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			</div>
		</div>
		<!-- end timeline-body -->
	</li>
	<li>
		<!-- begin timeline-time -->
		<div class="timeline-time">
			<span class="date">24 February 2014</span>
			<span class="time">08:17</span>
		</div>
		<!-- end timeline-time -->
		<!-- begin timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;"><i class="fa fa-edit"></i></a>
		</div>
		<!-- end timeline-icon -->
		<!-- begin timeline-body -->
		<div class="timeline-body">
			<div class="timeline-header">
			    <span class="userimage"><img src="~/color_admin_v1.6/admin/template_content_html/assets/img/user-6.jpg" alt="" /></span>
			    <span class="username">Richard Leong</span>
			    <span class="pull-right text-muted">1,282 Views</span>
			</div>
			<div class="timeline-content">
                <p class="lead">
                    <i class="fa fa-quote-left fa-fw pull-left"></i>
                    Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
                    <i class="fa fa-quote-right fa-fw pull-right"></i>
                </p>
            </div>
			<div class="timeline-footer">
			    <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			    <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			</div>
		</div>
		<!-- end timeline-body -->
	</li>
	<li>
		<!-- begin timeline-time -->
		<div class="timeline-time">
			<span class="date">10 January 2014</span>
			<span class="time">20:43</span>
		</div>
		<!-- end timeline-time -->
		<!-- begin timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;"><i class="fa fa-camera"></i></a>
		</div>
		<!-- end timeline-icon -->
		<!-- begin timeline-body -->
		<div class="timeline-body">
			<div class="timeline-header">
			    <span class="userimage"><img src="~/color_admin_v1.6/admin/template_content_html/assets/img/user-7.jpg" alt="" /></span>
			    <span class="username">Lelouch Wong</span>
			    <span class="pull-right text-muted">1,021,282 Views</span>
			</div>
			<div class="timeline-content">
			    <h4 class="template-title">
			        <i class="fa fa-map-marker text-danger fa-fw"></i>
			        795 Folsom Ave, Suite 600 San Francisco, CA 94107
			    </h4>
			    <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                <p class="m-t-20">
                    <img src="assets/img/gallery/gallery-4.jpg" alt="" />
                </p>
            </div>
			<div class="timeline-footer">
			    <a href="javascript:;" class="m-r-15"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
			    <a href="javascript:;"><i class="fa fa-comments fa-fw"></i> Comment</a>
			</div>
		</div>
		<!-- end timeline-body -->
	</li>
	<li>
		<!-- begin timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;"><i class="fa fa-spinner"></i></a>
		</div>
		<!-- end timeline-icon -->
		<!-- begin timeline-body -->
		<div class="timeline-body">
			Loading...
		</div>
		<!-- begin timeline-body -->
	</li>*@
</ul>
<!-- end timeline -->

