﻿@model SfCms_model.class_pattern

<form action="@Url.Action("LogIn","Account")" method="post" class="margin-bottom-0" data-parsley-validate="true">
    <div class="form-group m-b-20">
        <input type="text" class="form-control input-lg" id="login" name="login" placeholder="Login" maxlength="32" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
    </div>
    <div class="form-group m-b-20">
        <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Hasło" maxlength="32" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
    </div>
    <div class="login-buttons">
        <button type="submit" style="background-color:#1db7a0" class="btn btn-success btn-block btn-lg">Zaloguj się</button>
    </div>
    @{
        if(ViewBag.LogInFailed == true)
        {
            <br />
            <div class="alert alert-danger fade in m-b-15">
				<strong>!</strong>
				@ViewBag.LogInInfo
				<span class="close" data-dismiss="alert">&times;</span>
			</div>
        }    
    }
</form>