﻿@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    background-color: #ffffff !important;
    color: #777777;
}

a {
    text-decoration: none;
    outline: none;
}

.bg-gray1, .bg-sponsorzy {
    background-color: #C4C4C4;
}

.bg-gray2 {
    background-color: #F1F1EF;
}

.bg-gray3 {
    background-color: #DCDCDC;
}

.bg-blue1 {
    background-color: #028ECF;
}

.bg-blue2, .bg-stypendysta {
    background-color: #448BB3;
}

.bg-blue3, .bg-home {
    background-color: #71c4da;
}

.bg-red, .bg-program {
    background-color: #CD4340;
}

.bg-green1 {
    background-color: #9CA925;
}

.bg-green2, .bg-mentor {
    background-color: #A3B61D;
}

.bg-yellow, .bg-crowdfunding {
    background-color: #F3BE00;
}

.bg-orange, .bg-biegaj {
    background-color: #FD7324;
}

.bg-azure, .bg-efekt {
    background-color: #3FB6CF;
}

.bg-celed, .bg-stypendysci {
    background-color: #1CB59E;
}

.bg-white {
    background-color: #FDFDFD;
}

.floatfix {
    clear: both;
}

#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color ease-in-out .2s, box-shadow ease-in-out .5s;
    -o-transition: background-color ease-in-out .2s, box-shadow ease-in-out .5s;
    -moz-transition: background-color ease-in-out .2s, box-shadow ease-in-out .5s;
    -webkit-transition: background-color ease-in-out .2s, box-shadow ease-in-out .5s;
}

.header-shadow {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.16);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.16);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.16);
}

#header .top {
    height: 121px;
}

#logo {
    float: left;
    margin: 25px 0 0 100px;
}

#back {
    float: right;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 44px;
    margin-right: 90px;
}

.err_message_image {
    height:35px;
    margin: 10px auto;
}

@media screen and (max-width: 1024px) {
    #logo {
        margin-left: 40px;
    }
    #back {
        margin-right: 40px;
    }
}




#header .top a img {
    float: left;
    margin: 0;
}

#header .top a span {
    float: left;
    margin-left: 10px;
}

#container {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .wrapper:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }


/* FOOTER */

.account-no-info {
    position: absolute;
    left:15px;
    top:45px;
}

    .account-no-info p {
        font-size: .8em;
        line-height: 18px;
        margin: 0;
    }

    .account-no-info p.fat {
        font-weight: 700;
    }

#footer {
    font-weight: 200;
}

#footer-menu {
    margin-top: 110px;
    float: left;
}

    #footer-menu a {
        color: #777777;
        font-size: .8em;
        padding: 0 15px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        
    }
#footer-menu a:hover{
     color: #ffffff;
}

#social {
    margin-top: 100px;
    margin-right: 240px;
    float: right;
}

#footer .bg-gray2 span {
    margin-top: 16px;
    font-size: .8em;
    float: left;
}

#footer .bg-gray2 a {
    margin: 11px 0 8px;
    float: right;
}

@media screen and (max-width: 960px) {
    .account-no-info {
        left:0;
        right: 0;
        top:25px;
        margin: auto;
    }

    .account-no-info p {
        font-size: 1em;
        line-height: 1.4em;
        text-align:center;
    }

    #footer-menu {
        display: block;
        margin: 100px auto 0;
        width: 100%;
        float: none;
        text-align: center;
    }

    #social {
        margin-top: 10px;
        padding-top: 10px;

    }

        #social a {
            padding: 10px;
        }

    #footer .bg-gray3 .wrapper {
        padding: 10px 10px 0;
    }

    #footer .bg-gray2 .wrapper {
        padding: 0 20px;
    }
}
@media screen and (max-width: 720px) {
    #footer-menu a {
        padding: 0 8px;
        font-size: 1em;
        font-weight: 400;
        display: inline-block;
        margin: 10px 0;
    }
    #social {
        text-align: center;
        float: none;
        margin-right: auto;
    }
}
@media screen and (max-width: 500px) {
    #footer-menu a {
        display: block;
        padding: 8px 0;
        margin: 0 auto;
    }
}