
.icon-icon-award {
	background-image: url('../img/icon-award.png');
	background-repeat: no-repeat;
}

.icon-icon-chart {
	background-image: url('../img/icon-chart.png');
	background-repeat: no-repeat;
}

.icon-icon-people {
	background-image: url('../img/icon-people.png');
	background-repeat: no-repeat;
}

.icon-icon-person {
	background-image: url('../img/icon-person.png');
	background-repeat: no-repeat;
}

.icon-icon-time {
	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
}

.icon-icon-arrow-right {
	background-image: url('../img/icon-arrow-right.png');
	background-repeat: no-repeat;
}