#r {
    position: absolute;
    width: 1400px;
    height: 1010px;
    overflow: hidden;
    bottom: 45px;
    left:-60px;
    z-index: 1;
/*}
#r.anim {*/
    -webkit-animation: r-anim ease-in;
    -moz-animation: r-anim ease-in;
    -o-animation: r-anim ease-in;
    animation: r-anim ease-in;
}
@-webkit-keyframes r-anim {
    0%, 95% { opacity: 1 }
    100% { opacity: 0 }
}
@-moz-keyframes r-anim {
    0%, 95% { opacity: 1 }
    100% { opacity: 0 }
}
@-o-keyframes r-anim {
    0%, 95% { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes r-anim {
    0%, 95% { opacity: 1 }
    100% { opacity: 0 }
}
#static-rocket {
    position:absolute;
    left:-60px;
    bottom:40px;
    z-index:1; 
    opacity: 0;
}
.anim#static-rocket {
    opacity: 1;
    -webkit-animation: static-rocket-anim ease-in;
    -moz-animation: static-rocket-anim ease-in;
    -o-animation: static-rocket-anim ease-in;
    animation: static-rocket-anim ease-in;
}
@-webkit-keyframes static-rocket-anim {
    0%, 90% { opacity: 0 }
    100% { opacity: 1 }
}
@-moz-keyframes static-rocket-anim {
    0%, 90% { opacity: 0 }
    100% { opacity: 1 }
}
@-o-keyframes static-rocket-anim {
    0%, 90% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes static-rocket-anim {
    0%, 90% { opacity: 0 }
    100% { opacity: 1 }
}
#r img {
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#r-cloud1 {
    opacity: 0;
    z-index: 1;
    left:0;
    bottom: 0px; 
}
.anim #r-cloud1 {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: r-cloud1-anim ease;
    -moz-animation: r-cloud1-anim ease;
    -o-animation: r-cloud1-anim ease;
    animation: r-cloud1-anim ease;
}
@-webkit-keyframes r-cloud1-anim {
    0% { opacity: 0; transform: scale(.6)}
    30% { opacity: 1; transform: scale(1)}
    60% { opacity: 1 }
    80%, 100% { opacity: 0; transform: scale(.95) }
}
@-moz-keyframes r-cloud1-anim {
    0% { opacity: 0; transform: scale(.6)}
    30% { opacity: 1; transform: scale(1)}
    60% { opacity: 1 }
    80%, 100% { opacity: 0; transform: scale(.95) }
}
@-o-keyframes r-cloud1-anim {
    0% { opacity: 0; transform: scale(.6)}
    30% { opacity: 1; transform: scale(1)}
    60% { opacity: 1 }
    80%, 100% { opacity: 0; transform: scale(.95) }
}
@keyframes r-cloud1-anim {
    0% { opacity: 0; transform: scale(.6)}
    30% { opacity: 1; transform: scale(1)}
    60% { opacity: 1 }
    80%, 100% { opacity: 0; transform: scale(.95) }
}
#r-cloud2 {
    opacity: 0;
    z-index: 0;
    left: 16px;
    bottom: 0px; 
}
.anim #r-cloud2 {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: r-cloud2-anim ease;
    -moz-animation: r-cloud2-anim ease;
    -o-animation: r-cloud2-anim ease;
    animation: r-cloud2-anim ease;
}
@-webkit-keyframes r-cloud2-anim {
    0% { opacity: 0 }
    10% { opacity: 0; transform: scale(.7)}
    40% { opacity: 1; transform: scale(1)}
    73% { opacity: 1 }
    97%, 100% { opacity: 0; transform: scale(.95) }
}
@-moz-keyframes r-cloud2-anim {
    0% { opacity: 0 }
    10% { opacity: 0; transform: scale(.7)}
    40% { opacity: 1; transform: scale(1)}
    73% { opacity: 1 }
    97%, 100% { opacity: 0; transform: scale(.95) }
}
@-o-keyframes r-cloud2-anim {
    0% { opacity: 0 }
    10% { opacity: 0; transform: scale(.7)}
    40% { opacity: 1; transform: scale(1)}
    73% { opacity: 1 }
    97%, 100% { opacity: 0; transform: scale(.95) }
}
@keyframes r-cloud2-anim {
    0% { opacity: 0 }
    10% { opacity: 0; transform: scale(.7)}
    40% { opacity: 1; transform: scale(1)}
    73% { opacity: 1 }
    97%, 100% { opacity: 0; transform: scale(.95) }
}


#r-rocket-with-flames-wrapper {
    position: absolute;
    bottom:10px;
    left: 133px;
    width: 100%;
    height: 100%;
}
.anim  #r-rocket-with-flames-wrapper {
    -webkit-transform-origin: 1000px 100%;
    -moz-transform-origin: 1000px 100%;
    -o-transform-origin: 1000px 100%;
    transform-origin: 1000px 100%;
    -webkit-animation: r-rocket-with-flames-wrapper-anim ease-in; 
    -moz-animation: r-rocket-with-flames-wrapper-anim ease-in; 
    -o-animation: r-rocket-with-flames-wrapper-anim ease-in; 
    animation: r-rocket-with-flames-wrapper-anim ease-in; 
}
@-webkit-keyframes r-rocket-with-flames-wrapper-anim {
    10% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}
@-moz-keyframes r-rocket-with-flames-wrapper-anim {
    10% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}
@-o-keyframes r-rocket-with-flames-wrapper-anim {
    10% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}
@keyframes r-rocket-with-flames-wrapper-anim {
    10% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}

#r-rocket-with-flames {
    position: absolute;
    bottom: 0;
}
.anim #r-rocket-with-flames {
    -webkit-transform-origin: 50% -100px;
    -moz-transform-origin: 50% -100px;
    -o-transform-origin: 50% -100px;
    transform-origin: 50% -100px;
    -webkit-animation: r-rocket-with-flames-anim ease-in;
    -moz-animation: r-rocket-with-flames-anim ease-in;
    -o-animation: r-rocket-with-flames-anim ease-in;
    animation: r-rocket-with-flames-anim ease-in;
}
@-webkit-keyframes r-rocket-with-flames-anim {
    75% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.6); opacity: 0; }
}
@-moz-keyframes r-rocket-with-flames-anim {
    75% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.6); opacity: 0; }
}
@-o-keyframes r-rocket-with-flames-anim {
    75% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.6); opacity: 0; }
}
@keyframes r-rocket-with-flames-anim {
    75% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.6); opacity: 0; }
}
#r-flames-wrapper {
    position: absolute;
    z-index: 2;
    left: 5px;
    bottom: 15px;
    opacity: 0;
}
.anim #r-flames-wrapper {
    -webkit-animation: r-flames-wrapper-anim ease-in;
    -moz-animation: r-flames-wrapper-anim ease-in;
    -o-animation: r-flames-wrapper-anim ease-in;
    animation: r-flames-wrapper-anim ease-in;
}
@-webkit-keyframes r-flames-wrapper-anim {
    0% { opacity: 0;}
    20%, 100% { opacity: 1; }
}
@-moz-keyframes r-flames-wrapper-anim {
    0% { opacity: 0;}
    20%, 100% { opacity: 1; }
}
@-o-keyframes r-flames-wrapper-anim {
    0% { opacity: 0;}
    20%, 100% { opacity: 1; }
}
@keyframes r-flames-wrapper-anim {
    0% { opacity: 0;}
    20%, 100% { opacity: 1; }
}
#r-flames {
    position: absolute;
    top:0;
    z-index: 0;
}
.anim #r-flames {
    -webkit-animation: r-flames-anim 200ms infinite ease-in;
    -moz-animation: r-flames-anim 200ms infinite ease-in;
    -o-animation: r-flames-anim 200ms infinite ease-in;
    animation: r-flames-anim 200ms infinite ease-in;
} 
@-webkit-keyframes r-flames-anim {
    0 { transform: translate(0px,1px); transform: scale(1) }
    100% { transform: translate(0px,-1px); transform: scale(.98) }
} 
@-moz-keyframes r-flames-anim {
    0 { transform: translate(0px,1px); transform: scale(1) }
    100% { transform: translate(0px,-1px); transform: scale(.98) }
} 
@-o-keyframes r-flames-anim {
    0 { transform: translate(0px,1px); transform: scale(1) }
    100% { transform: translate(0px,-1px); transform: scale(.98) }
} 
@keyframes r-flames-anim {
    0 { transform: translate(0px,1px); transform: scale(1) }
    100% { transform: translate(0px,-1px); transform: scale(.98) }
}

#r-rocket {
    position: absolute;
    bottom: 0;
    z-index: 3;
    opacity: 1;
}
.anim #r-rocket {
    opacity: 0;
    -webkit-animation: r-rocket-anim ease-in;
    -moz-animation: r-rocket-anim ease-in;
    -o-animation: r-rocket-anim ease-in;
    animation: r-rocket-anim ease-in;
}
@-webkit-keyframes r-rocket-anim {
    0% { opacity: 1; }
    10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28% { transform: translate(1px,0px); opacity: 1; }
    11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29% { transform: translate(0px,0px); }
    30%, 32%, 36%, 42% { transform: translate(1px,0px); }
    31%, 34%, 39%, 46% { transform: translate(0px,0px); }
    100% { transform: translate(0px,0px); opacity: 1; }
}
@-moz-keyframes r-rocket-anim {
    0% { opacity: 1; }
    10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28% { transform: translate(1px,0px); opacity: 1; }
    11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29% { transform: translate(0px,0px); }
    30%, 32%, 36%, 42% { transform: translate(1px,0px); }
    31%, 34%, 39%, 46% { transform: translate(0px,0px); }
    100% { transform: translate(0px,0px); opacity: 1; }
}
@-o-keyframes r-rocket-anim {
    0% { opacity: 1; }
    10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28% { transform: translate(1px,0px); opacity: 1; }
    11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29% { transform: translate(0px,0px); }
    30%, 32%, 36%, 42% { transform: translate(1px,0px); }
    31%, 34%, 39%, 46% { transform: translate(0px,0px); }
    100% { transform: translate(0px,0px); opacity: 1; }
}
@keyframes r-rocket-anim {
    0% { opacity: 1; }
    10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%, 28% { transform: translate(1px,0px); opacity: 1; }
    11%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%, 29% { transform: translate(0px,0px); }
    30%, 32%, 36%, 42% { transform: translate(1px,0px); }
    31%, 34%, 39%, 46% { transform: translate(0px,0px); }
    100% { transform: translate(0px,0px); opacity: 1; }
}

#r.anim, 
.anim #r-cloud1,
.anim #r-cloud2,
.anim #r-rocket-with-flames-wrapper,
.anim #r-rocket-with-flames,
.anim #r-flames-wrapper {
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.anim#static-rocket,
.anim #r-rocket {
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    animation-duration: 12s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}