body {
    padding-top: 131px;
}
#bg-bars {
    top:-121px;
    z-index: -1;
    position: absolute;
    height: 670px;
    width: 100%;
}
#bg-bars .color1 {
    height: 484px;
    width: inherit;
    z-index: 0;
}
#bg-bars .color2 {
    height: 186px;
    width: inherit;
    z-index: 0;
}
.left-col {
    float: left;
    width: 63.5%;
    min-height: 450px;
}
.left-col p {
    text-align: justify;
    font-size: .85em;
    line-height: 1.2em;
    color: #3e433e;
    font-weight: 200;
}
.right-col {
    float: right;
    width: 35%;
    text-align: justify;
    min-height: 450px;
}
#subpage-icon {
    display: inline-block;
    width: 181px;
    height: 172px;
    margin: -15px 10px 0 -10px;
    padding: 20px 10px 15px 20px;
    border-radius: 0 50% 50% 50%;
}
#header-wrapper {
    width: 384px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
}
h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.45em;
    font-weight: 400;
    width: 100%;
    height: 83px;
    line-height: 83px;
}
#header-wrapper p {
    margin: 42px 39px;
}
.left-col .text-wrapper,
.left-col ul {
    position: relative;
    margin: 30px 48px 80px 51px;
}
.left-col .text-wrapper p {
    margin: 0 0 25px 20px;
}
.left-col .text-wrapper p span {
    font-weight: 400;
}
.left-col li {
    padding-left: 28px;
    padding-bottom: 32px;
    border-left: solid 3px #E9E9E9;
}
.left-col li:last-child {
    border-color: #ffffff;
}
.left-col .text-wrapper h2,
.left-col li h2 {
    margin-bottom: 5px;  
}
.left-col li h2:before {
    position: absolute;
    left: -9px;
    content:"";
    display: inline-block;
    margin: -3px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 3px solid #E9E9E9;
    background-color: #ffffff;
    outline: none;
}
.left-col h3 {
    font-size: .9em;
    margin: 5px 20px 10px;
}
.right-col h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    height: 20px;
    margin: 0 66px 30px;
    padding: 31px 18px 20px;
    border-bottom: 2px solid #e7e7e7;
    text-align: center;
    position: relative;
}
.right-col.text p {
    font-size: .85em;
    margin: 31px;  
    font-weight: 200;
    line-height: 1.2em;
}
.right-col.text ul {
    margin: 0 31px 31px;
}
.right-col.text li h3 {
    font-weight: 400;
    margin: 15px 0 5px;
}
.right-col.text li p {
    margin: 0 0 23px 10px;
}
.right-col.files ul {
    margin: 0 31px 31px 31px;
}
.right-col.files li {
    margin-top: 23px;
    position: relative;
    padding-left: 60px;
}
.right-col.files li h3 {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    font-size: .9em;
}
.right-col.files li p {
    font-size: .8em;
    text-align: justify;
    font-weight: 200;
}
.right-col, .right-col a {
    transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
}
.right-col li a.file-icon {
    position: absolute;
    top: -5px;
    left: 0px;
}