
.gray-bar {
    width: 100%;
    height: 28px;
    bottom: 0;
    z-index: 3;
}

#logos {
    z-index: 1;
    padding-bottom: 50px;
}

    #logos .wrapper {
        text-align: center;
    }

        #logos .wrapper > div {
            margin-top: 30px;
            display: block;
            text-align: center;
            vertical-align: top;
            margin-right: auto;
            margin-left: auto;
			width: 100%;
        }

        #logos .wrapper h2 {
            color: #a4a4a4;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            padding: 5px 0;
        }

    #logos img {
        max-width: 140px;
        max-height: 80px;
        margin: 15px 15px;
        vertical-align: middle;
    }

    #logos .partners img {
        max-width: 110px;
        max-height: 56px;
    }

#sponsorzy {
    width: 20%;
}

#partners {
    width: 55%;
}

.partners2 {
    width: 45%;
}

#operator {
    width: 24%;75
}

#sponsorzy .wrapper div a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
}

#logos .wrapper .hidden-content{
    display: none;
}