﻿    h1 {
        color: #4DBFAE;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1em;
        text-align: center;
        padding-bottom: 20px;
    }

    h2 {
        color: #a6a5a5;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        padding-bottom: 20px;
    }

    h3 {
        color: #444444;
        font-size: 0.85em;
        padding-bottom: 20px;
    }

    #left-col {
        padding-top: 40px;
        float: left;
        width: 63%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #right-col {
        float: right;
        width: 37%;
    }

    .box {
        background-color: #ffffff;
        margin: 14px;
        padding: 35px 35px 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        .box input, .box select {
            font-size: .7em;
            border-radius: 4px;
            border: 1px solid #a6a5a5;
            padding: 3px;
            width: 35%;
            margin-left: 5px;
        }

            .box input[type="radio"] {
                width: auto;
                margin: 5px 0;
                vertical-align: middle;
            }
        .box .radio-label {
            margin-left: 50px;
            cursor:pointer;
        }

        .box span {
            font-size: .9em;
            margin: 5px 0 5px 10px;
            vertical-align: middle;
        }

        .box > div {
            margin: 10px;
        }

        .box span#edit-date {
            font-size: .85em;
            color: #a6a5a5;
            vertical-align: baseline;
            margin-left: 10px;
        }

    #title.post-title {
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    input {
        color: #444444 !important;
    }

    label {
        font-size: .9em;
        color: #444444;
    }

    #for-content {
        font-size: .9em;
        padding: 20px 0 10px 20px;
    }

    .media {
        margin-top: 50px;
    }

        .media .label {
            width: 23%;
            font-size: .9em;
            color: #444444;
            display: inline-block;
            text-align: right;
            padding-right: 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .media input {
            width: 76%;
            padding: 10px;
            border-radius: 4px;
            border: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: #ffffff;
            height: 40px;
        }

    /*#footer-wrapper {
        position: static;
    }*/

    label span {
        vertical-align: middle;
    }

    label img {
        vertical-align: middle;
        margin-right: 10px;
    }

    input[type="submit"] {
        width: 165px;
        height: 35px;
        color: #ffffff !important;
        border: none !important;
        font-family: 'Source Sans Pro';
        font-weight: 700;
        background-color: #4DBFAE;
        text-transform: uppercase;
        color: #ffffff;
        font-size: .9em;
        margin: 20px auto 0;
        text-align: center;        
        transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
    }
    input[type="submit"]:hover {
        background-color: #70CCBE;

    }

.cke_chrome {
    border: none;
    box-shadow:none;
}
.cke_inner {
    border-radius: 4px;
}
.cke_top, .cke_bottom {
    background:none;
}
.cke_top {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.cke_bottom {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.cke_toolgroup, .cke_toolgroup a:hover {
    border:none;
    background: #ececec !important;
    box-shadow:none !important;
    border-radius:4px !important;
}
    .disabled {
        opacity:.6;
    }
    form {
        margin-bottom:70px;
    }
.image-wrapper {   
    width: 69%;
    margin-left:30%;
    text-align: center;
}
.file-wrapper {
    margin-bottom: 10px;
}
.file-wrapper img {
    margin: 20px auto;
    border: 10px solid #ffffff;
}

.media {
    display:none;
}