@media screen and (max-width: 1024px) {
    body{
        font-size:15px;    
    }
    #menu-mobile-wrapper{
        display: block;
    }
    #menu-desktop-wrapper{
        display: none;
    }
	.login-btn span:before{
		display:none;
	}
	
    a.login-btn:hover{
        border-color: #ffffff;
    }    .col-right{
        display: none;
    }
    .wrapper{
        width: 95%;
    }
    .col-left {
        width:  100%;
        padding-right: 0;
    }
    #row-info .col-right, #row-darczyncy .col-right, #row-nagrody .col-right  {
        display:block;
        width: 100%;
        text-align: center;
    }

    #row-scholar .photo-wrapper{
        width: 190px;
        height: 190px;
    }
    #row-mentor .photo-wrapper{
        width: 120px;
        height: 120px;
    }
    #row-scholar .photo-shadow{
        width: 190px;
        height: 190px;
    }
    #row-mentor .photo-shadow{
        width: 120px;
        height: 120px;
        top:3px;
        left: 4px;
    }
    #row-scholar .title-wrapper{
        height: 44px;
    }
    #row-scholar .photo-container{
        margin-right: 15px;
    }
    h1{
        line-height: 50px;
        font-weight: 600;
    }
    #row-scholar {
        padding-bottom: 10px;
    }
    #row-scholar .col-right .subtitle, #row-info .col-right .subtitle{
		padding: 0;
        text-align: center;
	}
    #row-mentor .description-wrapper div p {
        padding: 10px 8px 10px 8px !important;
    }
    #row-info .info-wrapper > div {
        width: 100%;
        border:none;
        margin:0 8px;
    }
    #row-info .info-wrapper .info-pos {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    #row-info .col-right .icon {
        width: 49px;
        height: 49px;
        display: block;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #row-info .col-right .value {
        text-align: center;
        padding-left: 0;
        margin-top: 30px;
    }
    #row-nagrody .prize {
        display: inline-block;
        width: 40%;
        margin: 14px 14px;
        vertical-align: top;
    }
    #row-nagrody .prize .blue-box {
        transition: none;
    }
    #row-blog .content-wrapper {
        border:none;
        width: 100%;
        padding-left: 0;
        position: relative;
    }
    #row-blog .date-wrapper:after {
        border: none;
        width: 0;
        height: 0;
    }
    #row-blog .date-wrapper{
        position: absolute;
        right: 0;
    } 
    .content-wrapper .content{
        text-align: center;
        position: relative;
    }
    #row-blog .post h3{
        float: left;
        display: block;
        width: 100%;
        text-align: left;
    }
    #row-nagrody .col-right{
        margin-top: 0 !important;
    }
    #row-mentor .photo-wrapper{
        border: 10px solid #1db7a0;
    }
}
@media screen and (max-width: 500px) {
	body{
        padding-top: 60px;
	}
    #header {
        height: 60px;
    }
        #header #menu_user_ajax, #header .wrapper {
            height: 100%;
        }

        #header img {
            padding: 9px 0;
            max-height: 100%;
            margin-left: 20px;
        }
    #logo {
        margin-left: 0;
    }
    #menu-mobile-btn {
        right: 20px;
    }
    #nav-icon {
        margin-top: 25px;
    }
	.menu a{
		line-height:60px;
	}
	#row-scholar .photo-wrapper{
		width: 160px;
		height: 160px;
	}
	#row-mentor .photo-wrapper{
        width: 90px;
        height: 90px;
    }
	#row-scholar .photo-shadow{
        width: 160px;
        height: 160px
    }
    #row-mentor .photo-shadow{
        width: 90px;
        height: 90px;
        top:3px;
        left: 4px;
    }
	#menu-mobile{
	padding:80px 0 20px 0;
	}
	#menu-mobile a{
		font-size:1.3em;
		padding: 15px;
	}
	.video iframe{
		width: 320px !important;
		height: 181px !important;
	}
	.maintext {
		font-size:9px;
	}
	.date-wrapper {
		width:20%;
	}
	#row-info .col-right .icon {
		width:38px;
		height:38px;
	}
	#row-scholar .col-right .value span, #row-info .col-right .value span {
		font-size: 1.8em;	
	}
	#row-scholar .col-right .subtitle, #row-info .col-right .subtitle {
		font-size: 0.8em;
	}
    #row-mentor .title-wrapper {
        padding-right: 80px;
    }
    #row-mentor .photo-container {
        margin-right: 10px;
    }
	#row-nagrody .prize{
		width: 43%;
		margin: 9px 9px;
	}
	.prize h5{
		font-size:.78em;
	}
}
@media screen and (max-width:370px){
	body{
		font-size:13px;
	}
	h1{
	font-size: 1.4em;
	}
	.menu a {
		line-height: 30px;
	}
	#row-mentor h2{
		font-size: 1em;
		line-height: 20px;
	}
	#row-scholar .photo-wrapper{
		    border: 6px solid #4DBFAE;
	}
	#row-mentor .photo-wrapper{
		    border: 4px solid #1db7a0;
	}
	#modal_register input{
		width:95% !important;
		max-width: 225px !important;
	}
	.donor .icon {
		width: 52px;
		height: 52px;
	}
        .donor .icon.facebook-pic:before {
            width: 52px;
		    height: 52px;
        }
	.login-wrapper, .password-wrapper, .input-wrapper{
		width:100% !important;
		max-width:225px !important;
	}
	.error-field{
		max-width:225px !important;
		width:100% !important;
	}
	.fb-log-button{
		max-width: 225px !important;
		width:100%;
	}
	#form_login input{
		max-width:225px !important;
		width:100% !important;
		
	}
	.input-wrapper:after{
		right:-3px !important;
	}
	.info-field{
		text-align:center !important;
	}
	.error-field{
		height:25px !important;
	}
	.text-field{
		max-width: 290px;
		width: 97% !important;
	}
	.modal-title{
		padding:15px 0 !important;
	}
	.modal-footer{
		padding:10px !important;
	}
	.prize .icon{
		left: 26px;
	}
	.prize h5{
		padding-left:65px;
	}
	.content-wrapper{
		    padding: 33px 0 0 15px
	}
	.gallery-wrapper .arrows .next{
		right:0;
	}
	.gallery-wrapper .arrows .prev{
		left:0;	
	}
	.maintext {
		font-size: 8px;
	}
	.video iframe {
		width: 290px !important;
		height: 162px !important;
	}
	#row-info .col-right .icon {
		width: 33px;
		height: 33px;
	}
	#row-nagrody .prize{
		width:94%;
		margin:6px auto;
		padding: 2px;
	}
	#logos .wrapper > div {
		margin-top:0 !important;
	}
    #logos a {
        display: inline-block;
        vertical-align:middle;
        padding:10px;
        width:49%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
	#logos img {
		margin: 0 !important;
        max-width: 100% !important;
        max-height: 40px !important;
	}
    #logos #operator a, #logos #sponsorzy a {
        width: 70%;
    }
    #logos #operator img, #logos #sponsorzy img {
        max-height: 55px !important;
    }
	#logos{
		padding-bottom:30px !important;
	}
	#social{
		margin-top:15px !important;
	}
}

@media screen and (max-width:320px){
	body{
		font-size:12px;
	}
	h1{
		line-height:36px;
	}
	#header{
		padding-left:10px;
	}
	#menu-mobile-btn{
		right:10px;
	}
	#menu-mobile {
		padding: 80px 0 5px 0;
	}
	#menu-mobile a{
		font-size: 1.25em;
		line-height:30px;
		padding:10px 0 0 0;
		width: 80%;
		height:22%;
	}
	#row-scholar .photo-wrapper{
		width: 100px;
		height: 100px;
	}
	#row-scholar h2{
		margin-right:8px;
	}
	#row-mentor .photo-wrapper{
        width: 70px;
        height: 70px;
		border: 2px solid #1db7a0;
    }
    #row-scholar .photo-shadow{
        width: 100px;
        height: 100px;
		top: 2px;
		left: 4px;
    }
    #row-mentor .photo-shadow{
		width: 70px;
		height: 70px;
		top: 1px;
		left: 2px;
    }
	#row-mentor .title-wrapper{
		margin: 20px 10% 0 27px;
		width:48%;
		padding-right:0;	
		}
	#row-scholar .title-wrapper{
		height:30px;
	}
	#row-scholar .photo-container{
		margin-top:-66px;
	}
	#row-scholar .title-wrapper{
		padding-left:90px;
	}
	.info-wrapper{
		margin-left:0px;
		margin-left:0px;
	}
	.date-wrapper{
		width:30%;
	}
	.maintext{
		line-height:10px;
		font-size: 7px;
	}
	.video iframe{
		width: 216px !important;
		height: 121px !important;
	}
	.content-wrapper{
	    padding: 16px 0 0 10px;
	}
	.modal-dialog{
		margin:10px auto 0;
	}
	.modal-title{
		padding:10px 0 !important;
	}
	.error-field {
		height: 30px !important;
	}
	.fb-log-button{
		margin-bottom: 15px;
		margin-top: 2px;
	}
	#form_login_brick input{
	    max-width: 225px !important;
		width: 100% !important;
	}
	.modal-dialog{
		margin-top:60px;
	}
	.text-field p {
		width: 97%!important;
		max-width: 234px !important;
	}
	#form_password_reset input{
		width:97% !important;
		max-width: 255px !important;
	}
	#modal_password_reset .modal-title{
		margin-top:13px !important;
	}
}
@media screen and (max-width:240px){
	h3 {
		margin-left: 2px;
	}
	.col-left{
		padding-right:7px;
	}
	#row-scholar {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	
	#row-scholar .photo-wrapper{
		width: 80px;
		height: 80px;
	}
    #row-scholar .photo-shadow{
        width: 80px;
        height: 80px;	
		top: 1px;
		left: 2px;
    }
	#row-scholar .photo-wrapper div {
		border: 2px solid #FFFFFF;
	}
	#row-scholar .photo-wrapper {
		border: 3px solid #4DBFAE;
	}
	#row-scholar .title-wrapper {
		padding-left: 64px;
	}
	#row-mentor .photo-shadow{
		width: 70px;
		height: 70px;
		top: 1px;
		left: 2px;
    }
	#row-mentor .title-wrapper{
		margin: 20px 10% 0 27px;
		width:48%;
		padding-right:0;	
	}
	#row-mentor .photo-wrapper {
		width: 60px;
		height: 60px;
	}
	#row-mentor .photo-shadow {
		width: 60px;
		height: 60px;
	}
	#row-mentor h2 {
		line-height: 13px;
	}
	#row-info .col-right .icon {
		width: 25px;
		height: 25px;
	}
	.video iframe {
		width: 212px !important;
		height: 118px !important;
	}
}
