﻿#fb-root #fb_dialog_ipad_overlay {
    position: fixed !important;
}

.modal-open {
    position: fixed;
}

.modal-dialog {
    width: 90%;
    max-width: 360px;
    margin: 100px auto 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modal-header, .modal-body {
    padding: 0;
    border: none;
    text-align: center;
}

    .modal-body .icon {
        display: block;
        margin: 0 auto 30px;
    }

    .modal-header .close {
        font-size: 1.5em;
        font-size: 1.5em;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
    }

.modal-content {
    border-radius: 0;
    background-color: #ffffff;
    padding: 8px;
}

    .modal-content div {
        background-color: #ececec;
    }

.modal-title {
    padding: 30px 0;
    text-align: center;
    color: #a6a5a5;
}

input {
    font-family: 'Source Sans Pro';
    width: 225px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 4px auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


    input[type="text"], input[type="password"], input[type="email"] {
        background-color: #ffffff;
        padding-left: 20px;
        color: #c5c5c5;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        border: 1px solid #ffffff;
    }

.login-wrapper input[type="text"], .password-wrapper input[type="password"] {
    padding-right: 30px;
}

input.submit-button {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    background-color: #4DBFAE;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .9em;
    margin: 15px auto 15px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

    input.submit-button:hover {
        background-color: #70CCBE;
    }

.login-wrapper, .password-wrapper, .input-wrapper {
    position: relative;
    width: 225px;
    left: 0;
    right: 0;
    margin: auto;
}

.password-wrapper {
    margin-bottom: 25px;
}

.login-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('../assets/img/icon_user.png');
    top: 13px;
    right: 10px;
}

.password-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('../assets/img/icon_pswd.png');
    top: 14px;
    right: 10px;
}

.input-wrapper:after {
    content: "*";
    width: 10px;
    height: 10px;
    position: absolute;
    display: block;
    right: -15px;
    top: 5px;
}

.modal-dialog .password_reset_link {
    color: #c5c5c5;
    font-size: .8em;
    float: right;
    margin-top: 2px;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

    .modal-dialog .password_reset_link:hover {
        color: #adadad;
    }

.submit-wrapper {
    text-align: center;
}


.modal-footer {
    text-align: center;
    border-top: 2px solid #ffffff;
}

.modal-dialog a {
    color: #4DBFAE;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

    .modal-dialog a:hover {
        color: #70CCBE;
    }

.error-field {
    height: 60px;
    width: 225px;
    position: relative;
    margin: 0px auto;
    text-align: right;
    left: 0;
    right: 0;
    font-size: .8em;
    color: #ae1d24;
    font-weight: 400;
}

    .error-field .error-text {
        position: absolute;
        bottom: 0;
        right: 15px;
        margin: 0;
    }

#form_login .error-field, #form_login_brick .error-field {
    height: 40px;
}
#form_password_reset_ajax .text-field p{
	text-align:center;
}
.err {
    border: 1px solid #ae1d24 !important;
}

.info-field {
    max-width: 225px;
    margin: auto;
    text-align: center;
    padding-right: 5px;
    font-size: .8em;
    font-weight: 400;
    color: #c5c5c5;
    margin-top: 15px;
}

.text-field {
    width: 290px;
    margin: auto;
    text-align: justify;
    font-weight: 400;
    color: #c5c5c5;
}

    .text-field h5 {
        color: #4DBFAE;
        font-size: 1em;
        text-align: center;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .text-field p {
        margin: 0 auto 9px;
        font-size: .9em;
        text-align: justify;
        width: 234px;
    }
    .text-field span {
        color:#4DBFAE;
    }

.loader-gif {
    display: none;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: 0 auto;
}
#modal_password_reset_info .modal-header .close{
	top:17px;
}
#modal_password_reset_info input.submit-button {
    max-width: 225px;
    width: 97%;
}