body {
    padding-top: 90px;
}

    body.noscroll {
        position: fixed;
        overflow: hidden;
    }

.mobile, .tablet-inline {
    display: none;
}

.fantom {
    position: absolute;
    top: -90px;
}

.page {
    position: relative;
    min-height: 400px;
}

#container {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#header {
    z-index: 10000;
    height: 90px;
}

#cloud {
    float: left;
    margin-top: 15px;
    margin-left: 106px;
    background-image: url('../img/cloud.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 156px;
    height: 99px;
}

    #cloud img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        margin-top: -30px;
        max-width: 100%;
        opacity: 0;
        transition: opacity ease-in-out .2s;
        -o-transition: opacity ease-in-out .2s;
        -moz-transition: opacity ease-in-out .2s;
        -webkit-transition: opacity ease-in-out .2s;
    }

        #cloud img.visible {
            opacity: 1;
        }

#menu-desktop {
    float: right;
    margin-top: 39px;
    text-transform:uppercase;
}

    #menu-desktop a {
        font-weight:200;
        color: #ffffff;
        padding: 0 8px;
        transition: color ease-in-out .2s;
        -o-transition: color ease-in-out .2s;
        -moz-transition: color ease-in-out .2s;
        -webkit-transition: color ease-in-out .2s;
        /*margin-left:-1px;
        margin-right:-1px ;*/
    }

        #menu-desktop a:hover, #menu-desktop a.active {
            color: #071116;
        }

#idea-menu {
    display: none;
    position: fixed;
    right: 0;
    padding: 20px 0 20px 20px;
    top: 50%;
    margin-top: -125px;
    z-index: 1000;
}

    #idea-menu img {
        display: block;
    }

    #idea-menu a {
        position: relative;
        display: block;
        margin: 5px 0;
        overflow: hidden;
    }

        #idea-menu a div.icon {
            display: block;
            float: right;
            padding: 8px 8px;
            border-radius: 28px;
            margin-right: -20px;
            border: 3px solid transparent;
            cursor: pointer;
            outline: none;
            text-align: center;
            transition: border ease-in-out .4s;
            -o-transition: border ease-in-out .4s;
            -moz-transition: border ease-in-out .4s;
            -webkit-transition: border ease-in-out .4s;
        }

        #idea-menu a.active div.icon, #idea-menu a:hover div.icon, #idea-menu a:active div.icon {
            border: 3px solid #ffffff;
        }

    #idea-menu div.label {
        text-align: center;
        float: right;
        height: 26px;
        width: 0px;
        line-height: 26px;
        margin-top: 10px;
        padding: 0 0 0 30px;
        font-size: .9em;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        -moz-transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #idea-menu a:hover div.label {
        width: 180px;
    }


/* CLOUDS */

#cloud1 {
    top: 0px;
    left: 190px;
    -webkit-animation: cloud1anim 33s infinite linear;
    -moz-animation: cloud1anim 33s infinite linear;
    -o-animation: cloud1anim 33s infinite linear;
    animation: cloud1anim 33s infinite linear;
}

#cloud2 {
    top: 110px;
    left: 350px;
    -webkit-animation: cloud2anim 41s infinite linear;
    -moz-animation: cloud2anim 41s infinite linear;
    -o-animation: cloud2anim 41s infinite linear;
    animation: cloud2anim 41s infinite linear;
}

#cloud3 {
    top: 130px;
    left: 390px;
    -webkit-animation: cloud3anim 47s infinite linear;
    -moz-animation: cloud3anim 47s infinite linear;
    -o-animation: cloud3anim 47s infinite linear;
    animation: cloud3anim 47s infinite linear;
}

#cloud4 {
    top: 20px;
    right: 110px;
    -webkit-animation: cloud4anim 39s infinite linear;
    -moz-animation: cloud4anim 39s infinite linear;
    -o-animation: cloud4anim 39s infinite linear;
    animation: cloud4anim 39s infinite linear;
}

#cloud5 {
    top: 40px;
    right: 0px;
    -webkit-animation: cloud5anim 57s infinite linear;
    -moz-animation: cloud5anim 57s infinite linear;
    -o-animation: cloud5anim 57s infinite linear;
    animation: cloud5anim 57s infinite linear;
}

#home-w #panorama {
    background: #71c4da; /* Old browsers */
    background: -moz-linear-gradient(top, #71c4da 0%, #bce1eb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71c4da), color-stop(100%,#bce1eb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #71c4da 0%,#bce1eb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #71c4da 0%,#bce1eb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #71c4da 0%,#bce1eb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #71c4da 0%,#bce1eb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71c4da', endColorstr='#bce1eb',GradientType=0 ); /* IE6-9 */
}

#panorama-mask {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
}

#cloud-orange {
    position: absolute;
    width: 250px;
    top:0;
    right: -50px;
    z-index: 1000;
}

#home-w img {
    vertical-align: bottom;
}

#animated-clouds {
    position: relative;
    z-index: 1;
}

    #animated-clouds img {
        position: absolute;
    }

#home-bars {
    margin-top: -21px;
    width: 100%;
    height: 21px;
}

#home-arrow {
    margin: 0 auto;
    display: block;
    width: 86px;
    height: 44px;
    background-image: url('../img/arrow_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}

    #home-arrow img {
        -webkit-animation: anim 3s infinite;
        -moz-animation: anim 3s infinite;
        -o-animation: anim 3s infinite;
        animation: anim 3s infinite;
        vertical-align:middle;
    }

@-webkit-keyframes anim {
    0%,100% {
        transform: translate(0px,0px);
    }

    50% {
        transform: translate(0px,5px);
    }
}

@-moz-keyframes anim {
    0%,100% {
        transform: translate(0px,0px);
    }

    50% {
        transform: translate(0px,5px);
    }
}

@-o-keyframes anim {
    0%,100% {
        transform: translate(0px,0px);
    }

    50% {
        transform: translate(0px,5px);
    }
}

@keyframes anim {
    0%,100% {
        transform: translate(0px,0px);
    }

    50% {
        transform: translate(0px,5px);
    }
}

#blue-bar {
    float: left;
    width: 60%;
    height: 100%;
}

#green-bar {
    height: 21px;
    float: right;
    width: 40%;
}

.gray-bar {
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 3;
}

    .gray-bar img {
        position: absolute;
        vertical-align: baseline;
        z-index: 10;
    }

#logo-poster {
    margin-left: 69px;
    vertical-align: baseline;
    bottom: -50px;
}
#ambasador {
    right: -10px;
    vertical-align: baseline;
    bottom: -50px;
}

#news-wrapper {
    height: 187px;
    position: relative;
}

.dummy-div {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.left-col {
    /*width: 438px;*/
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 38px;*/
    width: 47%;
    margin-right: 2%;
}

.right-col {
    display: inline-block;
    vertical-align: middle;
    width: 47%;
    margin-left: 2%;
}

    .left-col h2, .right-col h2 {
        font-weight: 700;
        margin-bottom: 15px;
        color: #082C53;
    }

    .left-col p, .right-col p {
        text-align: justify;
        font-size: .85em;
        font-weight: 200;
        line-height: 1.3em;
        color: #000000;
    }

.right-col p {
    display: none;
}

.left-col span {
    font-size: .8em;
    font-weight: 400;
    line-height: 1.3em;
    float: right;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
    padding: 2px 7px;
    border-radius: 2px;
    margin-top:10px;
}

.banner {
    height: 100% !important;
    position: relative;
}

.banner span{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}
.banner span:hover{
    border-color:#807e7e;
    color:#807e7e;
}
    .banner ul {
        height: 100% !important;
    }

    .banner li {
        list-style: none;
        height: 100%;
        float: left;
        text-align: justify;
        padding: 3px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .banner .dots {
        position: absolute;
        right: 0;
        left:0;
        margin: 0 auto;
        text-align:center;
        bottom: 0px;
        width: 160px;
    }

        .banner .dots li {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 0 12px;
            color: transparent;
            line-height: 0;
            text-indent: -999em;
            background: #888888;
            border-radius: 8px;
            cursor: pointer;
            float:none;
        }

            .banner .dots li:after {
                content: "";
                display: block;
                background-color: #D0D0D0;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                margin: -2px 0 0 -2px;
                -webkit-transition: background .5s;
                -moz-transition: background .5s;
                transition: background .5s;
            }

            .banner .dots li.active:after {
                background-color: #FDFDFD;
            }

.text-column {
    width: 39%;
}

.image-column {
    width: 60%;
    height: 100%;
}

    .image-column > img {
        max-width: 100%;
        max-height: 70%;
    }

.image-column, .text-column {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .text-column h2 {
        text-align: center;
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 15px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .text-column h3 {
        text-align: center;
        font-size: 1.05em;
        font-weight: 600;
        margin-bottom: 15px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .text-column p {
        text-align: justify;
        font-size: .92em;
        font-weight: 200;
        margin-bottom: 15px;
        color: #ffffff;
        line-height: 1.15em;
    }

.button-more {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 14px 25px;
    font-weight: 200;
    margin-top: 200px;
    border-radius: 4px;
    -webkit-transition:all 500ms ease-in;
    -moz-transition:all 500ms ease-in;
    -o-transition:all 500ms ease-in;
    transition:all 500ms ease-in;
}
.button-more:hover{
    color:#CEC0C0;
    border-color: #CEC0C0;
}
.button-wrapper {
    display: block;
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    margin: 30px auto 10px;
    color: #ffffff;
    width: 205px;
    height: 56px;
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 1px;
    padding-top: 5px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-radius: 7px;
}


#stypendysta-w .button {
    background-color:#4892BB;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}
#stypendysta-w .button:hover {
    background-color:#317DA8;

}


.button-wrapper a::after {
    display: inline-block;
    content: "";
    width: 205px;
    height: 56px;
    border-radius: 7px;
    position: absolute;
    left: 6px;
    bottom: 5px;
}
#stypendysta-w .button-wrapper a::after{
    background-color: #2A7198;
    
}

#program-w .button {
    background-color: #C84340;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}
#program-w .button:hover {
    background-color:#BA3D3A;

}
#program-w .button-wrapper a::after{
    background-color: #AF3936;
    
}

#mentor-w .button {
    background-color: #A0B31B;
    z-index: 2;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}
#mentor-w .button:hover {
    background-color:#90A019;

}
#mentor-w .button-wrapper a::after{
    background-color: #879718;
    
}

#efekt-w {
    min-height: 650px;
}

#efekt-w .button {
    margin-top: 60px;
    background-color: #35AEC7;
    z-index: 4;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}
#efekt-w .button:hover {
    background-color:#36A2B9;

}
#efekt-w .button-wrapper a::after{
    background-color: #1F7F94;;
    
}

#efekt-w img {
    max-height: none;
    max-width: none;
}
#efekt-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#efekt-w .image-column {
    width: 500px;
    height: 550px;
    position: relative;
}

#crowdfunding-w .button {
    background-color:#EEBC06;
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;    
    transition: background-color 500ms ease-in;
}
#crowdfunding-w .button:hover {
    background-color:#E4B50B;

}
#crowdfunding-w .button-wrapper a::after{
    background-color: #D2A70B;;
    
}
#crowdfunding-monit {
    height: 141px;
    width: 497px;
    background-image: url('../img/cf_monit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
}

    #crowdfunding-monit .left {
        float: left;
        width: 118px;
        margin-left: 9px;
        text-align: center;
        height: 100%;
    }

    #crowdfunding-monit .right {
        float: right;
        width: 118px;
        margin-right: 12px;
        text-align: center;
        height: 100%;
    }

    #crowdfunding-monit p {
        margin-top: 47px;
        font-size: .85em;
        color: #a6a5a5;
    }

    #crowdfunding-monit span {
        font-size: 2.5em;
        font-weight: 700;
        color: #5D5C5C;
    }

#biegaj-w .text-column {
    margin-top: 20%;
}
#biegaj-w .button img{
    padding-top: 8px;
}

#biegaj-w .button {
    margin: 15px auto 20px !important;
}

#biegaj-cloud {
    position: absolute;
    left: 50%;
    top: -20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 25%;
}

#biegaj-image {
    padding-top: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#sponsorzy-w h2 {
    color: #a4a4a4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    padding: 60px 0 30px;
}

#sponsorzy-w .wrapper div {
    text-align: center;
}

    #sponsorzy-w .wrapper div a {
        display: inline-block;
        vertical-align: middle;
        margin: 15px 25px;
    }

        #sponsorzy-w .wrapper div a img {
            max-width: 160px;
            max-height: 100px;
            vertical-align: middle;
        }

    #sponsorzy-w .wrapper div.partners a {
        width: 19%;
        margin: 0;
        padding: 15px 25px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #sponsorzy-w .wrapper div.partners a img {
        width: 100%;
    }

#sponsorzy-w .gray-bar {
    width: 100%;
    height: 30px;
    margin-top: 50px;
}

/*#footer {
    font-weight: 200;
}

#footer-menu {
    margin-top: 45px;
    float: left;
}

    #footer-menu a {
        color: #010101;
        font-size: .8em;
        padding: 0 15px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        
    }
#footer-menu a:hover{
     color: #ffffff;
}

#social {
    margin-top: 35px;
    margin-right: 240px;
    float: right;
}

#footer .bg-gray2 span {
    margin-top: 16px;
    font-size: .8em;
    float: left;
}

#footer .bg-gray2 a {
    margin: 11px 0 8px;
    float: right;
}*/

#stypendysci-w h2 {
	text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    padding-top: 40px;
}

#clue {
    position: absolute;
    right: 40px;
    top: 0px;
    background-image: url(../img/clue_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: .8em;
    height: auto;
    width: auto;
    margin: auto;
    padding: 95px 30px 40px;
    text-align: center;
    line-height: 1.3em;
    opacity: 0;
    transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -moz-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
}

    #clue.visible {
        opacity: 1;
    }

#title {
    position: relative;
    height: 80px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    /*padding-top: 40px;*/
    margin: 0 200px 30px;
}

.person {
    transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -webkit-transition: all ease-in-out .7s;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: auto;
    left: 0;
    right: 0;
}

    .person.visible {
        opacity: 1;
    }

#stypendysci-list li .person .b-name, .b-name {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 1.8em;
    display: inline-block;
    margin-right: 10px;
}

#stypendysci-list li .person .b-name a {
	color: #ffffff;
}

#stypendysci-list li .person .b-age, .b-age {
    display: inline-block;
    font-size: 1.2em;
}

.b-project {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 10px;
}

#stypendysci-list {
    text-align: center;
    /*margin-top: 40px;*/
}

    #stypendysci-list li {
        display: inline-block;
        width: 164px;
        height: 164px;
        margin: 15px 30px;
        border-radius: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        z-index: 1;
    }

        #stypendysci-list li > a {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        #stypendysci-list li .b-percent{
            display: none;
        }
		#stypendysci-list li .b-percent span{
            font-size: 1.5em;
        }
		
/* UNCOMMENT WHEN BENEFICIARIES KNOWN*/
#stypendysci-list li:after {
    position: absolute;
    content: "";
    background-image: url('../img/bg_beneficiary.png');
    background-size: contain;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 5px;
    margin: auto;
}
/*----------*/
.img-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -45% auto;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 2;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}

    .img-container div {
        height: 120%;
        width: 120%;
        margin-left: -10%;
        margin-top: -10%;
        background-color: rgba(0, 142, 125, 0.66);
        color: #ffffff;
        opacity: 0;
        transform: translate(0,20px);
        -o-transform: translate(0,20px);
        -ms-transform: translate(0,20px);
        -moz-transform: translate(0,20px);
        -webkit-transform: translate(0,20px);
        transition: 1s cubic-bezier(.02,.58,.28,1);
        -webkit-transition: 1s cubic-bezier(.02,.58,.28,1);
        -moz-transition: 1s cubic-bezier(.02,.58,.28,1);
        -o-transition: 1s cubic-bezier(.02,.58,.28,1);
        transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
    }

    .img-container:hover div {
        transform: translate(0,5px);
        -o-transform: translate(0,5px);
        -ms-transform: translate(0,5px);
        -moz-transform: translate(0,5px);
        -webkit-transform: translate(0,5px);
        opacity: 1;
    }

    .img-container h6 {
        padding-top: 60px;
        font-weight: 600;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .img-container p {
        font-weight: 200;
        font-size: 2em;
    }

    .img-container img {
        position: absolute;
        margin: auto;
        right: 0px;
        left: 0;
        height: 100%;
    }

.pie, .mask-content {
    background-color: #47bdae;
}

.pie {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
    /*float: left;*/
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: auto;
}

.rect {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    /*    transition: all ease-in-out 1.3s;
    -o-transition: all ease-in-out 1.3s;
    -moz-transition: all ease-in-out 1.3s;
    -webkit-transition: all ease-in-out 1.3s;  */
}

.r1, .r2 {
    background-color: #89181B;
}

.mask {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.m2 {
    transform: rotate(-45deg);
}

.mask-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#static-rocket {
    position: absolute;
    left: -60px;
    bottom: 40px;
    z-index: 1;
}

#r {
    display: none;
}
/* REMOVE WHEN BENEFICIARIES KNOWN*/
#temp-cover {
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

    #temp-cover .text-column {
        color: #fff;
        text-align: justify;
        width: 400px;
        margin: auto;
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -90px;
    }

    #temp-cover h2 {
        margin-bottom: 30px;
    }

    #temp-cover p {
        line-height: 1.5em;
    }

/* == MENU BTN == */

#menu-mobile {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .95);
    padding: 110px 0 30px;
    z-index: 3000;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
}

    #menu-mobile a {
        color: #092D54;
        padding: 25px;
        font-weight: 600;
        font-size: 1.4em;
        text-align: center;
        display: block;
        font-weight: 400;
    }

.menu-m-b {
    background: white;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#menu-mobile-btn {
    float: right;
    margin-top: 25px;
    position: fixed;
    right: 30px;
    background: transparent;
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    z-index: 3100;
    display: none;
}

#menu-mobile-btn-old {
    float: right;
    margin-top: 5px;
    position: fixed;
    top: -30px;
    right: 30px;
    background: white;
    z-index: 3100;
    display: none;
}

.nav-icon-old {
    display: none;
    width: 30px;
    height: 31px;
    position: relative;
    left: 0px;
    margin: 35px auto 0px;
    background: url(../img/menu-icon.png) no-repeat top left;
}

.nav-icon-close {
    width: 30px;
    height: 31px;
    position: relative;
    left: 0px;
    margin: 35px auto 0px;
    background: url(../img/exit.png) no-repeat top left;
}

.hide {
    display: none;
}

#nav-icon {
    width: 50px;
    height: 37px;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-animation-fill-mode: forwards;
}

    #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 70%;
        background: #ffffff;
        opacity: 1;
        left: 0;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-animation-fill-mode: forwards;
    }

        #nav-icon span#l1 {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        #nav-icon span#l2 {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        #nav-icon span#l3 {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    #nav-icon.open span#l1 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation-fill-mode: forwards;
        top: -3px;
        left: 4px;
        background: #092D54;
    }

    #nav-icon.open span#l2 {
        width: 0%;
        opacity: 0;
        background: #092D54;
    }

    #nav-icon.open span#l3 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation-fill-mode: forwards;
        top: 22px;
        left: 4px;
        background: #092D54;
    }

.gm-style div:nth-child(2){
    cursor: context-menu;
}
.hide-content {
    display: none;
}
/* == end of MENU BTN == */
