﻿
.form-group {
    text-align: right;
    margin-top: 30px;
    margin-right: 10px;
}

    .form-group span {
        text-align: right;
        padding-right: 15px;
        color: #ae1d24;
    }

input[type="submit"] {
    width: 65px;
    height: 25px;
    color: #ffffff !important;
    border: none !important;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    background-color: #ae1d24;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .9em;
    text-align: center;
}

.file-wrapper {
    width: 15%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

    .file-wrapper .label {
        padding-bottom: 10px;
    }

.image-wrapper img {
    max-width: 100%;
}

.video {
    text-align: center;
}

    .video iframe {
        width: 217px !important;
        height: 125px !important;
    }
