/* == MENU BTN == */

#menu-mobile {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .95);
    padding: 110px 0 22px;
    z-index: 3000;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
}

#menu-mobile a {
    color: #092D54;
    padding: 19px;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    display: block;
    font-weight: 400;
	height:22%;
	margin:5px auto;

}
a#help{
	font-size:.96em;
	color:#8C7F7F;
}


.menu-m-b{
    background: white;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#menu-mobile-btn {
    float: right;
    position: fixed;
    top: -6px;
    right: 30px;
    background: transparent;
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    z-index: 3100;
    display: none;
}

#menu-mobile-btn-old {
    float: right;
    margin-top: 5px;
    position: fixed;
    top: -30px;
    right: 30px;
    background: white;
    z-index: 3100;
    display: none;
}

.nav-icon-old {
    display: none;
    width: 30px;
    height: 31px;
    position: relative;
    left: 0px;
    margin: 35px auto 0px;
    background: white url(../img/menu-icon.png) no-repeat top left;
}

.nav-icon-close {
    width: 30px;
    height: 31px;
    position: relative;
    left: 0px;
    margin: 35px auto 0px;
    background: white url(../img/exit.png) no-repeat top left;
}

.hide {
    display: none;
}

#nav-icon {
    width: 50px;
    height: 37px;
    position: relative;
    margin: 35px auto 0px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -webkit-animation-fill-mode: forwards;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 70%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

#nav-icon span#l1 {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span#l2 {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span#l3 {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span#l1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-fill-mode: forwards;
    top: -3px;
    left: 4px;
}

#nav-icon.open span#l2 {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span#l3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-fill-mode: forwards;
    top: 22px;
    left: 4px;
}

/* == end of MENU BTN == */
.no-scroll{
    position: fixed;
    overflow: hidden;
}

#nav-icon.open span {
    background:#092D54;
}

@media only screen and (max-width: 1024px) {
    #menu-mobile-btn, #menu-mobile-btn-old  {
        display: block;
    }
}

