@media screen and (max-width: 1366px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-top: 110px;
    }

    #header .top {
        height: 100px;
    }

    #header .wrapper {
        height: 100%;
    }
    #logo {
        margin: 13px 0 0 40px;
    }

    .wrapper {
        width: 95%;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .left-col, .right-col {
        width: 90%;
        margin: 0 auto;
        float: none;
        min-height: 0;
    }

    #subpage-icon {
        display: none;
    }

    .text-wrapper {
        text-align: left;
    }

    .left-col .text-wrapper,
    .left-col ul {
        margin: 30px 40px;
        text-align: left;
    }

    .right-col.files li {
        width: 50%;
        float: right;
        margin: 10px 0;
        padding-right: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .right-col.files ul li.last {
        float: left;
    }

    .right-col.text li {
        width: 50%;
        float: left;
        margin-top: 0px;
        padding: 0 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        .right-col.text li p {
            margin-bottom: 0px;
        }

    #logos {
        padding: 10px 0;
    }

        #logos .wrapper,
        #footer .wrapper {
            width: 100%;
        }

            #logos .wrapper > div,
            #footer .wrapper > div {
                display: block;
                margin: 10px auto 0;
                width: 100%;
                float: none;
                text-align: center;
            }

    #social {
        padding-top: 10px;
    }

        #social a {
            padding: 10px;
        }

    #footer .bg-gray3 .wrapper {
        padding: 10px 10px 0;
    }

    #footer .bg-gray2 .wrapper {
        padding: 0 20px;
    }
}

@media screen and (max-width: 720px) {
    #footer-menu a {
        padding: 0 8px;
        font-size: 1em;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 70px;
    }

    #header .top {
        height: 60px;
    }

    #header .wrapper {
        text-align: left;
    }

    #header #logo img {
        float: none;
        max-height: 100%;
        padding: 9px 0;
        margin-left: 20px;
        box-sizing: border-box;
    }

    #logo {
        float: none;
        margin: 20px 0 0 0;
    }

    #back {
        margin: 22px 0 0 0;
        position: absolute;
        right: 20px;
    }

    #header span {
        display: none;
    }

    #header-wrapper {
        width: 90%;
    }

    h1 {
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
        height: 63px;
        line-height: 63px;
    }

    .left-col, .right-col {
        width: 95%;
    }

        .left-col .text-wrapper,
        .left-col ul {
            margin: 10px 15px 0;
        }

        .left-col li {
            padding-bottom: 10px;
        }

        .right-col ul {
            margin: 0 10px 21px 10px;
            text-align: center;
        }

        .right-col.text li,
        .right-col.files li {
            width: 100%;
        }

        .right-col li {
            padding-left: 50px;
            padding-right: 0;
        }

            .right-col li a.file-icon {
                top: 3px;
                left: 10px;
            }

                .right-col li a.file-icon img {
                    height: 30px;
                }

        .right-col.text p {
            margin: 10px 31px;
        }

    #logos .wrapper a img {
        max-width: 32%;
        margin: 10px 5px;
    }

    #footer-menu a {
        display: block;
        padding: 8px 0;
    }
}

@media screen and (max-width: 340px) {
    body {
        font-size: 13px;
    }

    #logos .wrapper a {
        padding: 5px;
        display: block;
    }

    #partners div {
        padding: 0 !important;
    }

    #footer .bg-gray2 span,
    #footer .bg-gray2 a {
        width: 100%;
    }

    #logo {
        margin-left: 10%;
    }

    #back {
        margin-right: 10%;
    }

    .right-col h2 {
        margin: 0 36px 10px;
        padding: 11px 18px 6px;
    }

    .right-col.text p {
        margin: 15px 20px 0;
    }

    #logos .wrapper a img {
        max-width: 50%;
    }
}
