@media screen and (max-width: 1366px) {
    body {
        font-size: 15px;  
    }
}
@media screen and (max-width: 1024px) {
    #header .top {
        height: 100px;
    }
    #header .wrapper {
        height: 100%;
    }
    #logo {
        margin: 13px 0 0 40px;
    }
    .wrapper {
        width: 95%;  
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .article {
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .date-wrapper {
        float: left;
        padding-top: 23px;
        border-left: solid 3px #E9E9E9;
    }
    .date-wrapper:after {
        left: -12px;
    }
    
    #news .article:first-child .date-wrapper {
        padding-top: 23px;
        border-left: none;
    }
    #news .article:first-child .date-wrapper:after {
         left: -9px;
    }
    .content-wrapper {
        width: 100%;
        padding: 23px 0 0 16px;
    }
    #news .article:first-child .content-wrapper {
        padding-top: 23px;
    }
    .content-wrapper .content img {
        margin-right: 23px;
        max-width: 35%;
    }
    #logos {
        padding: 10px 0;   
    }
    #logos .wrapper, 
    #footer .wrapper {
        width: 100%;
    }
    #logos .wrapper > div, 
    #footer .wrapper > div {
        display: block;
        margin: 10px auto 0;
        width: 100%;
        float: none;
        text-align: center;
    }
    #social {
        padding-top: 10px;
    }
    #social a {
        padding: 10px;
    }
    #footer .bg-gray3 .wrapper {
        padding: 10px 10px 0;   
    }
    #footer .bg-gray2 .wrapper {
        padding: 0 20px;   
    }
}

@media screen and (max-width: 720px) {
    #footer-menu a {
        padding: 0 8px;
        font-size: 1em;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 70px;   
    }
    #header .wrapper {
        text-align: left;
    }
    #header .top {
        height: 60px;
    }    
    #header .bottom {
        display: none;
    }
    #header-wrapper {
        display: inline-block;
    }
    #bg-bars {
        display: block; 
    }
    #news {
       width: 95%;    
    }
    .article {
        margin-top: -62px;
        padding-top: 60px;
    }
    .date-wrapper {
        z-index: -1;
    }
    .content-wrapper .content {
        font-size: 15px;
    }
    .content-wrapper .content p {
        line-height: 1.25em;
    }
    .content-wrapper .mobile {
        border: 4px solid #E9E9E9;
        margin: 0 auto 21px;
        display: block;
        max-width: 100%;
        max-height: 140px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .content-wrapper .mobile.logo {
        padding: 10px;
    }
    .fancybox, .logobox, .picbox {
        display: none;
    }
    #logo {
        float: none;
        margin: 20px 0 0 0;
    }
    #header #logo img {
        float: none;
        max-height: 100%;
        padding: 9px 0;
        margin-left: 20px;
        box-sizing: border-box;
    }
    #back {
        margin: 22px 0 0 0; 
        position: absolute;
        right: 20px; 
    }
    #header span {
        display: none;
    }
    #header-wrapper {
        width: 90%;
    }
    h1 {
        font-size: 1.2em;
        font-weight: 400;
        width: 100%;
        height: 63px;
        line-height: 63px;
    }
    #logos .wrapper a img {
        max-width: 32%;
        margin: 10px 5px;
    }
    #footer-menu a {
        display: block;
        padding: 8px 0;
    }
    .more {
        font-size: .85em;
        height: 14px;
    }
}

@media screen and (max-width: 340px) {
    body {
        font-size: 13px;   
    }
    #logos .wrapper a  {
        padding: 5px;
        display: block;
    }
    #partners div {
        padding: 0 !important;
    }
    .content-wrapper {
        margin-top: 2px;   
    }
    #footer .bg-gray2 span, 
    #footer .bg-gray2 a {
        width: 100%;
    }
    #logo {
        margin-left: 10%;
    }
    #back {
        margin-right: 10%;  
    }
    #logos .wrapper a img {
        max-width: 50%;
    }
}