﻿body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    padding-top: 90px;
    width: 100%;
    background-color: #ececec !important;
}

#header {
    background-color: #ececec;
    z-index: 100;
    height: 90px;
}

    #header #m_logo {
        padding-top: 25px;
        padding-left: 40px;
    }

.photo-wrapper {
    border: 5px solid #FFFFFF;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin-left: 40px;
    margin-top: 22px;
}

#user-name {
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

.menu {
	position:absolute;
    right:0;
}

    .menu a {
        color: #a6a5a5;
        text-transform: uppercase;
        line-height: 110px;
        padding: 0 15px;
        transition: color ease-in-out .2s;
        -o-transition: color ease-in-out .2s;
        -moz-transition: color ease-in-out .2s;
        -webkit-transition: color ease-in-out .2s;
    }

        .menu a:hover, .menu a.active {
            color: #071116;
        }

a.login-btn {
    border: 1px solid #a6a5a5;
    border-radius: 4px;
    padding: 11px 15px;
    margin: 0 10px;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

    a.login-btn:hover, a.login-btn:active, a.login-btn:focus {
        border: 1px solid #071116;
        color: #071116;
        outline: none;
    }

.login-btn span:before {
    display: inline-block;
    content: "";
    background-image: url('../img/icon_user.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    margin-right: 10px;
    vertical-align: middle;
}

.delete span:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('../img/icon_delete.png');
    top: 14px;
    right: 105px;
}

.edit span:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url('../img/icon_edit.png');
    top: 14px;
    right: 105px;
}

table {
    width: 100%;
    text-align: left;
    font-size: .8em;
    margin-top: 30px;
    margin-bottom: 100px;
}

th {
    background-color: #ffffff;
    height: 58px;
    vertical-align: bottom;
    padding-bottom: 10px !important;
    padding-top: 30px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
}

td {
    display: block;
}

    td.cell {
        padding: 20px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: inline-block;
    }

    td.content-row {
        height: auto;
        padding: 0;
        display: none;
        padding: 20px 20px 20px 37px;
    }

thead tr {
    background-color: #ffffff;
    border-bottom: 2px #ececec solid;
}

tbody tr {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

    tbody tr:hover {
        background-color: #efefef;
    }

.odd {
    background-color: #f9f9f9;
}

.even {
    background-color: #ffffff;
}

td.title, #title {
    width: 46%;
    padding: 20px 0 20px 37px;
}

.title {
    color: #4dbfae;
}

.category, #category {
    width: 12%;
}

.status, #status {
    width: 12%;
}

.date, #date {
    width: 12%;
}

.delete, #delete {
    width: 7%;
}

.edit, #edit {
    width: 9%;
}

.active {
    color: #41a85f;
}

.inactive {
    color: #ae1d24;
}

td a {
    color: #a6a5a5;
}

td img {
    display: inline;
    padding-right: 5px;
}

#footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

body.high #footer-wrapper {
    position: static;
}
