body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    padding-top: 90px;
    width: 100%;
    line-height: 1 !important;
}

img {
    vertical-align: baseline;
}

#header {
    background-color: #1db7a0;
    z-index: 100;
    height: 90px;
}

    #header img {
        padding-top: 13px;
    }

#logo {
    margin-top: 0;
    float: none;
}

.menu {
    float: right;
}

    .menu a {
        color: #ffffff;
        text-transform: uppercase;
        line-height: 90px;
        padding: 0 15px;
        transition: color ease-in-out .2s;
        -o-transition: color ease-in-out .2s;
        -moz-transition: color ease-in-out .2s;
        -webkit-transition: color ease-in-out .2s;
    }

        .menu a:hover, .menu a.active {
            color: #071116;
        }

#menu-desktop-wrapper a.help {
	color: #ffffff;
}

#menu-mobile a.help, #menu-desktop-wrapper a.help:hover {
	color: #89181B;
}

a.login-btn {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 11px 15px;
    margin: 0 10px;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

    a.login-btn:hover, a.login-btn:active, a.login-btn:focus {
        border: 1px solid #071116;
        color: #071116;
        outline: none;
    }

.login-btn span:before {
    display: inline-block;
    content: "";
    background-image: url('../img/user_icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    margin-right: 10px;
    vertical-align: middle;
}

/*CONTENT*/
.col-left {
    float: left;
    width: 65%;
    padding-right: 15px;
    position: relative;
}

.col-right {
    float: left;
    width: 35%;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

.photo-container {
    position: relative;
}

.photo-wrapper {
    position: relative;
    z-index: 2;
    display: inline-block;
    border-radius: 50%;
}

.photo-shadow {
    position: absolute;
    z-index: 1;
    display: block;
    border-radius: 50%;
}

.photo-wrapper div {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.title-wrapper {
    width: 90%;
    text-align: center;
}

.description-wrapper {
    text-align: center;
}

    .description-wrapper div {
        text-align: justify !important;
        /*padding: 10px 5px !important;*/
        color: #3E433E !important;
        font-size: .8em;
        line-height: 1.2em;
    }

        .description-wrapper div p {
            text-align: justify !important;
            padding: 2px 5px !important;
            color: #3E433E !important;
            font-size: 1em;
            line-height: 1.4em !important;
        }
        .description-wrapper div p * {
            line-height: 1em !important;
        }

.info-wrapper {
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

h1, h2, h3 {
    display: inline-block;
    color: #ffffff;
    vertical-align: baseline;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    line-height: 66px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 40px;
}

h3 {
    margin-left: 10px;
    font-weight: 200;
    font-size: 1.05em;
}

h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #1DB7A0;
    margin: 30px auto 20px;
    font-size: 1.2em;
}


#row-scholar {
    padding-top: 30px;
    background-color: #1db7a0;
    padding-bottom: 30px;
}

    #row-scholar .photo-container {
        float: left;
        margin-top: -100px;
        margin-right: 20px;
    }

    #row-scholar .photo-wrapper {
        width: 260px;
        height: 260px;
        border: 14px solid #4DBFAE;
    }

    #row-scholar .photo-shadow {
        top: 4px;
        left: 6px;
        background-color: #169D89;
        width: 260px;
        height: 260px;
    }

    #row-scholar .photo-wrapper div {
        border: 5px solid #FFFFFF;
    }

    #row-scholar .title-wrapper {
        margin: 20px 0 0 10%;
        padding-left: 160px;
        background-color: #1A9C89;
        height: 60px;
    }

    #row-scholar h2 {
        margin-top: 20px;
        font-size: 1.3em;
        padding: 0 5px 10px;
        line-height: 1em;
        display: block;
    }

    #row-scholar .info-wrapper {
        border-bottom: 3px solid #E8E8E8;
    }

        #row-scholar .info-wrapper > div, #row-info .info-wrapper > div {
            margin: 0 55px 0 75px;
            border-top: 3px solid #E8E8E8;
            border-left: 3px solid #E8E8E8;
        }

        #row-scholar .info-wrapper .info-pos, #row-info .info-wrapper .info-pos {
            position: relative;
            margin: 25px 0;
            text-align: left;
        }

    #row-scholar .col-right, #row-info .col-right {
        padding-bottom: 100%;
        margin-bottom: -100%;
    }

        #row-scholar .col-right .icon, #row-info .col-right .icon {
            position: absolute;
            left: -35px;
            width: 66px;
            height: 66px;
            background-size: contain;
        }

        #row-scholar .col-right .value, #row-info .col-right .value {
            color: #A6A5A5;
            font-weight: 200;
            height: 40px;
            padding-left: 45px;
        }

            #row-scholar .col-right .value span, #row-info .col-right .value span {
                font-weight: 700;
                font-size: 2.3em;
                color: #5E5D5D;
                margin-right: 5px;
            }

        #row-scholar .col-right .subtitle, #row-info .col-right .subtitle {
            font-weight: 700;
            text-transform: uppercase;
            color: #A6A5A5;
            padding-left: 45px;
            font-size: .95em;
            line-height: 1.4em;
        }

#row-mentor, #row-darczyncy {
    background-color: #21D0B6;
}

    #row-mentor .photo-container {
        float: right;
        margin-top: -100px;
        margin-left: 20px;
		margin-right: 20px;
    }

    #row-mentor .photo-wrapper {
        width: 175px;
        height: 175px;
        border: 14px solid #1db7a0;
    }

    #row-mentor .photo-shadow {
        top: 4px;
        left: 6px;
        background-color: #14AC95;
        width: 175px;
        height: 175px;
    }

    #row-mentor .title-wrapper {
        margin: 20px 10% 0 0;
        padding-right: 130px;
        height: 45px;
    }

    #row-mentor h2 {
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 700;
        line-height: 40px;
    }

    /*DARCZYŃCY*/
    #row-mentor .col-right {
        position: absolute;
        right: 0;
    }

    #row-mentor .info-wrapper, #row-darczyncy .info-wrapper  {
        border-top: 3px solid #E8E8E8;
        padding-bottom:0;
        margin-bottom:0;
    }

        #row-mentor .info-wrapper > div, #row-darczyncy .info-wrapper > div {
            position: relative;
            background-color: #ECECEC;
        }

        #row-mentor .info-wrapper h4, #row-darczyncy .info-wrapper h4  {
            margin-top: 8px;
            margin-bottom: 10px;
            padding: 30px 0 10px;
        }

.banner {
    min-height: 300px;
}

.banner ul {
    height: 100% !important;
}

.banner li {
    list-style: none;
    height: 100%;
    float: left;
    text-align: justify;
    padding: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.arrows {
    position: absolute;
    width: 100%;
    top: 30px;
    cursor: pointer;
}

    .arrows .prev {
        position: absolute;
        left: 40px;
        background-size: contain;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .arrows .next {
        position: absolute;
        right: 40px;
        background-size: contain;
    }

.banner li > div {
    margin: 0 20px 0 50px;
}

.donor {
    position: relative;
    margin: 25px 0;
    text-align: left;
    z-index: 2;
}

    .donor .icon {
        position: absolute;
        left: -37px;
        width: 66px;
        height: 67px;
        background-size: cover;
    }

        .donor .icon.facebook-pic {
            display: inline-block;
            border-radius: 50%;
            background-size: cover;
            border: 5px solid #cfcece;
        }
        
        .donor .icon.facebook-pic:before {
            content: "";
            position: absolute;
            top: -3px;
            left: -4px;
            width: 67px;
            height: 68px;
            background-color: #afafaf;
            z-index: -1;
            border-radius: 50%;

        }

    .donor .value {
        padding-left: 45px;
        padding-top: 18px;
        line-height: 1em;
    }

        .donor .value span {
            vertical-align: baseline;
        }

            .donor .value span.amount {
                color: #5E5D5D;
                font-size: 1.4em;
                font-weight: 700;
            }

            .donor .value span.currency {
                color: #ABAAAA;
                font-size: 1em;
                font-weight: 200;
            }

            .donor .value span.time {
                color: #1DB7A0;
                font-size: .9em;
                font-weight: 200;
            }

    .donor .name {
        color: #A6A5A5;
        font-size: .95em;
        font-weight: 700;
        padding-left: 45px;
        text-transform: uppercase;
    }

/*POSTS*/

.post {
    width: 100%;
    overflow: auto;
}

.dummydiv .date-wrapper:after {
    display: none;
}

.dummydiv.bottom .date-wrapper,
.dummydiv.bottom .content-wrapper {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.date-wrapper {
    position: relative;
    float: left;
    vertical-align: top;
    height: 100%;
    width: 15%;
    color: #A2A2A2;
    padding-top: 33px;
    font-size: .9em;
}

    .date-wrapper:after {
        position: absolute;
        right: -12px;
        content: "";
        display: inline-block;
        margin: 0;
        width: 21px;
        height: 21px;
        border-radius: 21px;
        border: 3px solid #E9E9E9;
        background-color: #ffffff;
        outline: none;
    }

.content-wrapper {
    width: 80%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 3px #E9E9E9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 33px 0 0 46px;
    color: #3e433e;
    text-align: justify;
}

    .content-wrapper .content {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 15px;
        position:relative;
    }

.post h3 {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1em;
    color: #3E433E;
    margin: 0 0 20px 0;
}

.post p {
    color: #3E433E;
    font-size: .85em;
    text-align: justify;
    line-height: 1.1em;
    font-weight: 200;
    margin-bottom: 25px;
}


.thumb {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #EBEBEB;
    margin: 0 8px;
}

.hide {
    display: none;
}

.video iframe {
    width: 438px !important;
    height: 250px !important;
}

#row-blog {
    overflow:hidden;
}

#row-blog .col-right {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 80px;
}

    #row-blog .col-right h4 {
        margin: 30px 0;
    }

    #row-blog .col-right .info-wrapper, #row-nagrody .col-right .info-wrapper {
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
    }

.support-finished {
    position: absolute;
    background-color: rgba(29,183,160,.7);
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: 1;
}

    .support-finished .support-finished-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 250px;
    }

    .support-finished-container h6 {
        color: #ffffff;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 auto 10px;
    }

    .support-finished-container img {
        width: 100px;
    }
    
    .support-finished-container a {
        color: #ffffff;
        margin-top: 23px;
        display: inline-block;
        transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        line-height: 35px;
        padding: 0 20px;
        font-size: 1em;
        border: 1px solid #ffffff;
        border-radius: 4px;
    }

    .support-finished-container a:hover {
        color: #89181B;
        border-color: #89181B;
    }

.prize {
    width: 100%;
    height: auto;
    background-color: #ECECEC;
    padding: 14px;
    position: relative;
    margin: 14px auto;
}

    .prize .title {
        position: relative;
        margin: 10px auto 20px;
    }

    .prize .icon {
        position: absolute;
        width: 33px;
        height: 27px;
        left: 35px;
    }

    .prize h5 {
        font-weight: 700;
        font-size: 1em;
        color: #A6A5A5;
        text-transform: uppercase;
        padding-left: 80px;
        text-align: left;
    }

    .prize span.amount {
        font-weight: 700;
        font-size: 1.4em;
        color: #5E5D5D;
    }

    .prize span.currency {
        font-weight: 200;
        text-transform: lowercase;
    }

    .prize .descr {
        text-align: justify;
        line-height: 1.1em;
        font-size: .8em;
        margin: 0 30px 20px;
    }

    .prize .blue-box {
        opacity: 0;
        position: absolute;
        background-color: rgba(29,183,160,.85);
        top: 14px;
        bottom: 14px;
        left: 14px;
        right: 14px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        cursor: pointer;
    }

        .prize .blue-box p {
            position: absolute;
            color: #ffffff;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 700;
            top: 50%;
            left: 0;
            right: 0;
            margin: -19px auto 0;
            height: 36px;
            line-height: 36px;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            transition: all 1s;
            transform: translate(0,20px);
            -ms-transform: translate(0,20px);
            -webkit-transform: translate(0,20px);
            opacity: 0;
        }

.gray-bar {
    height: 30px;
}

@media only screen and (min-width:1024px) {
    .prize:hover .blue-box {
        opacity: 1;
    }

        .prize:hover .blue-box p {
            opacity: 1;
            transform: translate(0,0px);
            -ms-transform: translate(0,0px);
            -webkit-transform: translate(0,0px);
        }
}

/* FACEBOOK BUTTONS */

/*FB SHARE*/
.share_button {
	overflow: auto;
	margin-top: 10px;
}

.css3button {
    float: right;
    margin: 0 10px 5px 0;
    padding: 5px 7px;
    display:inline-block;
    text-decoration: none;
    text-align: left;
    background: #3b5998;
    border: 0;
    -moz-box-shadow:
    3px 3px 0 #173e7f;
    -webkit-box-shadow:
    3px 3px 0 #173e7f;
    box-shadow:
    3px 3px 0 #173e7f;
    cursor: pointer;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

.css3button:hover {
    opacity: 0.75;
}

.maintext {
    line-height: 12px;
    float: left;
    padding-left: 20px;
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
}

.maintext.icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqUlEQVQ4T+WTUQ3CQBBE3yhAAjgAB4ADJOAEcFAJ4KR1UByAAxwMWbgjDSTttb9csp/7ZmcmJ9stsGTaa2Xb03bfW2MAF+CWxDbAegxgK6nOl9o+AodSQCMpFLG9AObAPk2RhZOkUAzAA5h1MyvJoAv4CbwP0ADhu87+k/c4YJer7wN8lL9rth3gwRbOQMxd0qs+2xFm2KiAVWkLkzPIl/8DYOg792VwfQIFyYly5DAvCAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat; 
	background-position: left;                               
    background-size: 12px;
    padding-top: 0;
}

/*FB LOGIN*/
.fb-log-button {
    width: 225px; 
	height: 38px;
    display:inline-block;
    text-decoration: none;
    text-align: left;
    background: #3b5998;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
}

.fb-log-button:hover {
    opacity: 0.75;
}

.fb-log-button:active {
    background: #3b5998;
    outline: none;
}

.btn-text {
    line-height: 12px;
    font-family: 'Source Sans Pro';
    font-size: 10px;
    color: #ffffff;
	text-transform: uppercase;
	font-weight:600;
	margin-top: 0;
	vertical-align: middle;
	display: inline-block;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 60%;
	font-size: .65em;
}

.btn-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA+ElEQVRYR+2W4RHBQBCF3+tACUqgAnRABXSACtABHSiBCtBBdEAFqOCZMzKTibhckiPG3P7L3OX2u7e7LyFKhqQRgCGAruWIA0nbOlgmv6Q9gI7Du/4BJC0BjB2Smy1+ASQ1AFwck38EwNRz98sANwBRAjAiObEBF2pCSTYFtiT7BdR5bPUJMCC5qROgR9KMZ6HwqcAfAkhqPu02ltU8GwvOijWAU3qB5KL0FOR0vUutjyRbdQKsKvmABwXaJJPG9CKGdQoqApxJmp6xRh6A+fgkaxj/A2QdOk3Z8DXv9mWccA5g9uZKX/GBABAUCAoEBYICQYH/U+AOxjalIYNKaIsAAAAASUVORK5CYII=');
    background-repeat: no-repeat; 
	background-position: center;
    background-size: 22px;
    border-right: 1px solid rgba(255,255,255,0.6);
 
	width: 40px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.btn-icon:hover {
    opacity: 0.95;
}


/*ADDED STYLES AFTER FIRST TEST*/

/*MENU*/
#menu-mobile-wrapper{
    display: none;
}

/*POST GALERY SLIDER*/
.gallery-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.gallery-wrapper a {
    margin: 0 auto;
    display: inline-block;
}
.gallery-banner li{
    display: inline-block;
}
span.prev, span.next{
    color: transparent;
}
.gallery-wrapper .arrows .prev{
    left:60px;
	top:37px;
	width:12px;
	height:27px;
}
.gallery-wrapper .arrows .next{
    right: 60px;
	top:43px;
	width:12px;
	height:27px;
}
#logos .wrapper > div{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#footer .bg-gray2 .wrapper{
	padding:0 20px;
}
