@media screen and (max-width: 1366px) {
    body {
        font-size: 15px;
    }
    #cloud-orange {
        right: 0px;
    }
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }

    #animated-clouds {
        position: absolute;
        width: 100%;
        height: 400px;
        overflow: hidden;
        z-index: 1;
    }

    #header {
        height: 75px;
    }

    body {
        padding-top: 75px;
    }

    .fantom {
        position: absolute;
        top: -75px;
    }

    #cloud {
        width: 110px;
        height: 70px;
        margin-left: 0px;
    }

        #cloud img {
            width: 34px;
            margin-top: -18px;
        }

    #cloud-orange {
        width:200px;
        right: 20px;
    }

    #menu-desktop {
        margin-top: 30px;
    }

    #panorama-mask {
        left: 20px;
    }

    .left-col {
        width: 48%;
        margin-right: 2%;
    }

    .right-col {
        width: 47%;
        margin-left: 2%;
    }

    .banner .dots li {
        width: 14px;
        height: 14px;
        margin: 0 12px;
        border-radius: 14px;
    }

        .banner .dots li:after {
            width: 14px;
            height: 14px;
            border-radius: 14px;
        }

    .text-column {
        width: 49%;
        margin: 20px 0;
    }

    .image-column, #efekt-w .image-column {
        width: 46%;
        margin: 0px 2%;
        padding: 20px 0;
    }

    #r, #cover-div {
        display: none !important;
    }

    .anim#static-rocket {
        opacity: 1 !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        animation: none !important;
    }

    /*#footer .wrapper > div {
        display: block;
        margin: 10px auto 0;
        width: 100%;
        float: none;
        text-align: center;
    }

    #social {
        padding-top: 10px;
    }

        #social a {
            padding: 10px;
        }

    #footer .bg-gray3 .wrapper {
        padding: 10px 10px 0;
    }

    #footer .bg-gray2 .wrapper {
        padding: 0 20px;
    }*/

    #efekt .image-column {
        width: 46%;
    }

    #stypendysci-w.page {
        height: auto;
    }

    #stypendysci-list {
        padding: 30px 0;
    }

        #stypendysci-list li {
            display: block;
            width: 100%;
            text-align: left;
            padding: 15px 30px;
            margin: 15px 0 45px 0;
        }

            #stypendysci-list li:after {
                top: 0;
                left: 15px;
                width: 164px;
            }

            #stypendysci-list li > a {
                width: 164px;
                left: 15px;
            }

                #stypendysci-list li > a .img-container div {
                    display: none;
                }

            #stypendysci-list li .person {
                position: static;
                width: 100%;
                padding: 0 0 0 180px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                color: #fff;
                opacity: 1;
            }

                #stypendysci-list li .person > a {
                    /*position: absolute;
                    color: #ffffff;
                    bottom: -22px;
                    right: 0;
                    left: initial;
                    top: initial;
                    width: auto;
                    height: auto;
                    border:1px solid #ffffff;
                    border-radius: 2px;
                    padding:2px 7px;
                    font-size: .8em;
                    font-weight: 400;
                    line-height: 1.3em;*/
					
					color: #1cb59e;
					font-size: 1em;
					position: static;
					margin-top: 5px;
					background-color: #ffffff;
					display: inline-block;
                    width: auto;
                    height: auto;
					padding: 8px 14px;
					font-weight: 400;
                    border-radius: 2px;
					
                }

            #stypendysci-list li .b-project {
                /*font-size: 1.1em;
                line-height: 1.4em;*/
                margin-top: 10px;
                text-align: justify;
            }

            #stypendysci-list li .b-percent {
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                bottom: -20%;
                font-weight: 600;
                text-align: center;
                color: #fff;
            }

    .tablet-inline {
        display: inline-block;
    }

    .no-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 960px) and (orientation: portrait) {
    .text-column {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .image-column {
        width: 50%;
        display: block;
        margin: 20px auto;
    }

    #biegaj-w .text-column {
        margin: 20px auto;
    }

    #efekt-w .image-column {
        margin: 0px auto;
        padding: 0;
        width: 50%;
        height: auto !important;
    }

    #static-rocket {
        opacity: 1 !important;
        position: static;
        width: 74%;
        margin-bottom: 6%;
    }

    #efekt-bg {
        left: -5%;
        width: 110%;
    }
}

@media screen and (max-height:900px) and (orientation: landscape) {
    #stypendysci-w.page {
        height: auto;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 720px) {
    .text-column {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    #menu-mobile-btn,
    #menu-mobile-btn-old {
        display: block;
    }

    #menu-desktop {
        display: none;
    }

    .image-column {
        display: none;
    }

    .page {
        height: auto !important;
        min-height: 0;
    }

        .page .wrapper {
            padding-top: 0 !important;
        }

    #home-w .wrapper {
        padding: 0;
    }

    #panorama {
        overflow: hidden;
        position: relative;
    }

    #panorama-img {
        margin-left: 5%;
        width: 100%;
    }

    #panorama-mask {
        left: 5%;
        width: 100%;
    }

    .gray-bar img {
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        max-width: 100%;
    }

    #ambasador {
        width: 25%;
        margin-right: 69px;
    }

    .dummy-div {
        display: none;
    }

    .left-col,
    .right-col {
        width: 80%;
        display: block;
        margin: auto;
        padding: 15px 0;
    }

    #news-wrapper {
        height: auto;
    }

    .banner {
        padding-bottom: 30px;
    }

        .banner .dots {
            left: 0;
            right: 0;
            text-align: center;
        }

            .banner .dots li {
                float: none;
            }

    #efekt-w {
        min-height: 0;
    }

    .text-column {
        padding: 40px 0;
    }

    #biegaj-w .text-column {
        margin: auto;
    }

    .button {
        margin: 30px auto 10px !important;
    }

    .mobile {
        display: block;
    }

    #sponsorzy-w .wrapper div a {
        margin: 0;
        display: inline;
    }

    #sponsorzy-w .wrapper a img {
        max-width: 32%;
        margin: 15px 15px;
        max-height: 56px;
    }
}

@media screen and (max-width: 500px) {
    #idea-menu {
        display: none !important;
    }

    .page {
        height: auto !important;
    }

    .text-column {
        float: none !important;
        margin: 0 auto !important;
        padding: 5%;
        width: 90%;
    }

    .image-column {
        display: none;
    }

    #animated-clouds {
        display: none;
    }

    #panorama-img,
    #panorama-mask {
        width: 120%;
    }

    #cloud-orange {
        width:150px;
        left: 120px;
    }

    #logo-poster {
        margin-left: 5%;
        width: 60%;
    }

    #ambasador {
        margin-right: 5%;
        width: 30%;
    }

    #menu-mobile {
        padding: 65px 0 10px;
    }

        #menu-mobile a {
            padding: 13px;
        }

    /*#footer-menu a {
        display: block;
        padding: 8px 0;
		width: 20%;
		margin: 0 auto;
    }*/

    #temp-cover .text-column {
        width: 100%;
        padding: 20px 40px;
        margin: auto;
        margin-top: -122px !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .no-mobile {
        display: none !important;
    }

    #stypendysci-list li {
        height: auto;
        min-height: 120px;
        padding: 10px;
    }

        #stypendysci-list li:after {
            width: 120px;
            left: 0;
        }

        #stypendysci-list li a {
            width: 120px;
            height: 120px;
            left: 0;
        }

        #stypendysci-list li .person {
            padding: 0 0 0 120px;
        }

            #stypendysci-list li .person .b-name {
                font-size: 1.2em;
            }

            #stypendysci-list li .person .b-age {
                font-size: 1em;
            }

            #stypendysci-list li .person .b-project {
                font-size: .95em;
            }
        #stypendysci-list li .b-percent {
              bottom: -35%;
        }
}

@media screen and (max-width: 320px) {

    #cloud-orange {
        width: 120px;
        left: 90px;
    }

    #temp-cover .text-column {
        margin-top: -150px !important;
    }

    .button {
        background-size: contain;
        width: 100%;
    }

        .button img {
            max-width: 100%;
        }

    #stypendysci-list li {
        min-height: 80px;
        padding: 10px;
    }

        #stypendysci-list li:after {
            width: 80px;
            left: 0;
        }

        #stypendysci-list li a {
            width: 80px;
            height: 80px;
            left: 0;
        }

        #stypendysci-list li .person {
            padding-left: 80px;
        }
        #stypendysci-list li .b-percent {
              bottom: -45%;
        }
}

@media screen and (max-width: 240px) {
    .wrapper {
        padding: 0 10px;
    }

    .text-column, #temp-cover .text-column {
        padding: 10px;
        width: 100%;
    }
            #stypendysci-list li .b-percent {
              bottom: -45%;
        }
}
