body {
    padding-top: 195px;
}
#header .bottom {
    height: 74px;
    text-align: center;
}
#header .bottom h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.4em;
    display: inline-block;
    margin-top: -10px;
    width: 315px;
    height: 68px;
    line-height: 68px;
    background-image: url('../img/title-news-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#bg-bars {
    display: none;
    top:-121px;
    z-index: -1;
    position: absolute;
    height: 670px;
    width: 100%;
}
#bg-bars .color1 {
    height: 484px;
    width: inherit;
    z-index: 0;
}
#bg-bars .color2 {
    height: 186px;
    width: inherit;
    z-index: 0;
}
#news {
    z-index: 1;
    background-color: #ffffff;
}
#header-wrapper {
    display: none;
    width: 384px;
    vertical-align: top;
    margin-top: -10px;
}
h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.45em;
    font-weight: 400;
    width: 100%;
    height: 83px;
    line-height: 83px;
}
#header-wrapper p {
    margin: 42px 39px;
}
.article {
    float: left;
    margin-top: -193px;
    padding-top: 190px;
}

.date-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 140px;
    color: #A2A2A2;
    padding-top: 33px;
}
.date-wrapper:after {
    position: absolute;
    right: -15px;
    content:"";
    display: inline-block;
    margin: -3px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 3px solid #E9E9E9;
    background-color: #ffffff;
    outline: none;
}

.content-wrapper {
    width: 816px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 3px #E9E9E9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 33px 0 0 46px;
    color: #3e433e;
    text-align: justify;
}

.content-wrapper > div {
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
.content-wrapper .content {
    border-bottom: 41px solid #ffffff;
    max-height: 167px;
    overflow: hidden;
    transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -webkit-transition: all ease-in-out .7s;
}
.content-wrapper .mobile {
    display: none;
}
.content-wrapper .content img {
    border: 4px solid #E9E9E9;
    float: left;
    margin-right: 31px;
    width: 250px;
}

.content-wrapper h2 {
    font-size: 1.3em;
    /*margin-bottom: 10px;*/
}

.content-wrapper p {
    font-size: .9em;
    font-weight: 200;
    line-height: 1.25em;
    margin-top: 9px;
}

#news .article:first-child .content-wrapper, 
#news .article:first-child .date-wrapper {
    padding-top:57px;
}

#news .article:last-child .content-wrapper {
    padding-bottom:64px;
}

.more {
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom:10px;
    width:70px;
    height: 15px;
    font-size: .8em;
    overflow: hidden;
}
.more div div {
    width: 100%;
    height: 50%;
}
.more span, .more img {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    
}
.more img {
    margin-left: 20px;
}
.more-wrapper {
    height: 30px;
    transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -webkit-transition: all ease-in-out .7s;
}
.translated {
    transform : translate(0,-15px);
    -o-transform : translate(0,-15px);
    -ms-transform : translate(0,-15px);
    -moze-transform : translate(0,-15px);
    -webkit-transform : translate(0,-15px);
}

.article-img-wrapper {
    padding:10px;
    display:block;
    width:250px;
    height:160px;
    margin-right:31px;
    box-sizing:border-box;
    border: 4px solid #E9E9E9;
    float:left;
}

.article .content a {
    color: #76AD52;
}

.article-img-wrapper.logo {
    padding:10px;
}

.article-img-wrapper.pic {
    padding:0px;
}

.article-img {
    width:100%;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
}

.logo .article-img {
    background-size:contain;
}

.pic .article-img {
    background-size:cover;
}