﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #EA6B1C;
    }
    .color2 {
        background-color: #FD7324;
    }
    .right-col, .right-col a { 
        color: #EA6B1C;
    }
    .right-col a:hover { 
        color: #FD7324;
    
    }
    #crowd-faq-iconset {
        display:table;
        margin-left: 50px;
    }
    #crowd-faq-iconset li {
        display:table-row;
        margin-left:20px;    
    }
    .faq-header {
        text-align:center;
        font-size:1.2em;
		margin-top: 40px;
		margin-bottom: 40px
    }
    img.crowd-list-img {
        display: table-cell;
        height: 95px;
        width: 95px;
        float:left;
    }
    img.faq-arrow {
        width: 40px;
        height: 80px;
        position:relative;
        left:70px;
        -webkit-transform:rotate(16deg);
        -ms-transform:rotate(16deg);
        transform:rotate(16deg);
    }
    span.crowd-list-text {
        display:table-cell;
        text-transform: uppercase;
        text-align: left;
        max-width: 120px;
        position:relative;
        left:10px;
        top: 33px;
        color:black;
    }
    .faq-arrow {
        position:relative;
        left:10px;
    }
@@media screen and (max-width:1024px) {
        #crowd-faq-iconset {
            margin: 35px auto;
        }
}
    @@media screen and (max-width:500px) {
        #crowd-faq-iconset {
            margin: 40px auto;
        }
        img.faq-arrow {
            position:relative;
            left:-19px ;
        }
}

    @@media screen and (max-width:320px) {
        img.crowd-list-img {
            height: 60px;
            width: 60px;
        }
        img.faq-arrow {
            left: -40px;
            width: 25px;
            height: 56px;
        }
    }

</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/menotr-logo-app.png" /></a>
            <a id="back" href="~/#biegaj" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/logo_run90_small.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Jak działa aplikacja?</h1>
        </div>
        <div id="faq">
            <div class="faq-header"><h2>APLIKACJA</h2></div>
                <ul >
                    <li>
                        <h2>Jak działa crowdfunding?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies</p>
                    </li>
                    <li>
                        <h2>Jak mogę zapoznać się z projektami, które mogę wesprzeć?</h2>
                        <p>Opis projektów znajduje się na blogach prowadzonych przez Stypendystów. Wystarczy kliknąć w sylwetkę Stypendysty by przenieść się do interesującego nas bloga.
                            Każdy Stypendysta prowadzi bloga na którym znajduje się opis projektu oraz dzieli się postępami w realizacji swojego projektu.</p>
                    </li>
                    <li>
                        <h2>Jak mogę wesprzeć finansowo wybrany projekt?</h2>
                        <p>Wystarczy wybrać cegiełkę z przedziałem cenowym i kliknąć przycisk <strong><em>Wesprzyj</em></strong>, który znajduje się na blogu każdego Stypendysty. System zapyta nas o dokładną kwotę, którą chcemy przelać.</p>
                    </li>
                     <li>
                        <h2>Jak przebiega rejestracja?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet</p>
                    </li>
                    <li>
                        <h2>Czy jest jakaś minimalna kwota wpłaty?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet</p>
                    </li>
                    <li>
                        <h2>Jak działa crowdfunding? Jak działa finansowanie?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,</p>
                    </li>
                    <li>
                        <h2>Na co Stypendyści przeznaczają pieniądze?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in</p>
                    </li>
                    <li>
                        <h2>Jak działa system nagród?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in,</p>
                    </li>
                    <li>
                        <h2>Czy mogę wesprzeć kilka projektów?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in</p>
                    </li>       
                    <li>
                        <h2>Co w sytuacji, gdy projekt nie zbierze maksymalnej kwoty Stypendium?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in</p>
                    </li>  
                    <li>
                        <h2>Jeżeli wesprę projekt, kiedy mój rachunek zostanie obciążony?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a</p>
                    </li>  
                    <li>
                        <h2>Co stanie się jak projekt zbierze potrzebną kwotę przed terminem?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a</p>
                    </li>  
                    <li>
                        <h2>Jak wygląda sama płatność? Czy to bezpieczne?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a</p>
                    </li> 
                    <li>
                        <h2>Czy mogę wesprzeć projekt anonimowo?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer</p>
                    </li>
                    <li>
                        <h2>Czy kwota jaką wspieram projekt jest widoczna publicznie?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer</p>
                    </li>
                    <li>
                        <h2>Jeśli kogoś wesprę, to jakie informacje o mnie
        otrzymuje autor projektu?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Czy mogę wspierać projekt z zagranicy?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Projekt który wsparłem zakończył się przed
        zaksięgowaniem wpłaty (mój bank nie działa w weekend), co teraz?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Czy wpłaty są zwolnione z podatku? Czy wsparcie
        jest darowizną?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Czy mogę nie chcieć otrzymywać nagrody za
        wsparcie?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Czy projekt może uzyskać więcej pieniędzy niż
        planowane?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Kto tworzy nagrody dla projektów?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Kiedy przekazywane będą nagrody po dokonaniu
        wspracia?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Co jeśli twórca projektu potrzebuje mój adres do
        wysyłki?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>Gdzie znajdę regulamin serwisu?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                    <li>
                        <h2>W którym miejscu mogę zadać pytanie, którego nie
        ma na liście?</h2>
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum</p>
                    </li>
                </ul>
   
        </div>
    </div>
    <div class="right-col bg-white">
        <h2>Jak działa crowdfunding?</h2>
            <div id="crowd-faq-iconset">
                
                    <ul>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_app1_phone.png" />
                                <span class="crowd-list-text">Pobierasz darmową aplikację</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_app2_at.png" />
                                <span class="crowd-list-text">Logujesz się</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_app3_run.png" />
                                <span class="crowd-list-text">Rozpoczynasz bieg</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_app4_km.png" />
                                <span class="crowd-list-text">Kilometry przeliczane są na złotówki</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_app5_mentor.png" />
                                <span class="crowd-list-text">Wspierasz program mentor</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd6_heart.png" />
                                <span class="crowd-list-text">Otrzymujesz podziękowanie</span>
                            </div>
                        </li>

                    </ul>
            </div>
  
    </div>
</div>

