﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-newspaper-o"></i> @Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_9) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Edit)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-edit"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.EditAsk) @Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_8) @Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_1):@Model.news.id.ToString()</h4>
            </div>
            <div class="panel-body panel-form">
                <form action="@Url.Action("Edit","News")" method="post" enctype = "multipart/form-data" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    <input type="hidden" id="id" name="id" value="@Model.news.id.ToString()"/>
                    <div class="form-group">
                        <!-- active -->
						<label class="control-label col-md-2 col-sm-2">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_2) :</label>
						<div class="col-md-2 col-sm-2">
							@{
                                string check = string.Empty;
                                if (Model.news.active == true)
                                {
                                    check = "checked";
                                }
                            }   
                            <div class="checkbox"><label><input type="checkbox" id="active" name="active" value="true" @check/>&nbsp</label></div>
						</div>
                         <!-- date_user -->
                        <label class="control-label col-md-2 col-sm-2">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_5) *:</label>
                        <div class="col-md-2 col-sm-2">
                            <input type="text" class="form-control" id="datepicker-default" name="date_user" placeholder="@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_5)" value="@Model.news.date_user.ToShortDateString()" maxlength="10" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
                        <!-- s_news_id -->
                        <label class="control-label col-md-2 col-sm-2">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_12) *:</label>
                        <div class="col-md-2 col-sm-2">
                            <select class="form-control" id="s_news_id" name="s_news_id"  data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">
								<option value="">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Choose)</option>
								@for (var i = 0; i < Model.s.s_news.Count; i++)
                                {
                                    if(Model.news.s_news_id == @Model.s.s_news[i].id)
                                    {
                                        <option value="@Model.s.s_news[i].id.ToString()" selected="selected">@Model.s.s_news[i].name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.s.s_news[i].id.ToString()">@Model.s.s_news[i].name</option>
                                    }
                                }
							</select>
                        </div>
					</div>
                    <div class="form-group">
                        <!-- logo_link -->
						<label class="control-label col-md-2 col-sm-2" for="logo_link">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_13) :</label>
						<div class="col-md-10 col-sm-10">
							<input class="form-control" type="text" id="logo_link" name="logo_link" placeholder="@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_13)" value="@Model.news.logo_link" maxlength="200" data-parsley-required="false" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
						</div>
					</div>
                    <div class="form-group">
                        <!-- title -->
						<label class="control-label col-md-2 col-sm-2" for="title">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_3) *:</label>
						<div class="col-md-10 col-sm-10">
							<input class="form-control" type="text" id="title" name="title" placeholder="@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_10)" value="@Model.news.title" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
						</div>
					</div>
                    <div class="form-group">
                        <!-- content -->
                        <label class="control-label col-md-2 col-sm-2" for="title">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_4) *:</label>
						<div class="col-md-10 col-sm-10">
							<textarea class="ckeditor" id="content" name="content" rows="20" maxlength="4000" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">@Model.news.content</textarea>
						</div>
					</div>
                    <div class="form-group">
                        <!-- news_file -->  
                        @if (Model.news_file.id == 0)
                        {
                            <label class="control-label col-md-2 col-sm-2">@Model.news_dictionary.get_phrase(SfCms_model.class_news_dictionary.id.id_7) *:</label>
                        }
                        else
                        {
                            <label class="control-label col-md-2 col-sm-2">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.PhotoEdit) (@Model.news_file.name)</label>                    
                        }
                        <div class="col-md-10 col-sm-10">    
                            <input type="file" class="btn" name="file" />
                            @if (Model.news_file.id != 0)
                            {
                                <div class="media"><img src="@Url.Action("NewsImageSmall", "Image", new { id = Model.news.id })" alt="" class="media-object" /></div>
                            }
                        </div>
                    </div>
					<div class="form-group">
						<label class="control-label col-md-2 col-sm-2"></label>
						<div class="col-md-10 col-sm-10">
                            
                            <button type="submit" class="btn btn-primary">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Save)</button>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                </form>
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->
