﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #CD4340;
    }

    .color2 {
        background-color: #DC5D5B;
    }

    .right-col h2, .right-col h3 {
        color: #CD4340;
        margin: 0 45px 30px;
    }

    .right-col div {
        display: none;
    }

    .right-col p.name {
        color: #CD4340;
        text-align: right;
    }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-program.png" /></a>
            <a id="back" href="~/#program" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/partner-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Zostań Partnerem</h1>
        </div>
        <div class="text-wrapper">
            <p>
                Program Mentor działa dzięki zaangażowaniu Partnerów. Zapraszamy do zaangażowania osoby prywatne, firmy i organizacje. Jak można pomóc?
            </p>

            <h2>Wsparcie finansowe</h2>
            <p>
                Środki na działalność Programu pozyskujemy od darczyńców i prywatnych sponsorów. Wsparcie finansowe może być zrealizowane przez darowiznę – przeznaczoną na indywidualne stypendium lub działanie Programu Mentor (szkolenie wolontariuszy, superwizja, koordynacja projektu itp.) lub umowę sponsoringową.<br>
                Chcesz zadziałać w swoim środowisku – chętnie pomożemy w organizacji zbiórki publicznej czy akcji charytatywnej.
            </p>

            <h2>Wsparcie merytoryczne</h2>
            <p>
                Zapraszamy do współpracy specjalistów, którzy chcieliby podzielić się swoją wiedzą z Mentorami i Stypendystami. Nasi Stypendyści rozwijają się w różnych dziedzinach i chętnie nauczą się czegoś od osób, które są specjalistami w swoich dziedzinach. Znasz się na sporcie, marketingu, inżynierii, sztuce…? Chętnie skorzystamy z Twojego doświadczenia. Zapraszamy do uczestnictwa w spotkaniach i szkoleniu wolontariuszy. Program Mentor rozwija się dzięki zaangażowaniu Partnerów – chętnie skorzystamy z Twojej specjalistycznej wiedzy (wsparcie medialne, organizacyjne, poszukiwanie sponsorów).
            </p>

            <h2>Wolontariat pracowniczy</h2>
            <p>
                Współpracujemy z firmami odpowiedzialnymi społecznie. Zapraszamy wolontariuszy pracowniczych do zostania Mentorami, albo podzielenia się swoja wiedzą w ramach spotkań tematycznych. A może zespół w Państwa firmie chciałby wybiegać Stypendium dla uczestnika Programu? Działamy w ramach programu wolontariatu pracowniczego i gwarantujemy wysoką jakość współpracy. 
            </p>
        </div>
    </div>
    <div class="right-col text bg-white">
        <h2>Partnerzy o Programie</h2>
        <div id="cite-0">
            <p>Gdański Program Stypendialny Mentor jest dla młodych gdańszczan szansą na pokonanie barier w rozwoju, których często inaczej nie byliby w stanie ominąć.</p>
            <p>Wspieramy Program Mentor, bo profesjonalne przygotowanie Mentorów jest warunkiem ich skutecznych działań. Program Mentor to gdański sposób na budowanie społecznej spójności. Każdy z nas potrzebuje Mentora, aby pomógł nam poznać siebie i uwierzyć w swoje możliwości.</p>
            <p>Najważniejsze w Programie Mentor jest wielostronne działanie: z jednej strony realizacja długofalowego projektu podopiecznego, z drugiej systematyczne wsparcie dla Mentorów.</p>
            <p class="name">
                dr Dorota Jaworska-Matys<br>
                Uniwersytet Gdańsk
            </p>
        </div>
        <div id="cite-1">
            <p>Gdański Program Stypendialny Mentor  jest dla młodych gdańszczan szansą, wsparciem, okazją do pozytywnego (prze)budowania siebie jako człowieka, w szczególności jako ucznia/studenta, członka rodzinnej i lokalnej wspólnoty, mieszkańca Gdańska.</p>
            <p>Wspieramy Program Mentor, bo to wartość z rodzaju tych, które definiują się przez działanie (wartością jest to, co warto robić). Wszystko, co robimy w Programie Mentor wzmacnia nasze poczucie sensu</p>
            <p>Program Mentor to gdański sposób na bardziej spójną wspólnotę, w której jakość życia jednych nie jest obojętna dla drugich i w której lepsza kondycja miasta jest troską wszystkich jego mieszkańców. Tej wspólnocie na imię Gdańsk. Każdy z nas potrzebuje Mentora, aby osiągnąć pełnię swoich możliwości, ucząc się z nim i od niego.</p>
            <p>Program Mentor pozwala uwierzyć, że lepszy świat jest możliwy. Skutecznie uczy sprawczego bycia wśród innych, które dzięki gdańskim Mentorom i Stypendystom – ich podopiecznych, staje się wrażliwym przekształcaniem rzeczywistości, co dotyczy zarówno ich własnego podwórka, jak miasta, kraju, świata.</p>
            <p class="name">
                prof. dr hab. Maria Mednel<br>
                Uniwersytet Gdańsk
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#cite-' + Math.round(Math.random())).show();
    });

</script>
