﻿@model SfCms_model.class_pattern

<script src="~/jquery-1.11.3.min.js"></script>

<button id="Sponsor">Sponsor {id:"2"}</button>
<br />
<button id="Register1">Register1 {name:"Billy", surname:"Hamill",email:"hamill@ret.pl",password:"password",facebook_id:"abc",user_app_type:"1"}</button>
<br />
<button id="Register2">Register2 {name:"Billy", surname:"Hamill",email:"hamill@ret.pl",password:"password",facebook_id:"abc",user_app_type:"2"}</button>
<br />
<button id="LogIn1">LogIn1 {email:"hamill@ret.pl",password:"password",facebook_id:"abc",user_app_type:"1"}</button>
<br />
<button id="LogIn2">LogIn2 {email:"hamill@ret.pl",password:"password",facebook_id:"abc",user_app_type:"2"}</button>
<br />
<button id="Activity">Activity {user_app_id:"1"}</button>
<br />
<button id="ActivityAdd">ActivityAdd {"user_app_id":"1", "speed":"1,5","distance":"2,5","amount:"3,5","czy_anonymous":"true"}</button>

<br />
<button id="Transaction1">Transaction ip</button>
<br />
<button id="Transaction2">Transaction local</button>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#Sponsor").click(function (event)
        {
            var json = {id:"2"}

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/Sponsor',
                url: 'http://127.0.0.1/SfCms_ws/Ws/Sponsor',
                type: "POST",
                data: json,
                success: function (data)
                {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#Register1").click(function (event) {
            var json = {name:"Billy",surname:"Hamill",email:"hamill@ret.pl",password:"password",facebook_id:"abc",user_app_type:"1"}

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/Register',
                url: 'http://127.0.0.1/SfCms_ws/Ws/Register',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#Register2").click(function (event) {
            var json = { name: "Billy", surname: "Hamill", email: "hamill@ret.pl", password: "password", facebook_id: "abc", user_app_type: "2" }

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/Register',
                url: 'http://127.0.0.1/SfCms_ws/Ws/Register',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#LogIn1").click(function (event) {
            var json = { email: "hamill@ret.pl", password: "password", facebook_id: "abc", user_app_type: "1" }

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/LogIn',
                url: 'http://127.0.0.1/SfCms_ws/Ws/LogIn',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#LogIn2").click(function (event) {
            var json = { email: "hamill@ret.pl", password: "password", facebook_id: "abc", user_app_type: "2" }

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/LogIn',
                url: 'http://127.0.0.1/SfCms_ws/Ws/LogIn',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#Activity").click(function (event) {
            var json = {user_app_id:"1"}

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/Activity',
                url: 'http://localhost:50722/Ws/Activity',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#ActivityAdd").click(function (event) {
            var json = { user_app_id: "1", speed: "1,5", distance: "2,5", amount: "3,5", czy_anonymous: "true" }

            $.ajax({
                //url: 'http://s575094896.domenaklienta.pl/Mentor_ws/Ws/ActivityAdd',
                url: 'http://localhost:50722/Ws/ActivityAdd',
                type: "POST",
                data: json,
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#Transaction1").click(function (event) {
            var content = [
                    {
                        type: "S",
                        id_sale: "2",
                        date: "2015-05-29",
                        amount: "12",
                        currency: "PLN",
                        text: "168"
                    },
                    {
                        type: "S",
                        id_sale: "1",
                        date: "2012-05-29",
                        amount: "34",
                        currency: "PLN",
                        text: "169"
                    },

            ];
            things = JSON.stringify({
                "content": content,
                "content_size": "2",
                "communication_id": "111111",
                "token": "mx3azGa8GP"
            });

            $.ajax({
                //url: 'http://ws.program-mentor.pl/TransactionNotification/UpdateStatus',
                //url: 'http://localhost:50722/TransactionNotification/UpdateStatus',
                url: 'http://192.168.10.221:8080/SfCms_ws/TransactionNotification/UpdateStatus',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Basic " + btoa("mentor:JWEcQnnP4o"));
                },
                contentType: 'application/json; charset=utf-8',
                //headers: {
                //    "Authorization": "Basic " + btoa("u" + ":" + "p")
                //},
                type: "POST",
                data: things,
                //dataType: 'json',
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });

        $("#Transaction2").click(function (event) {
            var content = [
                    {
                        type: "S",
                        id_sale: "2",
                        date: "2015-05-29",
                        amount: "12",
                        currency: "PLN",
                        text: "168"
                    },
                    {
                        type: "S",
                        id_sale: "1",
                        date: "2012-05-29",
                        amount: "34",
                        currency: "PLN",
                        text: "169"
                    },

            ];
            things = JSON.stringify({
                "content": content,
                "content_size": "2",
                "communication_id": "111111",
                "token": "mx3azGa8GP"
            });

            $.ajax({
                //url: 'http://ws.program-mentor.pl/TransactionNotification/UpdateStatus',
                url: 'http://localhost:50722/TransactionNotification/UpdateStatus',
                //url: 'http://192.168.10.221:8080/SfCms_ws/TransactionNotification/UpdateStatus',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Basic " + btoa("mentor:JWEcQnnP4o"));
                },
                contentType: 'application/json; charset=utf-8',
                //headers: {
                //    "Authorization": "Basic " + btoa("u" + ":" + "p")
                //},
                type: "POST",
                data: things,
                //dataType: 'json',
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            });
        });
    });
</script>