﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-anchor"></i> Sponsorzy <small>Dodaj</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-plus-square"></i> Dodajesz Sponsora</h4>
            </div>
            <div class="panel-body panel-form">
                <form action="@Url.Action("AddSponsor","MobileApp")" method="post" enctype = "multipart/form-data" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    <div class="form-group">
                        <!-- active -->
					    <label class="control-label col-md-1 col-sm-1">Aktywny :</label>
					    <div class="col-md-2 col-sm-2">
						    <div class="checkbox"><label><input type="checkbox" id="active" name="active" value="true"/>&nbsp</label></div>
					    </div>
                        <!--sequence-->
					    <label class="control-label col-md-1 col-sm-1">Kolejność *:</label>
					    <div class="col-md-2 col-sm-2">
						    <select class="form-control" id="select-required" name="sequence"  data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">
								@for (var i = Model.start_seq; i < (Model.start_seq + 5); i++)
                                {
                                     <option value="@i">@i</option>
                                }
							</select>
					    </div>
                        <!--color1-->
					    <label class="control-label col-md-1 col-sm-1">Kolor 1 *:</label>
					    <div class="col-md-2 col-sm-2">
						    <input class="form-control" type="text" id="color1" name="color1" placeholder="#ffffff" maxlength="7" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>  
					    </div>
                        <!--color2-->
					    <label class="control-label col-md-1 col-sm-1">Kolor 2 *:</label>
					    <div class="col-md-2 col-sm-2">
						    <input class="form-control" type="text" id="color2" name="color2" placeholder="#000000" maxlength="7" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>  
					    </div>
				    </div>
                    <div class="form-group">
                        <!-- name -->
                        <label class="control-label col-md-1 col-sm-1">Nazwa *:</label>
                        <div class="col-md-2 col-sm-2">
                            <input class="form-control" type="text" id="name" name="name" placeholder="" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
                        <!-- amount -->
                        <label class="control-label col-md-1 col-sm-1">Kwota (zł) *:</label>
                        <div class="col-md-2 col-sm-2">    
                            <input class="form-control" type="text" id="amount" name="amount" placeholder="" maxlength="8" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
                        <!-- rate -->
                        <label class="control-label col-md-1 col-sm-1">Przelicznik (zł/km)*:</label>
                        <div class="col-md-2 col-sm-2">    
                            <input class="form-control" type="text" id="rate" name="rate" placeholder="" maxlength="5" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
					</div>
                    <div class="form-group">
                        <!-- logo -->
                        <label class="control-label col-md-1 col-sm-1">Logo *:</label>
                        <div class="col-md-2 col-sm-2">    
                            <input type="file" class="btn" name="file" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                        </div>
                    </div>
				    <div class="form-group">
					    <label class="control-label col-md-1 col-sm-1"></label>
					    <div class="col-md-10 col-sm-10">
                            <button type="submit" class="btn btn-primary">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</button>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
					    </div>
				    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->
