﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-user"></i> Sponsorzy <small>Usuń</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-trash-o"></i> Usuwasz sponsora</h4>
            </div>
            <div class="panel-body">
				<div class="note note-danger">
                    @if(Model.err) {
                        <h4>Błąd!</h4>
					    <p>
						    Nie można usunąć aktualnego Sponsora, na którego pro
                        </p>
                    }
                    else 
                    {
					    <h4>Sponsor zostanie usunięty</h4>
					    <p>
						    W celu potwierdzenia wybierz polecenie "Usuń" poniżej Sponsora
                        </p>
                    }
				</div>
            </div>
            <div class="panel-body">
				<div class="media">
					<span class="media-left">
							<img src="~/sponsor_logos/@Model.sponsor_extended.logo_link" alt="" class="media-object" />
                    </span>
					<div class="media-body">
						<h3 class="media-heading">@Model.sponsor_extended.name</h3>
                        @*<h4><i class="fa fa-cube"></i> @Model.project.name</h4>*@
                        <dl class="dl-horizontal">
                            <dt>Aktywny:</dt>
                            <dd>
                            @if (Model.sponsor_extended.active == true)
                            {
                                <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                            }
                            else
                            {
                                <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                            }
                            </dd>
                            <dt>Kolejność:</dt>
                            <dd>@Model.sponsor_extended.sequence</dd>              
                            <dt>Kwota zebrana:</dt>
                            <dd>@Model.sponsor_extended.gathered_amount zł</dd>                      
                            <dt>Kwota całkowita:</dt>
                            <dd>@Model.sponsor_extended.amount</dd>
                            <dt>Przelicznik:</dt>
                            <dd>@Model.sponsor_extended.rate zł/km</dd>
                            <dt>Kolor1:</dt>
                            <dd><div style="width:80px;height:30px;border:#e2e7eb solid 1px;background-color:@Model.sponsor_extended.color1"></div></dd>
                            <dt>Kolor1:</dt>
                            <dd><div style="width:80px;height:30px;border:#e2e7eb solid 1px;background-color:@Model.sponsor_extended.color1"></div></dd>                        
						</dl>
					</div>
				</div>
			</div>
            <div class="panel-body panel-form">
                @using (Html.BeginForm("DeleteSponsor", "MobileApp", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <fieldset>
                    <legend></legend>
                
                    <input type="hidden" id="id" name="id" value="@Model.sponsor_extended.id.ToString()"/>

                    <div class="form-group">
						<div class="col-md-12 col-sm-12">
                            <input type="submit" value="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)" class="btn btn-danger active"/>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                    </fieldset>
                }
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->