﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-anchor"></i> Sponsorzy <small>Lista</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
@*                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                </div>
                <h4 class="panel-title"><i class="fa fa-list-ul"></i></h4>
            </div>
            <div class="panel-body">
                <a href="@Url.Action("AddSponsorForm","MobileApp")" class="btn btn-success m-r-5 m-b-5"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</a>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 30px;">Aktualny sponsor</th>
                            <!-- active -->
                            <th>Aktywny</th>
                            <!-- mentor -->
                            <th>Koleność</th>
                            <!-- project -->
                            <th>Nazwa</th>
                            <th style="text-align:center">Logo</th>
                            <th>Kolor 1</th>
                            <th>Kolor 2</th>                       
                            <th>Kwota</th>
                            <th>Przelicznik</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{bool next = true;}
                        @for (var i = 0; i < Model.sponsor.list_ext.Count; i++)
                        {
                            <tr @Html.Raw(next ? "class='next'" : "class='prev'")>
                                <td style="text-align:center;vertical-align:middle;">
                                    @if(Model.sponsor.list_ext[i].current_sponsor) 
                                    {
                                        @Html.Raw("<div id='active-dot'></div>");
                                        next = false;
                                    }
                                </td>
                                @if (@Model.sponsor.list_ext[i].active)
                                {
                                    <td><span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span></td>
                                }
                                <td>@Model.sponsor.list_ext[i].sequence</td>
                                <td>@Model.sponsor.list_ext[i].name</td>
                                <td style="text-align:center">
                                 @*@{
                                    Model.mentor_file.get_data(SfCms_model.class_mentor_file.search_type.mentor_id, SfCms_model.class_mentor_file.image_type.empty, Model.mentor.list[i].id.ToString());
                                    
                                    if (@Model.mentor_file.id != 0)
                                    {
                                        <div class="media media-sm"><img src="@Url.Action("MentorImageSmall", "Image", new { id = Model.mentor.list[i].id })" alt="" class="media-object" /></div>
                                    }
                                }*@
                                    <img style="max-height:200px;max-width:200px" src="~/sponsor_logos/@{@Model.sponsor.list_ext[i].logo_link}?@DateTime.Now.Ticks" />
                                </td>
                                <td>
                                    @Model.sponsor.list_ext[i].color1
                                    <div style="width:80px;height:30px;border:#e2e7eb solid 1px;background-color:@Model.sponsor.list_ext[i].color1"></div>
                                </td>
                                <td>
                                    @Model.sponsor.list_ext[i].color2
                                    <div style="width:80px;height:30px;border:#e2e7eb solid 1px;background-color:@Model.sponsor.list_ext[i].color2"></div>
                                </td>
                                <td>
                                    <dl class="dl-horizontal w60">
                                        <dt>Zebrano:</dt>
                                        <dd>@Model.sponsor.list_ext[i].gathered_amount zł</dd>
                                        <dt>Z kwoty:</dt>
                                        <dd>@Model.sponsor.list_ext[i].amount.ToString() zł</dd>
                                    </dl>
                                </td>
                                <td>
                                    @Model.sponsor.list_ext[i].rate.ToString() zł/km
                                </td>
                                <td><a href="@Url.Action("DeleteSponsorForm", "MobileApp", new { id = @Model.sponsor.list_ext[i].id.ToString() })" class="btn btn-danger btn-sm active m-r-5"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</a></td>
                                <td><a href="@Url.Action("EditSponsorForm", "MobileApp", new { id = @Model.sponsor.list_ext[i].id.ToString() })" class="btn btn-primary btn-sm m-r-5"><i class="fa fa-edit"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Edit)</a></td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
	</div>	  
</div>
<!-- end row -->

