﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-anchor"></i> Biegi <small>Lista</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">
                        <a style="display:inline-block" href="@Url.Action("Runs", "MobileApp", new { hide_nulls = !Model.hide_nulls })">
                            @{string text = Model.hide_nulls ? "Pokaż" : "Ukryj";}                       
                            <i class="fa fa-list-ul"></i>
                            <span style="padding-left:5px">@text puste</span>
                        </a>
                </h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Aktywny</th>
                            <th>Data</th>
                            <th>Użytkownik</th>
                            <th>Anonimowo?</th>
                            <th>Prędkość</th>
                            <th>Dystans</th>
                            <th>Kwota</th>
                            <th>Sponsor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.activity.list_ext.Count; i++)
                        {
                            if(!Model.hide_nulls || (Model.hide_nulls && Model.activity.list_ext[i].distance > 0 && Model.activity.list_ext[i].amount > 0)) 
                            {
                                <tr>
                                    <td>@Model.activity.list_ext[i].id</td>
                                    @if (@Model.activity.list_ext[i].active)
                                    {
                                        <td><span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span></td>
                                    }
                                    <td>
                                        @Model.activity.list_ext[i].amount
                                    </td>
                                    <td>@Model.activity.list_ext[i].user_name @Model.activity.list_ext[i].user_surname<br />
                                        <a href="mailto:@Model.activity.list_ext[i].user_email">@Model.activity.list_ext[i].user_email</a>
                                    </td>
                                    @if (@Model.activity.list_ext[i].czy_anonymous)
                                    {
                                        <td>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</td>
                                    }
                                    else
                                    {
                                        <td>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</td>
                                    }
                                    <td>
                                        @Model.activity.list_ext[i].speed km/h
                                    </td>
                                    <td>
                                        @Model.activity.list_ext[i].distance km
                                    </td>
                                    <td>
                                        @Model.activity.list_ext[i].amount zł
                                    </td>
                                    <td>
                                        @Model.activity.list_ext[i].sponsor_name<br/>
                                        <img style="max-height:30px;max-width:30px" src="~/sponsor_logos/@{@Model.activity.list_ext[i].sponsor_logo}?@DateTime.Now.Ticks" />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
	</div>	  
</div>
<!-- end row -->

