﻿@model SfCms_model.class_pattern

@{
    //Layout = "~/Views/Shared/Projekty.cshtml";
}

<div id="content">
    paylane_id = @Model.paylane.id.ToString()<br />
    status = @Model.paylane.response_status<br />
    amount = @Model.paylane.response_amount.ToString()<br />
    currency = @Model.paylane.response_currency<br />
    description = @Model.paylane.response_description<br />
    hash = @Model.paylane.response_hash<br />
    id_sale = @Model.paylane.response_id_sale.ToString()<br />
</div>

<div>
    powrót do projektu: <a href="@Url.Action(Model.project.name,"Projekty")">fajer !</a>
</div>