﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<header id = "header">
		<div class="top color1-register">
			<div class="wrapper">
					<a id="logo" href="http://program-mentor.pl/">
						<img src="~/assets/img/mentor-logo.png">
					</a>	
				

			</div>
		</div>
</header>
<div id="bg-bars">
	<div class="color1-register"></div>
	<div class="color2-register"></div>
</div>

<div class="wrapper">
	<div class="left-col bg-white">
		@if (Model.nav.register)
		{	
			<div id="subpage-icon" class="color1-register">
				<img src="~/assets/img/register-subpage-icon.png">
			</div>
			<div id="header-wrapper">
				<h1 class="color2-register">Aktywacja zakończona</h1>
			</div>
			<div id="register-welcome">
                <h2>Witaj <b>@Model.user.name</b> !</h2>
				<p>Twoje konto zostało pomyślnie aktywowane.<br />Przejdź na stronę główną, wybierz projekt i wspomóż go!</p>
			</div>
			<div class="register-button-wrapper">
				<a id="register-back" href="http://program-mentor.pl/">
					<div class="register-button">
						<span class="register-text">Strona główna</span>
					</div>
				</a>
			</div>
		}
		else
		{
			if (Model.user.active)
			{
			<div id="subpage-icon" class="color1-register">
				<img src="~/assets/img/register-subpage-icon.png">
			</div>
			<div id="header-wrapper">
				<h1 class="color2-register">Rejestracja zakończona</h1>
			</div>
			<div id="register-welcome">
					<h2>Witaj <b>@Model.user.name</b> !</h2>
					<p>Twoje konto jest już aktywne.<br>Przejdź do strony głównej, aby się zalogować!</p>
			</div>
			<div class="register-button-wrapper">
				<a id="register-back" href="http://program-mentor.pl/">
					<div class="register-button">
						<span class="register-text">Strona główna</span>
					</div>
				</a>
			</div>
			}
			else
			{
			<div id="subpage-icon" class="color1-register">
				<img src="~/assets/img/register-subpage-icon.png">
			</div>
			<div id="header-wrapper">
				<h1 class="color2-register">Aktywacja nie powiodła się</h1>
			</div>
			<div id="register-welcome">
				<h2>Witaj!</h2>
				<p>Ten link jest nieprawidłowy<br />Sprawdź swoją skrzynkę mailową by odnaleźć link lub skontaktuj się z nami.</p>
			</div>
			<div class="register-button-wrapper">
				<a id="register-back" href="mailto:kontakt@program-mentor.pl">
					<div class="register-button">
						<span class="register-text">Kontakt</span>
					</div>
				</a>
			</div>
			}
		}
	</div>
</div>
<style type="text/css">
	body{
		font-size:15px;
		}
	
	.color1-register{
		background-color:#1DB7A0;
	}
	#bg-bars .color1-register {
		height: 484px;
		width: inherit;
		z-index: 0;
	}
	.color2-register{
		background-color:#21D0B6;
	}
	#bg-bars .color2-register {
		height: 186px;
		width: inherit;
		z-index: 0;
	}
	.left-col{
		min-height:418px;
		position:relative;
		float:none;
		margin: 0 auto;
	}
	.left-col p {
		text-align:center;
	}
	#register-welcome {
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 55%;
		text-align: center;
	}
	#register-welcome h2 {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
	#register-welcome p {
		font-size:1.2em;
		padding-bottom:32px;
	}

    .register-button-wrapper {
        display: block;
        width: 200px;
	    text-align:center;
        margin: 0 auto;
	    margin-top:-12px;
    }
    .register-button {
        display: inline-block;
        margin: 5px auto 10px;
        color: #ffffff;
        width: 205px;
        height: 56px;
        font-size: 1em;
        line-height: 25px;
        letter-spacing: 1px;
        padding-top: 5px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        border-radius: 7px;
        background-color: #21D0B6;
        -webkit-transition: background-color 500ms ease-in;
        -moz-transition: background-color 500ms ease-in;
        -o-transition: background-color 500ms ease-in;
        transition: background-color 500ms ease-in;
    }
    .register-button-wrapper a::after {
        display: inline-block;
        content: "";
        width: 205px;
        height: 56px;
        border-radius: 7px;
        position: absolute;
        left: 6px;
        top: 2px;
	    background-color:#1DB7A0;
    }
    .register-button:hover{
	    background-color:#28BFA9;
	
    }
    .register-text{
	    position:relative;
	    top:13px;
	    font-size:1.2em;
    }

    #register-back {
	    position:relative;
        color: black;
        text-transform: uppercase;
        margin-top: 50px;
	    width:200px;
	    height:56px;
    }
    #back {
	    float:right;
	    position:relative;
        color: #fff;
        text-transform: uppercase;
        margin-top: 50px;
	    width:200px;
	    height:56px;
    }
</style>