﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}
<style type="text/css">
    .color1 {
        background-color: #3FB6CF;
    }

    .color2 {
        background-color: #57CAE2;
    }

    .left-col h3, .right-col h2, .right-col h3 {
        color: #3FB6CF;
    }
</style>


<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-poprzedni.png" /></a>
            <a id="back" href="~/#efekt" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
            <div style="clear: both"></div>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/poprzedni-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Poprzedni stypendyści</h1>
        </div>
        <div class="text-wrapper">
            <h2>Dorota – 20 lat</h2>
            <h3>Społecznik pełną gębą</h3>
            <p>
                Dorota jest uczennicą szkoły policealnej. Na co dzień interesuje się reklamą i pracą społeczną. Projekt Stypendystki ma na celu stworzenie w otoczeniu rodzinnym warunków do rozwoju zawodowego. W ramach projektu Stypendystka zrealizowała, przy wsparciu Mentora, analizę potrzeb najbliższego środowiska społecznego, swoich kompetencji oraz zbudowała i wdrożyła pomysł na jego rozwój. Marzeniem Doroty jest osiągnięcie niezależności życiowej –  przez duże N i kariera w branży reklamowej.
            </p>
            <h2>Mateusz – 20 lat</h2>
            <h3>Sportowy informatyk</h3>
            <p>
                Uczeń technikum z osiągnięciami w zakresie informatyki (m.in. II miejsce w konkursie programistycznym w języku PHP na platformie testowej). Miłośnik sportu.  Stypendysta w ramach projektu projektuje aplikację pomiarową, wspierających realizację imprez sportowych. Mentor służy Mateuszowi wsparciem w pozyskaniu sojuszników. Marzeniem Mateusza jest kariera w IT i praca przy ważnych projektach w najlepszych firmach informatycznych.
            </p>
            <h2>Maria – 14 lat</h2>
            <h3>Elegancka pływaczka</h3>
            <p>
                Uczennica szkoły podstawowej ze świetnymi wynikami w nauce (średnia ocen 5,9). Laureatka olimpiad przedmiotowych.  Utalentowana pływaczka i miłośniczka mody. W ramach projektu Stypendystka przygotowywała się do Ogólnopolskich Mistrzostw Młodzików w pływaniu oraz budowała swoje portfolio projektantki mody sportowej. Mentor wspiera Marię w przygotowaniach sportowych w obszarze psychologii sportu oraz poszukiwaniu inspiracji do pracy twórczej. Marzeniem Marii jest udział w projektowaniu strojów dla polskich zawodników występujących na igrzyskach olimpijskich.
            </p>
            <h2>Dominika – 11 lat</h2>
            <h3>Gimnastyczka z przyszłością</h3>
            <p>
                Uczennica szkoły sportowej z sukcesami w gimnastyce sportowej (m.in. srebrny i brązowy medal w szkolnych zawodach).  Celem projektu Stypendystki było określenie warunków, jakie musi spełnić sportowiec, aby dać sobie radę w sporcie zawodowym.  Dominika przygotowywała się również do Ogólnopolskiej Olimpiady Młodzieży 2014. Mentor wspiera Dominikę w pozyskiwaniu sojuszników do realizacji celów oraz skutecznego wprowadzania ich w życie. Marzeniem Dominiki jest zawodowa kariera gimnastyczna.
            </p>
            <h2>Marcin – 19 lat</h2>
            <h3>Budowniczy prądnicy</h3>
            <p>
                Uczeń technikum w Zespole Szkół Ekonomicznych. Pasjonat techniki - uczestnik i laureat wielu konkursów związanych z elektrotechniką, elektroniką, elektroenergetyką i energetyką. W ramach projektu Stypendysta postawił sobie za cel zdobycie praktycznego doświadczenia technicznego poprzez budowę prądnicy od podstaw. Mentor wspiera Marcina w pozyskaniu sojuszników do realizacji projektu (Politechnika Gdańska) i rozwoju kompetencji skutecznego planowania. Marzeniem Marcina jest praca zawodowa przy ciekawych projektach w branży elektronicznej.
            </p>
            <h2>Piotr – 18 lat</h2>
            <h3>Maturzysta olimpijczyk</h3>
            <p>
                Maturzysta w średniej szkole sportowej oraz utalentowany zawodnik gimnastyki sportowej – zdobywca 10 medali w zawodach gimnastycznych. W ramach projektu Stypendysta rozwijał swoje kompetencje naukowe, mając na celu osiągnięcie dobrych wyników na egzaminie maturalnym i kwalifikację na wyższe studia na Akademii Wychowania Fizycznego. Piotr wspólnie z Mentorem budował swój system skutecznej nauki. Marzeniem Piotra jest praca w najlepszych zespołach sportowych.
            </p>
            <h2>Nikodem – 14 lat</h2>
            <h3>Iberysta z pasją</h3>
            <p>
                Uczeń gimnazjum z zacięciem do matematyki i języków obcych. Zaangażowany w pracę społeczną w wolontariacie i harcerstwie. W ramach projektu Stypendysta postawił sobie za cel nauczenie się języka hiszpańskiego oraz zapoznanie z kulturą krajów hiszpańskojęzycznych. Zdobyta wiedza i umiejętności były podstawą dla upowszechnienia hiszpańskiej pasji wśród młodzieży.  Mentor wspiera Nikodema w poznawaniu nowej kultury, ludzi i miejsc, które pomogą w realizacji projektu. Marzeniem Nikodem są podróże i poznawanie nowych kultur.
            </p>
            <h2>Inka – 15 lat</h2>
            <h3>Kreatywna artystka</h3>
            <p>
                Uczennica gimnazjum i utalentowana plastyczka. Uczestniczka warsztatów artystycznych, wystawiająca swoje prace na wystawach i wernisażach. W ramach projektu Stypendystka przygotowywała się do zawodu grafika.  Inka postawiła sobie za cel nabycie umiejętności w używaniu konkretnych technik i narzędzi graficznych, a w rezultacie przygotowanie portfolio swoich prac, jako podstawę dla dalszej pracy artystycznej. Mentor wspiera Stypendystkę w poszukiwaniu inspiracji i przekuwaniu pomysłów na konkretne prace. Marzeniem Inki jest poszukiwanie nowych środków wyrazu artystycznego i uznanie w świecie sztuki.
            </p>
            <h2>Karol – 9 lat</h2>
            <h3>Miłośnik komunikacji miejskiej</h3>
            <p>
                Uczeń szkoły podstawowej. Utalentowany śpiewak i matematyk z ogromną pasją do komunikacji miejskiej. W ramach projektu Stypendysta zapoznaje się z technikami programowania i buduje autorską stronę internetową poświęconą komunikacji miejskiej w Trójmieście. Mentor wspiera Karola w poszukiwaniu profesjonalnego wsparcia informatycznego oraz skutecznego planowania pracy. Marzeniem Karola jest zgłębianie tajemnic technologii komunikacyjnej.
            </p>
            <h2>Hania – 15 lat</h2>
            <h3>Ambitna wokalistka</h3>
            <p>
                Gimnazjalistka z zacięciem do pracy społecznej i talentem muzycznym.  Hania ma za sobą liczne występy wokalne. W ramach projektu Stypendystka rozwija swoje kompetencje artystyczne i buduje repertuar muzyczny. Nadrzędnym celem jest nauka w szkole muzycznej oraz przygotowanie własnej płyty. Mentor wspiera Hanię w poszukiwaniu wsparcia w rozwoju talentu oraz możliwości do prezentacji swoich dokonań przed publicznością. Marzeniem Hani jest profesjonalna kariera w branży muzycznej. 
            </p>
            <h2>Kuba – 11 lat</h2>
            <h3>Piłkarz i czytelnik</h3>
            <p>
                Uczeń szkoły podstawowej, miłośnik książek i laureat konkursów czytelniczych. Z  pasją i talentem piłkarskim – uczęszcza na treningi w szkółce Lechii Gdańsk.  W ramach projektu Stypendysta wypracowuje system motywacji, planowania i rozwoju umiejętności piłkarskich. Profesjonalnym wsparciem służy mu Mentor. Marzeniem Kuby jest zawodowa kariera piłkarska na pozycji bramkarza. 
            </p>
            <h2>Adrian – 17 lat</h2>
            <h3>Wysmakowany kucharz</h3>
            <p>
                Uczeń szkoły średniej. Miłośnik dobrej kuchni i – rozwijający swój talent kulinarny – uczestnik warsztatów kulinarnych na poziomie zaawansowanym. W ramach projektu stypendysta przy wsparciu Mentora pracuje nad budową indywidualnej ścieżki zawodowej, która będzie podstawą dla kariery w branży gastronomicznej. Marzeniem Adriana jest stanowisko szefa kuchni w prestiżowej restauracji. 
            </p>
            <h2>Nikola – 16 lat</h2>
            <h3>Utalentowana sportsmenka</h3>
            <p>
                Uczennica gimnazjum, miłośniczka literatury i zawodniczka Taekwon-do z siłą w nogach. W ramach projektu Stypendystka postawiła sobie za cel upowszechnienie sztuk walki wśród dzieci i młodzieży w ramach cyklu prezentacji. Równolegle przy wsparciu Mentora Nikola pracuje nad indywidualnym systemem zarządzania czasem i podnosi swoje kompetencje szkolne. Marzeniem Nikoli są studia prawnicze na Harvardzie. 
            </p>
            <h2>Daria – 24 lata</h2>
            <h3>Uzdolniony społecznik</h3>
            <p>
                Studentka ekonomii ze świetnymi wynikami w nauce. Uzdolniona matematyczka o niezwykłej smykałce do zarządzania zespołem i zacięciem do pracy społecznej. W ramach projektu Stypendystka, przy wsparciu Mentora, zbudowała i zarządza zespołem wolontaryjnym wspierającym mieszkańców Domów dla Dzieci. Projekt wspiera młode osoby znajdujące się w trudnej sytuacji życiowej, rozwija umiejętności wolontariuszy i wyposaża Stypendystkę w unikalne doświadczenie w zarządzaniu zespołem. Marzeniem Darii jest rozwój kompetencji menedżerskich i praca przy projektach mających wpływ na światową ekonomię. 
            </p>
            <h2>Grzegorz – 19 lat</h2>
            <h3>Projektant mody z duszą</h3>
            <p>
                Uczeń krawieckiej szkoły zawodowej, uczestnik konkursów krawieckich i absolwent stażu  w prestiżowym zakładzie krawieckim w Gdańsku.  W ramach projektu Stypendysta postawił sobie za cel pobudzenie kreatywności i wydobycie mocnych stron w młodych osobach znajdujących się w trudnej sytuacji życiowej, przez organizację warsztatów szycia. Marzeniem Grzegorza jest profesjonalna kariera projektanta i stylisty mody. 
            </p>
        </div>
    </div>
    <div class="right-col text bg-white">
        <h2>Mentorzy</h2>
        <ul>
            <li>
                <h3>Magdalena Bartniczak</h3>
            </li>
            <li>
                <h3>Katarzyna Bednarczuk</h3>
            </li>
            <li>
                <h3>Magdalena Bellwon</h3>
            </li>
            <li>
                <h3>Michalina Biedrzycka</h3>
            </li>
            <li>
                <h3>Paweł Czynszak</h3>
            </li>
            <li>
                <h3>Magdalena Elmanowska</h3>
            </li>
            <li>
                <h3>Ewa Fandrejewska</h3>
            </li>
            <li>
                <h3>Marcin Kozic</h3>
            </li>
            <li>
                <h3>Agata Kozłowska</h3>
            </li>
            <li>
                <h3>Katarzyna Kozubek</h3>
            </li>
            <li>
                <h3>Anna Pieniak</h3>
            </li>
            <li>
                <h3>Angelika Sawicka</h3>
            </li>
            <li>
                <h3>Sabina Szuta</h3>
            </li>
            <li>
                <h3>Justyna Trela</h3>
            </li>
            <li>
                <h3>Grażyna Wiśniewska</h3>
            </li>
            <li>
                <h3>Lidia Zawodnik</h3>
            </li>
            <li>
                <h3>Anna Zdunkiewicz</h3>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>
