﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Main.cshtml";
}

<header id="header" class="bg-home">
    <div class="wrapper">
        <a id="cloud" class="scroll" href="#home">
            <img id="logo-stypendysta" src="~/assets/img/logo-blue.png" />
            <img id="logo-program" src="~/assets/img/logo-red.png" />
            <img id="logo-mentor" src="~/assets/img/logo-green.png" />
            <img id="logo-efekt" src="~/assets/img/logo-azure.png" />
            <img id="logo-crowdfunding" src="~/assets/img/logo-yellow.png" />
            <img id="logo-biegaj" src="~/assets/img/logo-orange.png" />
            <img id="logo-stypendysci" src="~/assets/img/logo-celed.png" />
            <img id="logo-sponsorzy" src="~/assets/img/logo-gray.png" />
        </a>
        <div id="menu-desktop">
            @{Model.menu.get_data(2);}
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Aktualności</a>
            <a class="scroll" href="#stypendysta">Idea</a>
            <a class="scroll" href="#crowdfunding">Pomagaj</a>
            <a class="scroll" href="#biegaj">Biegaj</a>
            <a class="scroll" href="#stypendysci">Stypendyści</a>
            <a class="scroll" href="#sponsorzy">Sponsorzy</a>
            @{Model.menu.get_data(11);}
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Kontakt</a>
        </div>
        <div id="menu-mobile-btn">
            <div id="nav-icon">
                <span id="l1"></span>
                <span id="l2"></span>
                <span id="l3"></span>
            </div>
        </div>
        <div id="menu-mobile-btn-old">
            <div class="nav-icon-old"></div>
        </div>
        <div id="menu-mobile">
            @{Model.menu.get_data(2);}
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Aktualności</a>
            <a class="scroll" href="#stypendysta">Idea</a>
            <a class="scroll" href="#crowdfunding">Pomagaj</a>
            <a class="scroll" href="#biegaj">Biegaj</a>
            <a class="scroll" href="#stypendysci">Stypendyści</a>
            <a class="scroll" href="#sponsorzy">Sponsorzy</a>
            @{Model.menu.get_data(11);}
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Kontakt</a>
        </div>
    </div>
</header>

<div id="idea-menu">
    <a class="scroll" href="#stypendysta">
        <div class="label">Stypendysta</div>
        <div class="icon">
            <img src="~/assets/img/i_stypendysta.png" />
        </div>
    </a>
    <a class="scroll" href="#program">
        <div class="label">Program&nbsp;Mentor</div>
        <div class="icon">
            <img src="~/assets/img/i_program.png" />
        </div>
    </a>
    <a class="scroll" href="#mentor">
        <div class="label">Mentor</div>
        <div class="icon">
            <img src="~/assets/img/i_mentor.png" />
        </div>
    </a>
    <a class="scroll" href="#efekt">
        <div class="label">Efekty&nbsp;Programu</div>
        <div class="icon">
            <img src="~/assets/img/i_efekt.png" />
        </div>
    </a>
</div>
<section id="home-w">
    <div class="fantom" id="home"></div>
    <div id="panorama">
        <div class="wrapper">
            <div id="animated-clouds">
                <img id="cloud1" width="107" src="~/assets/img/cloud_home.png" />
                <img id="cloud2" width="71" src="~/assets/img/cloud_home.png" />
                <img id="cloud3" width="91" src="~/assets/img/cloud_home.png" />
                <img id="cloud4" width="107" src="~/assets/img/cloud_home.png" />
                <img id="cloud5" width="137" src="~/assets/img/cloud_home.png" />
            </div>
            <img id="panorama-img" src="~/assets/img/panorama.png" />
            <img id="panorama-mask" src="~/assets/img/panorama.png" />
            @*<a class="scroll" href="#stypendysci">
                <img id="cloud-orange" src="~/assets/img/cloud_orange.png" />
            </a>*@
        </div>
        <div id="home-bars">
            <div id="blue-bar" class="bg-blue1">
            </div>
            <div id="green-bar" class="bg-green1">
            </div>
        </div>
    </div>
    <div class="gray-bar bg-gray1">
        <div class="wrapper">
            <img id="logo-poster" src="~/assets/img/logo-banner.png" alt="Logo Program Mentor" />
            <img id="ambasador" src="~/assets/img/sylwia_gruchała.png" title="Ambasador Programu Mentor Sylwia Gruchała" alt="Sylwia Gruchała" />
        </div>
    </div>
    <div class="bg-gray2">
        <div id="news-wrapper" class="wrapper">
            <div class="dummy-div"></div>
            <div class="left-col">
                <div class="banner">
                    <ul>
                        @{
                            int post_cnt = 0;
                        }
                        @for (var i = 0; i < Model.news.list.Count; i++)
                        {
                            if (post_cnt > 2)
                            {
                                break;
                            }
                            else if (Model.news.list[i].active)
                            {
                            <li>
                                @{Model.menu.get_data(2);}
                                <a href="@Url.Action(Model.menu.action, Model.menu.controller)/#news_@Model.news.list[i].id">
                                    <h2>@Model.news.list[i].title</h2>
                                    @{ string content = System.Text.RegularExpressions.Regex.Replace(@Model.news.list[i].content, @"<[^>]*>", String.Empty); }
                                    <p>@Html.Raw(content.Substring(0, Math.Min(content.Length, 320)))...</p>
                                    <span>Więcej</span>
                                </a>
                            </li>
                                  post_cnt++;
                            }
                        }
                    </ul>
                </div>  
            </div>
            <div class="right-col">
                <p id="amb-0">
                    "Czy masz pomysł, który chciałabyś zrealizować, ale nie wiesz jak? Mnie od zawsze interesował sport. Jednak szybko uświadomiłam sobie, że nie uda mi się osiągnąć sukcesu bez wsparcia doświadczonych osób. Dlatego powstał Gdański Program Stypendialny Mentor – by wspierać rozwój młodych ludzi w realizacji ich pomysłów. Otrzymujesz niepowtarzalną szansę prowadzenia własnego projektu pod okiem doświadczonych ekspertów."<br>
                    <span style="float: right; font-size: 1.1em; margin: 10px; font-weight: 400;">Sylwia Gruchała</span>
                </p>
                <p id="amb-1">
                    "Masz cenne doświadczenie i chcesz się nim podzielić? Ja już wiem, że satysfakcję daje dzielenie się wiedzą. Dzięki Gdańskiemu Programowi Stypendialnemu Mentor możesz stać się Mentorem i pomóc młodym ludziom w rozwoju ich pasji i marzeń. Przy okazji dowiesz się czegoś nowego o sobie."<br>
                    <span style="float: right; font-size: 1.1em; margin: 10px; font-weight: 400;">Sylwia Gruchała</span>
                </p>
            </div>
        </div>
    </div>
    <div class="bg-blue2">
        <a id="home-arrow" class="scroll" href="#stypendysta">
            <img src="~/assets/img/arrow.png" />
        </a>
    </div>
</section>
<section id="stypendysta-w" class="page top-shift bg-blue2">
    <div class="fantom" id="stypendysta" data-group="stypendysta"></div>
    <div class="wrapper">
        <div class="image-column">
            <img class="image" src="~/assets/img/scholar_icon.png" />
            @{Model.menu.get_data(3);}
            <div class="button-wrapper">
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Stypendystą
                </div>
            </a>
            </div>
        </div>
        <div class="text-column">
            <h2>Stypendysta</h2>
            <p>
                Wszystkie dzieci mają marzenia. Nie wszystkie dostają szansę na ich spełnienie. Jesteś jednym z nich? Kochasz sport, ale nie masz warunków do jego uprawiania? Nauka języków to dla Ciebie frajda, ale wyczerpałeś sposoby na poszerzanie wiedzy? Masz pomysł na projekt, którego realizacja pozwoli Ci się rozwijać?
            </p>
            <p>
                Przedstaw swój pomysł i przekonaj nas, że zmieni on Twoje życie na lepsze. Pomożemy Ci w realizacji celu. Otrzymasz od nas wsparcie Mentora i możliwość samodzielnego zebrania stypendium na realizację swojego projektu.
            </p>
            <div class="button-wrapper">
            <a class="mobile" href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Stypendystą
                </div>
            </a>
            </div>
        </div>
    </div>
</section>
<section id="program-w" class="page top-shift bg-red">
    <div class="fantom" id="program" data-group="stypendysta"></div>
    <div class="wrapper">
        <div class="text-column">
            <h2>Program Mentor</h2>
            <p>
                Gdański Program Stypendialny Mentor powstał w odpowiedzi na potrzebę wspierania młodych gdańszczan i gdańszczanek znajdujących się w trudnej sytuacji życiowej. Program Mentor wspiera rozwój dzieci i młodzieży z potencjałem, mających pomysł na siebie, ale na drodze do jego realizacji zderzających się z twardymi realiami życia codziennego. 
            </p>
            <p>
                Wsparciem młodym osobom służą wyszkoleni wolontariusze – Mentorzy, którzy pomagają Stypendystom w trakcie realizacji Projektu – pomysłu na to, jak spełnić marzenie o osobistym rozwoju.
            </p>
            <p>
                Wykorzystujemy różnorodne narzędzia: od sfery finansowej przez społeczną i edukacyjną – wszystkie ujęte w unikalnym programie mentoringowym. Poszukujemy innowacyjnych rozwiązań – angażujemy społeczność lokalną i sięgamy po nowoczesne technologie, takie jak crowdfunding – wspieranie społecznościowe.
            </p>
            @{Model.menu.get_data(4);}
            <p style="text-align: center; padding-top: 38px">
                <a class="button-more" href="@Url.Action(Model.menu.action, Model.menu.controller)">Dowiedz się więcej</a>
            </p>
            @{Model.menu.get_data(5);}
            <div class="button-wrapper">
            <a class="mobile" href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Partnerem
                </div>
            </a>
            </div>
        </div>
        <div class="image-column">
            <img class="image" src="~/assets/img/program_icon.png" />
            <div class="button-wrapper">
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Partnerem
                </div>
            </a>
            </div>
        </div>
    </div>
</section>
<section id="mentor-w" data-group="stypendysta" class="page top-shift bg-green2">
    <div class="fantom" id="mentor" data-group="stypendysta"></div>
    <div class="wrapper">
        <div class="image-column">
            <img class="image" src="~/assets/img/mentor_icon.png" />
            @{Model.menu.get_data(6);}
            <div class="button-wrapper">
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Mentorem
                </div>
            </a>
            </div>
        </div>
        <div class="text-column">
            <h2>Mentor</h2>
            <p>
                Czujesz w sobie potrzebę lub chęć wspierania innych? Mentorem możesz zostać, jeśli jesteś pełnoletni i znajdziesz czas oraz motywację, by w ramach wolontariatu wesprzeć Stypendystę w realizacji jego autorskiego projektu. Ważne jest, abyś miał chęć dzielić się swoją wiedzą i doświadczeniem. Nie musisz być ekspertem w dziedzinie, której dotyczy projekt, ani posiadać doświadczenia w pracy mentoringowej. Liczy się chęć do nauki i otwartość na drugą osobę.
            </p>
            <h3>Szkoła Mentorów - SMS</h3>
            <p>
                W ramach Programu Mentorzy również otrzymują szansę rozwoju.  Kurs Szkoła Mentor dla Stypendysty to unikalny system kształcenia przyszłych Mentorów realizowany przy współpracy z Uniwersytetem Gdańskim.  Kurs wyposaża wolontariuszy w kompetencje niezbędne do wspierania rozwoju młodej osoby z zakresu pracy metodą projektu, rozwoju motywacji, elementów couchingu, czy pracy na mocnych stronach. Zajęcia prowadzone są w systemie weekendowym przez wysokiej klasy specjalistów. Kurs SMS otrzymał akredytację Uniwersytetu Gdańskiego i jest wpisany w system kształcenia uniwersyteckiego z rangą 5 punktów ECTS.
            </p>
            <div class="button-wrapper">
            <a class="mobile" href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Zostań<br>
                    Mentorem
                </div>
            </a>
            </div>
        </div>
    </div>
</section>
<section id="efekt-w" data-group="stypendysta" class="page top-shift bg-azure">
    <div class="fantom" id="efekt" data-group="stypendysta"></div>
    <div class="wrapper">
        <div class="text-column">
            <h2>Efekty Programu</h2>
            <p>
                Osiągnięcie określonego, ważnego dla Stypendysty celu to idea jaka przyświeca realizacji każdego autorskiego projektu. Młodzi gdańszczanie, którzy wzięli udział w Programie zdobywają  różnorodne kompetencje – od umiejętności efektywnego planowania pracy, po zdolność z zakresu promocji projektów. Mentorzy – dzięki certyfikowanemu przez Uniwersytet Gdański kursowi mentoringu oraz rocznemu doświadczeniu w pracy z młodą osobą – zyskują umiejętności cenne na rynku pracy, jak pozyskiwanie sojuszników czy praca z zespołem.
            </p>
            <p>
                Po zakończeniu uczestnictwa w Programie zarówno Stypendyści, jak i Mentorzy mogą nadal rozwijać swoje talenty, stając się członkami Klubu Absolwenta, w ramach którego organizowane są spotkania z inspirującymi ludźmi i specjalistami w swoich dziedzinach.
            </p>
            @{Model.menu.get_data(8);}
            <div class="button-wrapper">
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">
                <div class="button">
                    Poprzedni<br>
                    Stypendyści
                </div>
            </a>
            </div>
        </div>
        <div class="image-column image">
            <div id="r">
                <img id="r-cloud1" src="~/assets/img/rocket-cloud1.png" />
                <img id="r-cloud2" src="~/assets/img/rocket-cloud2.png" />
                <div id="r-rocket-with-flames-wrapper">
                    <div id="r-rocket-with-flames">
                        <div id="r-flames-wrapper">
                            <img id="r-flames" src="~/assets/img/rocket-flames.png" />
                        </div>
                        <img id="r-rocket" src="~/assets/img/rocket1.png" />
                    </div>
                </div>
            </div>
            <div id="cover-div" class="bg-azure"></div>
            <img id="static-rocket" src="~/assets/img/rocket.png" />
            <img id="efekt-bg" src="~/assets/img/effect_icon.png" />
        </div>
    </div>
</section>
<section id="crowdfunding-w" class="page top-shift bg-yellow">
    <div class="fantom" id="crowdfunding"></div>
    <div class="wrapper">
        <div class="text-column">
            <h2>Wspieranie społecznościowe -&nbsp;crowdfunding</h2>
            <p>
                Wiesz, jak trudno jest zmagać się z przeciwnościami losu, jednocześnie rozwijając pasję i inwestując w swój rozwój?
            </p>
            <p>
                Chciałbyś wesprzeć naszych dzielnych Stypendystów w realizacji ich projektów?
            </p>
            <p>
                To proste! Dzięki możliwościom crowdfundingu każdy z nas ma szansę w prosty sposób pomóc Stypendystom w realizacji ich marzeń. Samodzielne pozyskiwanie środków na stypendium to dla młodych ludzi szansa na zdobycie nowych umiejętności.
            </p>
            <p>
                Wystarczy, że wybierzesz Stypendystę, któremu kibicujesz i odwiedzisz prowadzonego przez niego bloga. Klikając Wspieram, w łatwy sposób – za pomocą przelewu online – możesz wesprzeć projekt dowolną kwotą. Każda wpłata, nawet symboliczna złotówka, przybliża pomysłodawców do realizacji celu.
            </p>
            <div class="button-wrapper">
            <a class="scroll" href="#stypendysci">
                <div class="button">
                    Wesprzyj<br>
                    Projekt!
                </div>
            </a>
            </div>
        </div>
        <div class="image-column">
            <img class="image" src="~/assets/img/cf_icon.png" />
        </div>
    </div>
</section>
<section id="biegaj-w" class="page top-shift bg-orange">
    <div class="fantom" id="biegaj"></div>
    <div class="wrapper">
        <div class="image-column">
            <img id="biegaj-cloud" src="~/assets/img/run_cloud.png" />
            <img id="biegaj-image" class="image" src="~/assets/img/run_icon.png" />
            <div>
                <div class="button">
                    <span style="font-weight: 600">WKRÓTCE</span>
                    <img src="~/assets/img/run_button.png" />
                </div>
            </div>
        </div>
        <div class="text-column">
            <h2>Biegaj z Mentorem</h2>
            <p>
                Biegając, robisz coś dla siebie. A gdyby tak przy okazji zrobić coś dla innych? 
            </p>
            <p>
                Dzięki prostej aplikacji mobilnej już niedługo będziesz mógł przełożyć swój wysiłek na realne wsparcie przyszłych Stypendystów. Każdy pokonany przez Ciebie kilometr przeliczony zostanie na złotówki, które przy wsparciu Sponsora zasilą Program. 
            </p>            
            @{Model.menu.get_data(12);}
			@*Remove comment when published*@
			<div class="button-wrapper">
				@*<a href="@Url.Action(Model.menu.action, Model.menu.controller)">
					Jak działa aplikacja?
				</a>*@
				<div class="mobile">
					<div class="button">
						<span style="font-weight: 600">WKRÓTCE</span>
						<img src="~/assets/img/run_button.png" />
					</div>
				</div>
			
        </div>
    </div>
</section>
<section id="stypendysci-w" class="page top-shift bg-celed">
    <div class="fantom" id="stypendysci"></div>
    <style type="text/css">
        #stypendysci-list li:after {
            content: none;
        }
    </style>
    @*<div class="wrapper">
        <ul id="stypendysci-list" class="image">
            <li>
                <img src="~/assets/img/u1.png" />
            </li>
            <li>
                <img src="~/assets/img/u3.png" />
            </li>
            <li>
                <img src="~/assets/img/u2.png" />
            </li>
            <li>
                <img src="~/assets/img/u1.png" />
            </li>
            <li>
                <img src="~/assets/img/u3.png" />
            </li>
            <li>
                <img src="~/assets/img/u2.png" />
            </li>
            <li class="no-mobile">
                <img src="~/assets/img/u1.png" />
            </li>
            <li class="no-mobile">
                <img src="~/assets/img/u3.png" />
            </li>
        </ul>
    </div>
    <div id="temp-cover">
        <div class="text-column">
            <h2>Nowi Stypendyści</h2>
            <p>
                Już wkrótce w tle zobaczysz twarze wybranych Stypendystów. Uśmiechną się do Ciebie i każdy z nich zaprosi Cię na swojego bloga, na którym znajdziesz informacje o  projekcie i postępach w jego realizacji. Będziesz mógł wesprzeć finansowo inicjatywę, klikając przycisk Wspomóż projekt.
            </p>
            <p>
                Do zobaczenia!
            </p>
        </div>
    </div>*@

    <div class="wrapper">
		<h2>Nasi Stypendyści</h2>
        <div id="clue" class="no-mobile">
            Wybierz Stypendystę,<br>
            którego<br>
            chcesz wspomóc
        </div>
        <div id="title" class="no-mobile">
            @for (var i = 0; i < Model.beneficiary.list.Count; i++)
            {
                Model.project.id = Model.beneficiary.list[i].project_id;
                Model.project.get_data();

                if (Model.project.active)
                {
                <div class="person">
                    <p class="b-name">@Model.beneficiary.list[i].name</p>
                    <p class="b-age">@Model.beneficiary.list[i].age().ToString() lat</p>
                    <p class="b-project">@Model.beneficiary.list[i].title</p>
                </div>
                }
            }
        </div>

        <ul id="stypendysci-list" class="image">
            @for (var i = 0; i < Model.beneficiary.list.Count; i++)
            {
                Model.beneficiary_file.get_data(SfCms_model.class_beneficiary_file.search_type.beneficiary_id, SfCms_model.class_beneficiary_file.image_type.empty, Model.beneficiary.list[i].id.ToString());

                Model.project.id = Model.beneficiary.list[i].project_id;
                Model.project.get_data();

                if (Model.project.active)
                {
                    
                <li>
                    <a href="@Url.Action(Model.project.name, "Projekty")" target="_blank">
                        <div class="pie no-mobile">
                            <div class="rect r1"></div>
                            <div class="rect r2"></div>
                            <div class="m1 rect mask">
                                <div class="rect mask-content"></div>
                            </div>
                            <div class="m2 rect mask">
                                <div class="rect mask-content"></div>
                            </div>
                        </div>
                        @if (Model.beneficiary_file.id != 0)
                        {
                            <div class="img-container" data-id="@i" style="background-image: url('@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.list[i].id })')">
                                <div>
                                    @*<h6>
                                        @if (Model.beneficiary.list[i].s_sex_id == 1)
                                        {
                                            String s = "Uzbierała";
                                            @s;
                                        }
                                        else
                                        {
                                            String s = "Uzbierał";
                                            @s;
                                        }
                                    </h6>
                                    <p><span>@Model.project.support_percent.ToString()</span>%</p>*@
                                </div>
                            </div>
                        }
						@*<p class="b-percent">
                            @if (Model.beneficiary.list[i].s_sex_id == 1)
                            {
                                String s = "Uzbierała";
                                @s;
                            }
                            else
                            {
                                String s = "Uzbierał";
                                @s;
                            }
                            <br><span>@Model.project.support_percent</span>%
                        </p>*@
                    </a>
                    <div class="person tablet-inline text-column">
                        <p class="b-name"><a href="@Url.Action(Model.project.name, "Projekty")" target="_blank">@Model.beneficiary.list[i].name</a></p>
                        <p class="b-age">@Model.beneficiary.list[i].age().ToString() lat</p>
                        <p class="b-project">@Model.beneficiary.list[i].title</p>
                        
                        <a href="@Url.Action(Model.project.name, "Projekty")" target="_blank">Wesprzyj projekt!</a>
                    </div>
                </li>
                }
            }
        </ul>
    </div>
</section>
<section id="sponsorzy-w" class="bg-white" style="position: relative">
    <div class="fantom" id="sponsorzy"></div>
    <div class="wrapper">
        <h2>Operator</h2>
        <div>
            <a href="http://gfis.pl/" target="_blank">
                <img src="~/assets/img/logos/GFIS.png" /></a>
        </div>
        <h2>Partnerzy</h2>
        <div>
            <a href="http://ug.edu.pl/" target="_blank">
                <img src="~/assets/img/logos/UG.png" alt="Uniwersytet Gdański" /></a>
            <a href="http://www.gfo.pl/" target="_blank">
                <img src="~/assets/img/logos/GFO.png" alt="Gdańska Fundacja Oświatowa" /></a>
            <a href="http://www.gdansk.pl/" target="_blank">
                <img src="~/assets/img/logos/Gdansk.png" alt="Miasto Gdańsk" /></a>
            <a href="http://www.studio102.pl/" target="_blank">
                <img src="~/assets/img/logos/studio102.png" alt="Studio 102" /></a>
        </div>
        <h2>Sponsorzy</h2>
        <div>
            <a href="http://polska.edf.com/" target="_blank">
                <img src="~/assets/img/logos/edf.png" alt="edf" /></a>
            <a href="http://www.zkm.pl/" target="_blank">
                <img src="~/assets/img/logos/ZKM.png" alt="ZKM" /></a>
        </div>
        <h2>Partnerzy Wspierający</h2>
        <div class="partners">
            <a href="http://www.quellio.com" target="_blank">
                <img src="~/assets/img/logos/Quellio_big.png" alt="Quellio" /></a>
            <a href="http://www.wspolnyprojekt.pl/" target="_blank">
                <img src="~/assets/img/logos/wspolnyprojekt.png" alt="Wspólny Projekt" /></a>
            <a href="http://paylane.pl/" target="_blank">
                <img src="~/assets/img/logos/paylane.png" alt="Paylane" /></a>
            <a href="http://www.mosir.gda.pl/" target="_blank">
                <img src="~/assets/img/logos/MOSIR.png" alt="MOSIR" /></a>
            <a href="http://www.dawidpejas.pl/" target="_blank">
                <img src="~/assets/img/logos/fotografiadawidpejas.png" alt="Fotografia Dawid Pejas" /></a>
        </div>
    </div>
    <div class="gray-bar bg-gray1"></div>
</section>
<footer id="footer">
    <div class="bg-gray3">
        <div class="wrapper">
            <div class="account-no-info">
                <p>Numer rachunku bankowego dla chcących wspierać Program:</p>
                <p class="fat">Bank Millenium 24&nbsp;1160&nbsp;2202&nbsp;0000&nbsp;0002&nbsp;5046&nbsp;6206</p>
            </div>
            <div id="footer-menu">
                @{Model.menu.get_data(2);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Aktualności</a>
                @{Model.menu.get_data(3);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Stypendysta</a>
                @{Model.menu.get_data(6);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Mentor</a>
                <a href="dokumenty/Regulamin serwisu program-mentor.pl.pdf" target="_blank">Regulamin</a>
                <a href="dokumenty/Polityka ochrony prywatności serwisu program-mentor.pl.pdf" target="_blank">Polityka&nbsp;prywatności</a>
                <a href="dokumenty/Program_Mentor_materialy_dla_prasy.zip">Dla&nbsp;Prasy</a>
                @{Model.menu.get_data(6);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Kontakt</a>
            </div>
            <div id="social">
                <a href="https://www.facebook.com/gfsmentor"><img src="~/assets/img/fb.png" /></a>
                @*<a href=""><img src="~/assets/img/tw.png"/></a>
                <a href=""><img src="~/assets/img/g+.png"/></a>*@
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="bg-gray2">
        <div class="wrapper">
            <span>Wszelkie prawa zastrzeżone © 2015</span>
            <a href="http://www.quellio.com" target="_blank">
                <img src="~/assets/img/logos/Quellio_small.png" alt="Quellio" /></a>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="bg-gray3"></div>
</footer>
