﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/News.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #76AD52;
    }

    .color2 {
        background-color: #81C259;
    }

    .right-col h2, .right-col h3 {
        color: #CD4340;
    }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-news.png" /></a>
            <a id="back" href="~/" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
    <div class="bottom color2">
        <div class="wrapper">
            <h1>Aktualności</h1>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div id="news" class="wrapper">
    <div id="header-wrapper">
        <h1 class="color2">Aktualności</h1>
    </div>
    @for (var i = 0; i < Model.news.list.Count; i++)
    {
        if (@Model.news.list[i].active)
        {
            Model.news_file.get_data(SfCms_model.class_news_file.search_type.news_id, SfCms_model.class_news_file.image_type.empty, Model.news.list[i].id.ToString());
            <article id="news_@Model.news.list[i].id.ToString()" class="article">
            <div class="date-wrapper">@Model.news.list[i].date_user.ToString("dd MMM yyyy")</div>
            <div class="content-wrapper">
                <div>
                    @if (Model.news_file.id != 0)
                    {
                        @*logo*@
                        if(Model.news.list[i].s_news_id == 1) 
                        {
                        <a href="@Model.news.list[i].logo_link" target="_blank">
							<img class="mobile logo" src="@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })" alt="@Model.news_file.name" />
                        </a>
                        <div class="content">
                            <div class="box">
                                <a class="logobox" rel="group" href="@Model.news.list[i].logo_link" target="_blank">
                                    <div class="article-img-wrapper logo">
                                        <div class="article-img" style="background-image: url('@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })');">
                                        </div>
                                    </div>
                                </a>
                                <h2>@Model.news.list[i].title</h2>
                                @Html.Raw(Model.news.list[i].content)
                            </div>
                        </div>
                        }
                        @*photo*@
						else if (Model.news.list[i].s_news_id == 2)
						{
						<img class="mobile" src="@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })" alt="@Model.news_file.name" />
                        <div class="content">
                            <div class="box">
								<a class="fancybox" rel="group" href="@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })">
									<div class="article-img-wrapper pic">
										<div class="article-img" style="background-image: url('@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })');">
										</div>
									</div>
								</a>
                                <h2>@Model.news.list[i].title</h2>
                                @Html.Raw(Model.news.list[i].content)
                            </div>
                        </div>
                        } 
                        @*graphic*@
						else if (Model.news.list[i].s_news_id == 3)
						{
						<img class="mobile" src="@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })" alt="@Model.news_file.name" />
                        <div class="content">
                            <div class="box">
                                <div class="picbox">
                                    <div class="article-img-wrapper pic">
                                        <div class="article-img" style="background-image: url('@Url.Action("NewsImageSmall", "Image", new { id = Model.news.list[i].id })');">
                                        </div>
                                    </div>
                                </div>
                                <h2>@Model.news.list[i].title</h2>
                                @Html.Raw(Model.news.list[i].content)
                            </div>
                        </div>
                        }        
                    }
                    <div class="more">
                        <div class="more-wrapper">
                            <div><span>więcej</span><img src="~/assets/img/arrow-more-news.png" /></div>
                            <div>
                                <span>mniej </span>
                                <img src="~/assets/img/arrow-more-news_r.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        }
    }
</div>


