﻿@{
    Layout = "~/Views/Shared/Error.cshtml";
}

<div id="content">
    <h1>404</h1>
    <h2>Nie mogliśmy tego znaleźć...</h2>
    <h4><a href="@Url.Action("Index", "Home")">Wróć do strony głównej</a></h4>
</div>