﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #6B7199;
    }

    .color2 {
        background-color: #8389B5;
    }

    .right-col h2, .right-col h3 {
        color: #6B7199;
    }

    a {
        color: #3e433e;
    }

    .left-col {
        text-align: center;
    }

    .text-wrapper {
        text-align: left;
    }

    .right-col h2 span {
        position: absolute;
        left: -50px;
        right: -50px;
    }

    .right-col {
        text-align: center;
    }

        .right-col.text h3 {
            margin: 70px 0 15px;
        }

        .right-col.text p {
            margin: 0;
        }

    #data {
        text-align: left;
        margin: 40px 90px;
    }

        #data p {
            margin: 10px 0;
            vertical-align: middle;
        }

            #data p:before {
                content: "";
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                height: 25px;
                width: 25px;
                margin-right: 10px;
                vertical-align: middle;
            }

    #mail:before {
        background-image: url("assets/img/mail-icon.png");
    }

    #mail {
        vertical-align: middle;
    }

    #tel:before {
        background-image: url("assets/img/tel-icon.png");
    }

    #map-canvas {
        top: 0px;
        left: 0px;
        height: 419px;
        width: 100%;
    }

    .gmnoprint.gm-style-cc, .gmnoprint .gm-style-cc {
        display: none !important;
    }

    .mobile {
        display: none;
    }

    @@media screen and (max-width: 990px) {
        .mobile {
            display: block;
        }

        #tel span, #mail span {
            display: none;
        }

        #data p {
            display: inline-block;
            margin: 0 20px;
        }

            #data p:before {
                height: 0;
                width: 0;
            }

        #data {
            text-align: center;
            margin: 20px auto 30px;
        }

        .text-wrapper {
            padding-bottom: 30px;
        }

        #map-canvas {
            height: 260px;
        }
    }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-kontakt.png" /></a>
            <a id="back" href="~/" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="header-wrapper">
            <h1 class="color2">Kontakt</h1>
        </div>
        <div class="text-wrapper">
            <div id="map-canvas"></div>
        </div>
    </div>
    <div class="right-col text bg-white">
        <h2><span>Informacje kontaktowe</span></h2>
        <h3>Adres Fundacji</h3>
        <p>
            <span>Fundacja Innowacji Społecznej</span><br>
            ul. Gościnna 14<br>
            80-032 Gdańsk
        </p>
        <div id="data">
        <a href="tel:+48583049956">
                <p id="tel">
                    <img class="mobile" src="~/assets/img/tel-icon_m.png" /><span>+48 58 304 99 56</span></p>
            </a>
                <a href="mailto:biuro@gfis.pl">
            <p id="mail">
                    <img class="mobile" src="~/assets/img/mail-icon_m.png" /><span>biuro@gfis.pl</span></p>
            </a>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    var styles = [
        {
            featureType: 'landscape',
            elementType: 'all',
            stylers: [
                { hue: '#6c729b' },
                { saturation: -30 },
                { lightness: -42 },
                { visibility: 'on' }
            ]
        }, {
            featureType: 'water',
            elementType: 'all',
            stylers: [
                { hue: '#7f8295' },
                { saturation: -79 },
                { lightness: -29 },
                { visibility: 'on' }
            ]
        }, {
            featureType: 'road',
            elementType: 'all',
            stylers: [
                { hue: '#5c6187' },
                { saturation: -81 },
                { lightness: -30 },
                { visibility: 'on' }
            ]
        }, {
            featureType: 'poi',
            elementType: 'all',
            stylers: [
                { hue: '#6c729b' },
                { saturation: -56 },
                { lightness: -34 },
                { visibility: 'on' }
            ]
        }, {
            featureType: 'administrative',
            elementType: 'all',
            stylers: [
                { hue: '#6c729b' },
                { saturation: 19 },
                { lightness: 1 },
                { visibility: 'on' }
            ]
        }, {
            featureType: 'transit',
            elementType: 'all',
            stylers: [
                { hue: '#6c729b' },
                { saturation: 19 },
                { lightness: -31 },
                { visibility: 'on' }
            ]
        }
    ];
    var options = {
        mapTypeControlOptions: {
            mapTypeIds: ['Styled']
        },
        center: new google.maps.LatLng(54.32369186335953, 18.634531593322773),
        zoom: 15,
        mapTypeId: 'Styled',
        mapTypeControl: false,
        keyboardShortcuts: false,
        draggable: !isMobile,
        panControl: !isMobile,
        scaleControl: true,
        scrollwheel: false,
        streetViewControl: false,
        panControlOptions: {
            position: google.maps.ControlPosition.LEFT_CENTER
        },
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL,
            position: google.maps.ControlPosition.LEFT_CENTER
        }
    };
    var div = document.getElementById('map-canvas');
    var map = new google.maps.Map(div, options);
    var styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled' });
    map.mapTypes.set('Styled', styledMapType);
    var image = '@Url.Content("~/")assets/img/marker.png';
    var myLatLng = new google.maps.LatLng(54.32369186335953, 18.634531593322773);
    var marker = new google.maps.Marker({
        position: myLatLng,
        clickable:false,
        map: map,
        icon: image
    });

    function isMobile() {
        return navigator.userAgent.toLowerCase().match(/(iphone|windows phone|android)/) == null ? false : true;
    }
</script>
