﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Blog.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/style_blog_edit.css" />

<div id="page-content" class="wrapper">
    <form action="@Url.Action("Add", "Blog")" method="post" enctype = "multipart/form-data" class="form-horizontal">
        <fieldset>
            <div id="left-col">
                <h1>Dodaj nowy post</h1>
                <input type="text" id="title" class="post-title" name="title" placeholder="Wprowadź tytuł posta" required="required">
                <div id="text-editor" class="media">
                    <h2>Treść posta</h2>
                    <textarea class="ckeditor" rows="3" id="content" name="content" maxlength="2000"></textarea>
                </div>

                <div id="video" class="media">
                    <h2>Video</h2>
                    <div class="link-wrapper">
                        <div class="label">Link do pliku wideo</div>
                        <input type="text" id="media_link" name="media_link" placeholder="Link do filmu video">
                    </div>
                    </div>
                <div id="photo" class="media">
                    <h2>Zdjęcia</h2>
                    <div class="file-wrapper">
                        <div class="label">Zdjęcie nr 1</div>
                        <input type="file" id="file_1" name="file_1">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Tytuł nr 1</div>
                        <input type="text" id="file_1_title" name="file_1_title" maxlength="400">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Zdjęcie nr 2</div>
                        <input type="file" id="file_2" name="file_2">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Tytuł nr 2</div>
                        <input type="text" id="file_2_title" name="file_2_title" maxlength="400">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Zdjęcie nr 3</div>
                        <input type="file" id="file_3" name="file_3">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Tytuł nr 3</div>
                        <input type="text" id="file_3_title" name="file_3_title" maxlength="400">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Zdjęcie nr 4</div>
                        <input type="file" id="file_4" name="file_4">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Tytuł nr 4</div>
                        <input type="text" id="file_4_title" name="file_4_title" maxlength="400">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Zdjęcie nr 5</div>
                        <input type="file" id="file_5" name="file_5">
                    </div>
                    <div class="file-wrapper">
                        <div class="label">Tytuł nr 5</div>
                        <input type="text" id="file_5_title" name="file_5_title" maxlength="400">
                    </div>
                </div>

            </div>
            <div id="right-col">
                <div class="box">
                    <h2>Informacje</h2>
                    <div>
                        <label for="active">
                            <img src="~/assets/img/icon_status.png" /><span>Status</span></label>
                        <select id="active" name="active" style="width: 40%;">
                            <option value="true" selected="selected">Aktywny</option>
                            <option value="false">Nieaktywny</option>
                        </select>
                    </div>
                    <div>
                        <label for="date_user">
                            <img src="~/assets/img/icon_calendar.png" /><span>Data publikacji</span></label>
                        <input type="text" id="date_user" name="date_user" placeholder="yyyy-mm-dd" value="@DateTime.Now.ToShortDateString()">
                    </div>
                    <div style="text-align: center">
                        <input type="submit" value="Dodaj">
                    </div>

                </div>
                <div class="box">
                    <h2>Kategoria</h2>
                    <h3>Wybierz jeden z dostępnych typów posta</h3>
                    @for (var i = 0; i < Model.s.s_post.Count; i++)
                    {
                        if (i == 1)
                        {
                        <label class="radio-label">
                            <input type="radio" name="s_post_id" value="@Model.s.s_post[i].id.ToString()" checked><span>@Model.s.s_post[i].name</span></label>
                        }
                        else
                        {
                        <label class="radio-label">
                            <input type="radio" name="s_post_id" value="@Model.s.s_post[i].id.ToString()"><span>@Model.s.s_post[i].name</span></label>
                        }
                        <br />
                    }
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    var fast = 700,
        slow = 1200,
        start = true;

    $(document).ready(function () {
        $text = $('#text-editor');
        $video = $('#video');
        $photo = $('#photo');

        $radio = $('input:radio');
        val = $('input[type="radio"]:checked').val();
        if (val == 1) {
            /* text */
            $text.show();
        } else if (val == 2) {
            /* images */
            $text.show();
            $photo.show();
        } else if (val == 3) {
            /* video */
            $text.show();
            $video.show();
        }
        positionFooter();

        $radio.click(function () {
            toggleInputs($(this).val());
        });
    });

    function toggleInputs(val) {
        if (val == 1) {
            /* text */
            //$text.slideDown(slow, positionFooter);
            $video.slideUp(fast);
            $photo.slideUp(fast);
        } else if (val == 2) {
            /* images */
            //$text.slideUp(fast);
            $video.slideUp(fast);
            $photo.slideDown(slow, positionFooter);
        } else if (val == 3) {
            /* video */
            //$text.slideUp(fast);
            $video.slideDown(slow, positionFooter);
            $photo.slideUp(fast);
        }
    }

</script>

<script src="~/assets/plugins/ckeditor/ckeditor.js"></script>