﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Blog.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/style_blog_edit.css" />

<div id="page-content" class="wrapper">
    <form action="@Url.Action("Edit", "Blog")" method="post" enctype = "multipart/form-data" class="form-horizontal">
        <fieldset>
            <div id="left-col">
                <h1>Edytuj post</h1>
                <input type="hidden" id="id" name="id" value="@Model.blog.id.ToString()"/>
                <input type="text" id="title" class="post-title" name="title" value="@Model.blog.title" placeholder="Wprowadź tytuł posta" required="required">
                <div id="text-editor" class="media">
                    <h2>Treść posta</h2>
                    <textarea class="ckeditor" rows="3" id="content" name="content" maxlength="2000">@Model.blog.content</textarea>
                </div>

                <div id="video" class="media">
                    <h2>Video</h2>
                    <div class="link-wrapper">
                        <div class="label">Link do pliku wideo</div>
                        <input type="text" id="media_link" name="media_link" value="@Model.blog.media_link" placeholder="Link do filmu video">
                    </div>
                    </div>
                <div id="photo" class="media">  
                    <h2>Zdjęcia</h2>
                    @for (var no = 1; no <= 5; no++)
                    {
                        var query_blog_file = from bf in Model.blog_file.list where bf.no == no select bf;
                        var czy_no = false;

                        if (query_blog_file.Count() > 0)
                        {
                            czy_no = true;
                        }
                        
                        <div class="file-wrapper">
                        <div class="label">Zdjęcie nr @no</div>
                        <input type="file" id="file_@no" name="file_@no" style="margin-bottom:10px">
                          
                        <div class="label">Tytuł nr @no</div>
                            
                        @if (czy_no)
                        {
                            foreach (SfCms_model.class_blog_file bf in query_blog_file)
                            {
                                <input type="text" id="file_@{@no}_title" name="file_@{@no}_title" value="@bf.title" maxlength="400">
                                    
                                <div class="image-wrapper">
                                    <img src="@Url.Action("BlogImageSmall", "Image", new { id = bf.id })" width="220" alt="" />
                                </div>
                            }
                        }
                        else
                        {
                            <input type="text" id="file_@{@no}_title" name="file_@{@no}_title" value="" maxlength="200">
                        }
                        </div>
                    }
                </div>
            </div>
            <div id="right-col">
                <div class="box">
                    <h2>Informacje</h2>
                    <div>
                        <label for="active">
                            <img src="~/assets/img/icon_status.png" /><span>Status</span></label>
                        <select id="active" name="active" style="width: 40%;">
                            @if (Model.blog.active == true)
                            {
                                <option value="true" selected="selected">Aktywny</option>
                                <option value="false">Nieaktywny</option>
                            }
                            else
                            {
                                <option value="true">Aktywny</option>
                                <option value="false" selected="selected">Nieaktywny</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="date_user">
                            <img src="~/assets/img/icon_calendar.png" /><span>Data publikacji</span></label>
                        <input type="text" id="date_user" name="date_user" placeholder="yyyy-mm-dd" value="@Model.blog.date_user.ToShortDateString()">
                    </div>
                    <div>
                        <label for="date_admin">
                            <img src="~/assets/img/icon_pen.png" /><span>Data edycji</span></label>
                        <span id="edit-date">@Model.blog.date_admin.ToString("yyyy-MM-dd HH:mm")</span>
                    </div>
                    <div style="text-align: center">
                        <input type="submit" value="Zapisz">
                    </div>

                </div>
                <div class="box">
                    <h2>Kategoria</h2>
                    <h3>Wybierz jeden z dostępnych typów posta</h3>
                    @for (var i = 0; i < Model.s.s_post.Count; i++)
                    {
                        if (Model.blog.s_post_id == @Model.s.s_post[i].id)
                        {
                        <label class="radio-label">
                            <input type="radio" name="s_post_id" value="@Model.s.s_post[i].id.ToString()" checked><span>@Model.s.s_post[i].name</span></label>
                        }
                        else
                        {
                        <label class="radio-label">
                            <input type="radio" name="s_post_id" value="@Model.s.s_post[i].id.ToString()"><span>@Model.s.s_post[i].name</span></label>
                        }
                        <br />
                    }
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    var fast = 700,
        slow = 1200,
        start = true;

    $(document).ready(function () {
        $text = $('#text-editor');
        $video = $('#video');
        $photo = $('#photo');

        $radio = $('input:radio');
        val = $('input[type="radio"]:checked').val();
        if (val == 1) {
            /* text */
            $text.show();
        } else if (val == 2) {
            /* images */
            $text.show();
            $photo.show();
        } else if (val == 3) {
            /* video */
            $text.show();
            $video.show();
        }
        positionFooter();

        $radio.click(function () {
            toggleInputs($(this).val());
        });
    });

    function toggleInputs(val) {
        if (val == 1) {
            /* text */
            //$text.slideDown(slow, positionFooter);
            $video.slideUp(fast);
            $photo.slideUp(fast);
        } else if (val == 2) {
            /* images */
            //$text.slideUp(fast);
            $video.slideUp(fast);
            $photo.slideDown(slow, positionFooter);
        } else if (val == 3) {
            /* video */
            //$text.slideUp(fast);
            $video.slideDown(slow, positionFooter);
            $photo.slideUp(fast);
        }
    }

</script>

<script src="~/assets/plugins/ckeditor/ckeditor.js"></script>