﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Blog.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/style_blog_index.css" />

<div class="wrapper" style="padding-top:30px">
    <table id="page-content" style="margin-top:0">
        <thead>
            <tr>
                <th id="title">Tytuł</th>
                <th id="category">Kategoria</th>
                <th id="status">Status</th>
                <th id="date">Data Publikacji</th>
                <th id="delete"></th>
                <th id="edit"></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.blog.list.Count; i++)
            {
                <tr class="@(i % 2 == 0 ? "odd" : "even")">
                    <td class="cell title">@Model.blog.list[i].title</td>
                    <td class="cell category">
                        @{
                Model.s_post.id = Model.blog.list[i].s_post_id;
                Model.s_post.get_data();
                            @Model.s_post.name
                        }
                    </td>
                    <td class="cell status">@(Model.blog.list[i].active ? Html.Raw("<span class='active'>Aktywny</span>") : Html.Raw("<span class='inactive'>Nieaktywny</span>"))</td>
                    <td class="cell date">@Model.blog.list[i].date_user.ToShortDateString()</td>
                    <td class="cell delete">
                        <a href="#" class="delete-btn" data-postid="@Model.blog.list[i].id.ToString()">
                            <img src="~/assets/img/icon_delete.png" />Usuń
                        </a>
                    </td>
                    <td class="cell edit"><a href="@Url.Action("EditAsk", "Blog", new { id = @Model.blog.list[i].id.ToString() })">
                        <img src="~/assets/img/icon_edit.png" />Edytuj</a></td>
                    <td id="post-@Model.blog.list[i].id.ToString()"  class="content-row" colspan="6">
                        @if (Model.blog.list[i].s_post_id == 1)
                        {
                            <div class="text">
                                @Html.Raw(Model.blog.list[i].content)
                            </div>
                        }
                        else if (Model.blog.list[i].s_post_id == 2)
                        {

                            Model.s_post.id = Model.blog.list[i].s_post_id;
                            Model.s_post.get_data();
                            Model.blog_file.generate_list(SfCms_model.class_blog_file.search_type.blog_id, Model.blog.list[i].id.ToString());

                            for (var no = 1; no <= 5; no++)
                            {

                                var query_blog_file = from bf in Model.blog_file.list where bf.no == no select bf;
                                var czy_no = false;

                                if (query_blog_file.Count() > 0)
                                {
                                    czy_no = true;
                                }
                            
                                <div class="file-wrapper">
                                <div class="label">Zdjęcie nr @no</div>
                                    @if (czy_no)
                                    {
                                        foreach (SfCms_model.class_blog_file bf in query_blog_file)
                                        {
                                            <div class="image-wrapper">
                                                <img src="@Url.Action("BlogImageSmall", "Image", new { id = bf.id })" width="220" alt="" />
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                        else if (Model.blog.list[i].s_post_id == 3)
                        {
                            <div class="video">
                                @Html.Raw(Model.blog.list[i].media_link)
                            </div>
                        }
                        <form action="@Url.Action("Delete", "Blog")" method="post" class="form-horizontal">
                            <input type="hidden" id="id" name="id" value="@Model.blog.list[i].id.ToString()"/>
                            <div class="form-group">
                                <span>Czy na pewno chcesz usunąć post?</span>
                                <input type="submit" class="btn btn-primary" value="Usuń" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $content;
        $(".delete-btn").click(function (e) {
            $this = $(this);
            if ($content !== undefined)
                $content.slideUp("fast");
            $content = $("#post-" + $this.attr("data-postid"));
            $content.slideDown("slow");
            e.preventDefault();
        });
    });
</script>
