﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Blog.cshtml";
}

<div>
    <h2>controller: @ViewContext.RouteData.Values["controller"]</h2>
    <h3>action: @ViewContext.RouteData.Values["action"]</h3>
</div>

<div class="row">
    <div class="col-lg-12">

    <ul class="list-unstyled">
        <li><a href="@Url.Action("LogOff", "Account")">LogOff</a></li>
        <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
        <li><a href="@Url.Action("AddAsk", "Blog")">Blog AddAsk</a></li>
    </ul>

    </div>
</div>

<div class="row">
<div class="col-lg-12">

    <div>Id: @Model.blog.id.ToString()</div>
    @if (Model.blog.active)
    {
        <div>Aktywny: Tak</div>
    }
    else
    {
        <div>Aktywny: Nie</div>
    }
    <div>Typ: @Model.s_post.name</div>
    <div>Tytuł: @Model.blog.title</div>
    <div>Data Publikacji: @Model.blog.date_user.ToShortDateString()</div>
    <div>Data Edycji: @Model.blog.date_admin.ToString()</div>

    @if (Model.blog.s_post_id == 1)
    {
        <div>Treść: @Model.blog.content</div>
        if (@Model.blog_file.list.Count >= 1)
        {
            if (@Model.blog_file.list[0].content != null)
            {
                <div>
                    Zdjęcie(1) główne:
                    <img src="@Model.blog_file.list[0].content_base64" alt="" />
                </div>
            }
        }
    }
    else if (Model.blog.s_post_id == 2)
    {
        if (@Model.blog_file.list.Count >= 1)
        {
            if (@Model.blog_file.list[0].content != null)
            {
                <div>
                    Zdjęcie(1) główne:
                    <img src="@Model.blog_file.list[0].content_base64" alt="" />
                </div>
            }
        }
        if (@Model.blog_file.list.Count >= 2)
        {
            if (@Model.blog_file.list[1].content != null)
            {
                <div>
                    Zdjęcie(2):
                    <img src="@Model.blog_file.list[1].content_base64" alt="" />
                </div>
            }
        }
        if (@Model.blog_file.list.Count >= 3)
        {
            if (@Model.blog_file.list[2].content != null)
            {
                <div>
                    Zdjęcie(3):
                    <img src="@Model.blog_file.list[2].content_base64" alt="" />
                </div>
            }
        }
        if (@Model.blog_file.list.Count >= 4)
        {
            if (@Model.blog_file.list[3].content != null)
            {
                <div>
                    Zdjęcie(4):
                    <img src="@Model.blog_file.list[3].content_base64" alt="" />
                </div>
            }
        }
        if (@Model.blog_file.list.Count >= 5)
        {
            if (@Model.blog_file.list[4].content != null)
            {
                <div>
                    Zdjęcie(5):
                    <img src="@Model.blog_file.list[4].content_base64" alt="" />
                </div>
            }
        }
    }
    else if (Model.blog.s_post_id == 3)
    {
        <div>Media link: @Model.blog.media_link</div>
    }

</div>
</div>