﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #CD4340;
    }

    .color2 {
        background-color: #DC5D5B;
    }

    .right-col h2, .right-col h3 {
        color: #CD4340;
    }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-program.png" /></a>
            <a id="back" href="~/#program" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/program-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Program Mentor</h1>
        </div>
        <div class="text-wrapper">
            <p>
                Gdański Program Stypendialny Mentor powstał w 2012 roku z inicjatywy pana Pawła Adamowicza na bazie wieloletniej współpracy w zakresie wspierania młodych gdańszczan i gdańszczanek znajdujących się w trudnej sytuacji życiowej. Program Mentor odpowiada na potrzebę rozwoju młodych z potencjałem, którzy mają pomysł na siebie, ale na drodze do jego realizacji zderzają się z twardymi realiami życia codziennego. Wykorzystujemy różnorodne narzędzia wsparcia: od sfery finansowej, przez społeczną, edukacyjną – wszystkie ujęte w unikalnym programie mentoringowym. Poszukujemy innowacyjnych rozwiązań – angażujemy społeczność lokalną i sięgamy po nowoczesne technologie. Wysoką jakość gwarantuje społeczne zaangażowanie profesjonalnych partnerów: Gdańskiej Fundacji Oświatowej, Miasta Gdańsk oraz Uniwersytetu Gdańskiego.
            </p>
            <h2>Operator</h2>
            <p>
                Fundacja Innowacji Społecznej (FIS) jest wyodrębnionym podmiotem, będącym operatorem działań Gdańskiej Fundacji Innowacji Społecznej. FIS została powołana do wdrażania programów aktywizacji społeczno-zawodowej młodzieży znajdującej się w trudnej sytuacji życiowej. FIS prowadzi firmy społeczne, w których osiągany zysk jest reinwestowany we wspieranie młodych: kawiarnię Kuźnia na gdańskiej Oruni oraz SoStayHotel*** przy ul. Kartuskiej w Gdańsku. Fundacja pomaga w przygotowaniu i wprowadzaniu młodzieży na otwarty rynek pracy. 
            </p>
            <h2>Partnerzy</h2>
            <p>
                <span>Gdańska Fundacja Oświatowa (GFO)</span> – ceniona organizacja pozarządowa z ogromnym doświadczeniem w innowacyjnym wspieraniu rozwoju młodych osób. Specjaliści z GFO opracowali i realizują system rekrutacji Programu Mentor oraz zaangażowani są we wsparcie merytoryczne Mentorów.
            </p>
            <p>
                <span>Miasto Gdańsk</span> –  partner Programu Mentor z sektora publicznego, dysponujący szerokim potencjałem organizacyjnym i merytorycznym. Miasto Gdańsk służy wsparciem w promocji Programu i pozyskiwaniu sojuszników na rzecz idei wspierania młodych gdańszczan i gdańszczanek.
            </p>
            <p>
                <span>Paweł Adamowicz</span> – pomysłodawca, inicjator i pierwszy prywatny darczyńca Programu Mentor. Paweł Adamowicz wspiera merytorycznie system organizacji  Programu.
            </p>
            <p>
                <span>Uniwersytet Gdański (UG)</span> – prestiżowa uczelnia wyższa z nowatorskim podejściem do kształcenia i długą historią sukcesów edukacyjnych. Kadra uniwersytecka zbudowała i wprowadza w życie unikalny system przygotowywania Mentorów w ramach kursu SMS – Szkoła dla Stypendysty. Uniwersytet wspiera również proces pozyskiwania kandydatów na Mentorów.

            </p>
        </div>
    </div>
    <div class="right-col text bg-white">
        <h2>Rada Funduszu</h2>
        <p>
            Rada Funduszu jest strukturą dbającą o wysoką jakość działań Gdańskiego Programu Stypendialnego Mentor. W skład Rady wchodzą przedstawiciele partnerów Programu:
        </p>
        <ul>
            <li>
                <h3>Paweł Adamowicz</h3>
            </li>
            <li>
                <h3>Marianna Sitek–Wróblewska</h3>
                <p>z ramienia Gdańskiej Fundacji Innowacji Społecznej</p>
            </li>
            <li>
                <h3>Piotr Wróblewski</h3>
                <p>z ramienia Gdańskiej Fundacji Innowacji Społecznej</p>
            </li>
            <li>
                <h3>Anna Machnikowska</h3>
                <p>z ramienia Uniwersytetu Gdańskiego</p>
            </li>
            <li>
                <h3>Maria Mendel</h3>
                <p>z ramienia Uniwersytetu Gdańskiego</p>
            </li>
            <li>
                <h3>Bożena Pawlak</h3>
                <p>z ramienia Gdańskiej Fundacji Oświatowej</p>
            </li>
            <li>
                <h3>Ewa Czech</h3>
                <p>z ramienia Gdańskiej Fundacji Oświatowej</p>
            </li>
            <li>
                <h3>Piotr Kowalczuk</h3>
                <p>z ramienia Gminy Miasta Gdańska</p>
            </li>
            <li>
                <h3>Teresa Blacharska</h3>
                <p>z ramienia Gminy Miasta Gdańska</p>
            </li>
            <li>
                <h3>Marek Suchar</h3>
                <p>przedstawiciel Pana Pawła Adamowicza</p>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>

