﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-cube"></i> @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_10) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.AddAsk) @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_9)</h4>
            </div>
            <div class="panel-body panel-form">
                <form action="@Url.Action("Add","Project")" method="post" enctype = "multipart/form-data" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    <div class="form-group">
                        <!-- active -->
					    <label class="control-label col-md-2 col-sm-2">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_2) :</label>
					    <div class="col-md-4 col-sm-4">
						    <div class="checkbox"><label><input type="checkbox" id="active" name="active" value="true"/>&nbsp</label></div>
					    </div>
                        <!-- date_start date_stop -->
                        <label class="control-label col-md-2 col-sm-2">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_13) *:</label>
                        <div class="col-md-4 col-sm-4">
                            <div class="input-group input-daterange">
                                <input type="text" class="form-control" id="date_start" name="date_start" placeholder="@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_6)" value="@DateTime.Now.ToShortDateString()" maxlength="10" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                                <span class="input-group-addon">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_14)</span>
                                <input type="text" class="form-control" id="date_stop" name="date_stop" placeholder="@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_7)" value="@DateTime.Now.ToShortDateString()" maxlength="10" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
                            </div>
                        </div>
				    </div>
                    <div class="form-group">
                        <!-- name -->
					    <label class="control-label col-md-2 col-sm-2">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_3) *:</label>
					    <div class="col-md-4 col-sm-4">
						    <input class="form-control" type="text" id="name" name="name" placeholder="@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_3)" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
					    </div>
                        <!-- amount -->
                        <label class="control-label col-md-2 col-sm-2">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_8) *:</label>
                        <div class="col-md-4 col-sm-4">
                            <input class="form-control" type="text" id="amount" name="amount" placeholder="@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_8)" maxlength="15" data-parsley-type="integer" data-parsley-required="true" data-parsley-error-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.IntegerRequired)"/>
                        </div>
				    </div>
                    <div class="form-group">
                        <!-- title -->
					    <label class="control-label col-md-2 col-sm-2" for="title">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_4) *:</label>
					    <div class="col-md-10 col-sm-10">
						    <input class="form-control" type="text" id="title" name="title" placeholder="@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_4)" maxlength="200" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)"/>
					    </div>
				    </div>
                    <div class="form-group">
                        <!-- content -->
                        <label class="control-label col-md-2 col-sm-2" for="title">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_5) *:</label>
					    <div class="col-md-10 col-sm-10">
						    <textarea class="ckeditor" id="content" name="content" rows="20" maxlength="2000" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_5)</textarea>
					    </div>
				    </div>  
                    @for (var i = 0; i < Model.s_brick.list.Count; i++)
                    {
                        if (Model.s_brick.list[i].active)
                        {
                            <input id="s_brick-@i-id" name="s_brick-@i-id" type="hidden" value="@Model.s_brick.list[i].id"/>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2" for="brick-@i-content">Cegiełka @Model.s_brick.list[i].name zł*:</label>
                                <div class="col-md-10 col-sm-10">
						            <textarea class="ckeditor" id="brick-@i-content" name="brick-@i-content" rows="20" maxlength="2000" data-parsley-required="true" data-parsley-required-message="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.FieldRequired)">@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_5)</textarea>
					            </div>
                            </div>
                        }
                    }
				    <div class="form-group">
					    <label class="control-label col-md-2 col-sm-2"></label>
					    <div class="col-md-10 col-sm-10">
                            <button type="submit" class="btn btn-primary">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</button>
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
					    </div>
				    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->