﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-cube"></i> @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_10) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAsk) @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_9) @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_1):@Model.project.id.ToString()</h4>
            </div>
            <div class="panel-body">
				<div class="note note-danger">
                    @if (Model.project.list_beneficiary.Count == 0 && Model.project.list_mentor.Count == 0)
                    {
					    <h4>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_9) @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAskHe)</h4>
					    <p>
						    @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.DeleteAccept) @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_11)
                        </p>
                    }
                    else
                    {
                        <h4>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_9) @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.NotDeleteAskHe)</h4>
					    if (Model.project.list_beneficiary.Count > 0)
                        {
                            <p>
						        @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_21)
                            </p>
                        }
                        if (Model.project.list_mentor.Count > 0)
                        {
                            <p>
						        @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_23)
                            </p>
                        }
                    }
				</div>
            </div>
            <div class="panel-body">
				<div class="media">
					<div class="media-body">
						<h3 class="media-heading"><i class="fa fa-cube"></i> @Model.project.name</h3>
                        <h4>@Model.project.title</h4>
                        <dl class="dl-horizontal">
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_1)</dt>
                            <dd>@Model.project.id.ToString()</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_2)</dt>
                            <dd>
                            @if(Model.project.active == true)
                            {
                                <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                            }
                            else
                            {
                                <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                            }
                            </dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_6)</dt>
                            <dd>@Model.project.date_start.ToShortDateString()</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_7)</dt>
                            <dd>@Model.project.date_stop.ToShortDateString()</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_17)</dt>
                            <dd>@Model.project.to_end.ToString()</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_15)</dt>
                            <dd>@Model.project.support.ToString() @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_18)</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_8)</dt>
                            <dd>@Model.project.amount.ToString() @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_12)</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_16)</dt>
                            <dd>@Model.project.support_amount.ToString() @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_12)</dd>
                            <dt>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_19)</dt>
                            <dt></dt>
                            <dd>
                                <div class="progress progress-striped active">
                                    @if(Model.project.support_percent <= 100)
                                    {
                                        <div class="progress-bar progress-bar-success" style="width: @Model.tool.format_decimal_dot(@Model.project.support_percent)%"> @Model.tool.format_decimal(@Model.project.support_percent) %</div>
                                    }
                                    else
                                    {
                                        <div class="progress-bar progress-bar-success" style="width: 100%"> @Model.tool.format_decimal(@Model.project.support_percent) %</div>
                                    }
                                </div>
                            </dd>
						</dl>
                        <p>@Html.Raw(Model.project.content)</p> 
					</div>
				</div>
			</div>
            <div class="panel-body panel-form">
                @using (Html.BeginForm("Delete", "Project", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                {
                    <fieldset>
                    <legend></legend>
                
                    <input type="hidden" id="id" name="id" value="@Model.project.id.ToString()"/>

                    <div class="form-group">
						<div class="col-md-12 col-sm-12">
                            @if (Model.project.list_beneficiary.Count == 0 && Model.project.list_mentor.Count == 0)
                            {
                                <input type="submit" value="@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)" class="btn btn-danger active"/>
                            }
                            <a href="javascript:history.back(-1);" class="btn btn-success">
                                <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                            </a>
						</div>
					</div>

                    </fieldset>
                }
            </div>
        </div>
        <!-- end panel -->
	</div>
</div>
<!-- end row -->

@for (var i = 0; i < Model.project.list_beneficiary.Count; i++)
{
    <!-- begin page-header -->
    <h1 class="page-header"><i class="fa fa-user"></i> @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_20) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details)</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title"><i class="fa fa-user"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_14) @Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1):@Model.project.list_beneficiary[i].id.ToString()</h4>
                </div>
                <div class="panel-body">
				    <div class="media">
					    <span class="media-left">
                            @{
								Model.beneficiary_file.get_data(SfCms_model.class_beneficiary_file.search_type.beneficiary_id, SfCms_model.class_beneficiary_file.image_type.empty, Model.project.list_beneficiary[i].id.ToString());
								if (Model.beneficiary_file.id != 0)
								{
									<img src="@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.project.list_beneficiary[i].id })" alt="" class="media-object" />
								}
							}
                        </span>
					    <div class="media-body">
						    <h3 class="media-heading">@Model.project.list_beneficiary[i].title</h3>
                            <h4><i class="fa fa-cube"></i> @Model.project.name</h4>
                            <dl class="dl-horizontal">
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_1)</dt>
                                <dd>@Model.project.list_beneficiary[i].id.ToString()</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_2)</dt>
                                <dd>
                                @if(Model.project.list_beneficiary[i].active == true)
                                {
                                    <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                                }
                                else
                                {
                                    <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                                }
                                </dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_20)</dt>
                                <dd>@Model.project.list_beneficiary[i].s_sex_id_dictionary</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_7)</dt>
                                <dd>@Model.project.list_beneficiary[i].surname</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_6)</dt>
                                <dd>@Model.project.list_beneficiary[i].name</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_4)</dt>
                                <dd>@Model.project.list_beneficiary[i].login</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_5)</dt>
                                <dd>@Model.project.list_beneficiary[i].password</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_21)</dt>
                                <dd>@Model.project.list_beneficiary[i].paylane_merchant_id</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_22)</dt>
                                <dd>@Model.project.list_beneficiary[i].paylane_salt</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_23)</dt>
                                <dd><a href="@Model.project.list_beneficiary[i].yt_link" target="_blank">@Model.project.list_beneficiary[i].yt_link</a></dd>
							    <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_9)</dt>
							    <dd>@Model.project.list_beneficiary[i].date_birth.ToShortDateString()</dd>
                                <dt>@Model.beneficiary_dictionary.get_phrase(SfCms_model.class_beneficiary_dictionary.id.id_18)</dt>
                                <dd>@Model.project.list_beneficiary[i].age().ToString()</dd>
						    </dl>
                            <p>@Html.Raw(Model.project.list_beneficiary[i].content)</p> 
					    </div>
				    </div>
			    </div>
            </div>

            <p>
                <a href="javascript:history.back(-1);" class="btn btn-success">
                    <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                </a>
            </p>
            <!-- end panel -->
	    </div>
    </div>
    <!-- end row -->
}

@for (var i = 0; i < Model.project.list_mentor.Count; i++)
{
    <!-- begin page-header -->
    <h1 class="page-header"><i class="fa fa-anchor"></i> @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_22) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details)</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title"><i class="fa fa-anchor"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Details) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_9) @Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_1):@Model.project.list_mentor[i].id.ToString()</h4>
                </div>
                <div class="panel-body">
				    <div class="media">
					    <span class="media-left">
                            @{
                                Model.mentor_file.get_data(SfCms_model.class_mentor_file.search_type.mentor_id, SfCms_model.class_mentor_file.image_type.empty, Model.project.list_mentor[i].id.ToString());
                                if (Model.mentor_file.id != 0)
                                {
                                    <img src="@Url.Action("MentorImageSmall", "Image", new { id = Model.project.list_mentor[i].id })" alt="" class="media-object" />
                                }
                            }
                        </span>
					    <div class="media-body">
						    <h4><i class="fa fa-cube"></i> @Model.project.name</h4>
                            <dl class="dl-horizontal">
                                <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_1)</dt>
                                <dd>@Model.project.list_mentor[i].id.ToString()</dd>
                                <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_2)</dt>
                                <dd>
                                @if(Model.project.list_mentor[i].active == true)
                                {
                                    <span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span>
                                }
                                else
                                {
                                    <span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span>
                                }
                                </dd>
                                <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_5)</dt>
                                <dd>@Model.project.list_mentor[i].surname</dd>
                                <dt>@Model.mentor_dictionary.get_phrase(SfCms_model.class_mentor_dictionary.id.id_4)</dt>
                                <dd>@Model.project.list_mentor[i].name</dd>
						    </dl>
                            <p>@Html.Raw(Model.project.list_mentor[i].content)</p> 
					    </div>
				    </div>
			    </div>
            </div>

            <p>
                <a href="javascript:history.back(-1);" class="btn btn-success">
                    <i class="fa fa-arrow-circle-left"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Return)
                </a>
            </p>
            <!-- end panel -->
	    </div>
    </div>
    <!-- end row -->
}