﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/_Layout_v1.6.cshtml";
}

<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-cube"></i> @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_10) <small>@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Show)</small></h1>
<!-- end page-header -->
			
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><i class="fa fa-list-ul"></i></h4>
            </div>
            <div class="panel-body">
                <a href="@Url.Action("AddAsk","Project")" class="btn btn-success m-r-5 m-b-5"><i class="fa fa-plus-square"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Add)</a>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!-- id -->
                            <th>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_1)</th>
                            <!-- active -->
                            <th>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_2)</th>
                            <!-- name -->
                            <th>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_3)</th>
                            <!-- date_start -->
                            <th>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_6)</th>
                            <!-- date_stop -->
                            <th>@Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_7)</th>
                            <!-- amount -->
                            <th>
                                @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_8)
                                @Model.project_dictionary.get_phrase(SfCms_model.class_project_dictionary.id.id_12)
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(var i = 0; i < Model.project.list.Count; i++)
                        {
                            <tr>
                                <td>@Model.project.list[i].id.ToString()</td>
                                @if (@Model.project.list[i].active)
                                {
                                    <td><span class="label label-success">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Yes)</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.No)</span></td>
                                }
                                <td>@Model.project.list[i].name</td>
                                <td>@Model.project.list[i].date_start.ToShortDateString()</td>
                                <td>@Model.project.list[i].date_stop.ToShortDateString()</td>
                                <td>@Model.project.list[i].amount.ToString()</td>
                                <td><a href="@Url.Action("DeleteAsk", "Project", new { id = @Model.project.list[i].id.ToString() })" class="btn btn-danger btn-sm active m-r-5"><i class="fa fa-trash-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Delete)</a></td>
                                <td><a href="@Url.Action("EditAsk", "Project", new { id = @Model.project.list[i].id.ToString() })" class="btn btn-primary btn-sm m-r-5"><i class="fa fa-edit"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.Edit)</a></td>
                                <td><a href="@Url.Action("Show", "Project", new { id = @Model.project.list[i].id.ToString() })" class="btn btn-warning btn-sm m-r-5"><i class="fa fa-newspaper-o"></i> @Model.dictionary.get_phrase(SfCms_model.class_dictionary.phrase.More)</a></td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
	</div>	  
</div>
<!-- end row -->