﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #A3B61D;
    }

    .color2 {
        background-color: #B6CB21;
    }

    .right-col, .right-col a {
        color: #A3B61D;
    }

        .right-col a:hover {
            color: #B6CB21;
        }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-mentor.png" /></a>
            <a id="back" href="~/#mentor" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/mentor-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Zotań Mentorem</h1>
        </div>
        <ul id="faq">
            <li>
                <h2>Kto może zostać Mentorem?</h2>
                <p>
                    Mentorem może zostać każda pełnoletnia osoba, która ma czas i motywację do podzielenia się swoim doświadczeniem życiowym z drugim człowiekiem. Mentor musi być osobą niekaraną.
                </p>
            </li>
            <li>
                <h2>Na czym polega praca Mentora ze Stypenydstą?</h2>
                <p>
                    Mentor wspiera Stypendystę w realizacji zaplanowanego projektu. Przez 10 miesięcy towarzyszy młodej osobie w kolejnych etapach przygotowań. Wsparcie może dotyczyć np. skutecznego planowania, poszukiwania pomocy i radzenia sobie w trudnych dla Stypendysty sytuacjach. Wspólna praca opiera się na regularnych spotkaniach i dodatkowym kontakcie – np. drogą mailową, czy elektroniczną.
                </p>
            </li>
            <li>
                <h2>Jestem osobą niepełnoletnią, czy mogę zostać Mentorem?</h2>
                <p>
                    Mentor musi mieć ukończone 18 lat.
                </p>
            </li>
            <li>
                <h2>Nie mam wykształcenia wyższego, czy mogę zostać Mentorem?</h2>
                <p>
                    Jak najbardziej! Zależy nam na doświadczeniu życiowym – a tego nie mierzy się dyplomami. W ramach Programu przyszli Mentorzy otrzymują przygotowanie edukacyjne i superwizyjne – które przekazuje wiedzę potrzebną do pracy mentorskiej.
                </p>
            </li>
            <li>
                <h2>Ile czasu pracuje Mentor w tygodniu/miesiącu/roku?</h2>
                <p>
                    Trudno określić ilość czasu pracy. Większość zespołów Mentor-Stypendysta spotyka się raz w tygodniu – co dwa tygodnie. Do tego dochodzi kontakt telefoniczny i elektroniczny. Warto pamiętać, że Mentorzy biorą też udział w superwizji (zazwyczaj raz w miesiącu).
                </p>
            </li>
            <li>
                <h2>Co to jest superwizja? </h2>
                <p>
                    Superwizja to rodzaj konsultacji z osobą posiadającą większe doświadczenie w pracy mentoringowej (tzw. superwizorem) na temat przebiegu pracy wolontariusza. W programie gwarantujemy Mentorom: superwizję grupową – w zespole wolontaryjnym omawiamy doświadczenia w pracy ze Stypendystą, korzystając z wsparcia innych; superwizję indywidualną – spotkania z superwizorem ukierunkowane na rozwój Mentora.
                </p>
            </li>
            <li>
                <h2>Jak wygląda rekrutacja na Mentora?</h2>
                <p>
                    Krok pierwszy to wypełnienie dokumentów aplikacyjnych – pytamy w nich o doświadczenie życiowe i edukacyjne, pasje, zainteresowania itp. – oraz dołączenie CV.  Następnie zapraszamy wszystkich kandydatów na spotkanie rekrutacyjne, które będzie przestrzenią na opowiedzenie o sobie i zapoznanie się z charakterem pracy mentorskiej. Spotkanie jest podstawą do kwalifikacji na szkolenie dla Mentorów. Kolejny etap to szkolenie SMS – Szkoła Mentor dla Stypendysty: podczas szkolenia uczestnicy przygotowywani są do pracy mentorskiej i wspierania młodej osoby. Uczestnicy, którzy wykażą się chęcią i możliwościami interpersonalnymi, są zapraszani do Programu.
                </p>
            </li>
        </ul>
    </div>
    <div class="right-col files bg-white">
        <h2>Pliki do pobrania</h2>
        <ul>
            <li>
                <a href="~/dokumenty/mentor/Zal.1.Wniosek_osoby_ubiegaj%C4%85cej_sie_o_status_Mentora.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Zal.1.Wniosek_osoby_ubiegaj%C4%85cej_sie_o_status_Mentora.doc" target="_blank">
                    <h3>Wniosek o status Mentora</h3>
                    <p>Wniosek osoby ubiegającej się o status Mentora</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/mentor/Zal.2.Deklaracja_gotowosci_do_wolontariatu.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Zal.2.Deklaracja_gotowosci_do_wolontariatu.doc" target="_blank">
                    <h3>Deklaracja wolontariatu</h3>
                    <p>Deklaracja gotowości do wolontariatu</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/mentor/Zal.3.Oswiadczenie_o_pelni_praw_i_niekaralnosci.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Zal.3.Oswiadczenie_o_pelni_praw_i_niekaralnosci.doc" target="_blank">
                    <h3>Oświadczenie</h3>
                    <p>Oświadczenie o pełni praw i niekaralności</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/mentor/Zal.4.Kwestionariusz_dla_kandydatow_na_Mentora.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Zal.4.Kwestionariusz_dla_kandydatow_na_Mentora.doc" target="_blank">
                    <h3>Kwestionariusz</h3>
                    <p>Kwestionariusz dla kandydatów na Mentora</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/mentor/Rozszerzona_rekrutacja_warunki_dla_Mentorow.pdf" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Rozszerzona_rekrutacja_warunki_dla_Mentorow.pdf" target="_blank">
                    <h3>Warunki rekrutacji - termin rozszerzony</h3>
                    <p>Szczegółowe warunki rekrutacji Kandydatów i Kandydatek na Mentorów/rki II edycji Konkursu Stypendialnego – termin rozszerzony</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/mentor/Szczegolowe_warunki_rekrutacji_dla_Mentorow.pdf" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_green.png" /></a>
                <a href="~/dokumenty/mentor/Szczegolowe_warunki_rekrutacji_dla_Mentorow.pdf" target="_blank">
                    <h3>Warunki rekrutacji</h3>
                    <p>Szczegółowe warunki rekrutacji Kandydatów i Kandydatek na Mentorów/rki II edycji Konkursu Stypendialnego</p>
                </a>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>
