﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #448BB3;
    }
    .color2 {
        background-color: #5EA6CE;
    }
    .right-col, .right-col a { 
        color: #448BB3;
    }
    .right-col a:hover { 
        color: #5EA6CE;
    }
</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/logo-scholar.png" /></a>
            <a id="back" href="~/#stypendysta" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/scholar-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Zostań Stypendystą</h1>
        </div>
        <ul id="faq">
            <li>
                <h2>Kto może zostać Stypendystą?</h2>
                <p>
                    Stypendystą może zostać osoba w wieku 7-26 lat, zameldowana na terenie Miasta Gdańska, która uczy się lub studiuje. Kandydat na stypendystę musi mieć swój pomysł na rozwój, w którym pomoże mu stypendium. Wspieramy przede wszystkim osoby mające pomysł na siebie. Pasję, która zmienia ich życie, ale brakuje im środków na jej realizację.
                </p>
            </li>
            <li>
                <h2>Jak zgłosić swój projekt?</h2>
                <p>
                    Aby zgłosić projekt, trzeba wypełnić dokumenty rekrutacyjne. Rekrutacja ogłaszana jest cyklicznie w trybie rocznym na stronie internetowej Programu. W razie potrzeby służymy pomocą w przygotowaniu dokumentów.
                </p>
            </li>
            <li>
                <h2>Jak przebiega rekrutacja?</h2>
                <p>
                    Kandydatów na stypendystów prosimy o wypełnienie dokumentów aplikacyjnych, w których opisują pomysł na projekt oraz swoją sytuację życiową. Zachęcamy do załączenia wszelkich dokumentów, które opisują dokonania kandydata. Osoby, które poprawnie wypełnią dokumenty i spełniają kryteria formalne, zapraszane są na spotkanie rekrutacyjne. Podczas spotkania mają przestrzeń do prezentacji swojego pomysłu na projekt. Spotkanie jest podstawą do kwalifikacji kandydata do Programu.
                </p>
            </li>
            <li>
                <h2>Co to jest „projekt”?</h2>
                <p>
                    Projekt to opis pomysłu, który kandydat chce zrealizować przy wsparciu stypendium i Mentora. Budując projekt, zastanów się, jaki jest jego cel (po co to robię?). Zaplanuj, co będziesz po kolei robić (np. udział w treningach czy zajęciach, zakup sprzętu lub materiałów, przygotowanie wydarzenia, przygotowania do pokazu itp.). Określ jaki będzie rezultat projektu – skąd będziesz wiedzieć, że projekt odniósł sukces? Kandydatów na Stypendystów prosimy o przedstawienie swojego pomysłu.
                </p>
            </li>
            <li>
                <h2>W trakcie trwania programu skończę 27 lat, czy mogę aplikować? Kończę 7 lat po rozpoczęciu programu, czy mogę aplikować?</h2>
                <p>
                    Aplikować może osoba, która w ostatnim dniu rekrutacji ma skończone 7 lat, a nie skończyła jeszcze 27 lat.
                </p>
            </li>
        </ul>
    </div>
    <div class="right-col files bg-white">
        <h2>Pliki do pobrania</h2>
        <ul>            
			<li>
                <a href="~/dokumenty/Regulamin przyznawania i realizacji stypendiów.pdf" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/Regulamin przyznawania i realizacji stypendiów.pdf" target="_blank">
                    <h3>Regulamin przyznawania i realizacji stypendiów</h3>
                    <p>Regulamin przyznawania i realizacji stypendiów.pdf</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/stypendysta/Zal.1.Wniosek_o_kwalifikacje_do_programu.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/stypendysta/Zal.1.Wniosek_o_kwalifikacje_do_programu.doc" target="_blank">
                    <h3>Wniosek o kwalifikację do Programu</h3>
                    <p>Wniosek o kwalifikację do Programu</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/stypendysta/Zal.2.Oswiadczenie_o_syt._zyciowej.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/stypendysta/Zal.2.Oswiadczenie_o_syt._zyciowej.doc" target="_blank">
                    <h3>Oświadczenie o sytuacji rodzinnej i materialnej</h3>
                    <p>Oświadczenie o sytuacji rodzinnej i materialnej kandydata/tki do Gdańskiego Programu Stypendialnego Mentor</p>
                </a>
            </li>
            <li>
                <a href="~/dokumenty/stypendysta/Zal.3.Wstep_do_projektu.doc" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/stypendysta/Zal.3.Wstep_do_projektu.doc" target="_blank">
                    <h3>Wstęp do projektu</h3>
                    <p>Wstęp do projektu kandydata/tki do Gdańskiego Programu Stypendialnego Mentor</p>
                </a>
            </li>
            <li class="last">
                <a href="~/dokumenty/stypendysta/Rozszerzona_rekrutacja_szczegolowe_warunki_dla_stypendystow.pdf" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/stypendysta/Rozszerzona_rekrutacja_szczegolowe_warunki_dla_stypendystow.pdf" target="_blank">
                    <h3>Szczegółowe warunki rekrutacji – termin rozszerzony</h3>
                    <p>Szczegółowe warunki rekrutacji Stypendystów i Stypendystek do II edycji Konkursu Stypendialnego Gdański Fundusz Stypendialny Mentor – termin rozszerzony</p>
                </a>
            </li>
            <li class="last">
                <a href="~/dokumenty/stypendysta/Szczegolowe_warunki_rekrutacji_dla_stypendystow.pdf" target="_blank" class="file-icon">
                    <img src="~/assets/img/pdf-icon_blue.png" /></a>
                <a href="~/dokumenty/stypendysta/Szczegolowe_warunki_rekrutacji_dla_stypendystow.pdf" target="_blank">
                    <h3>Szczegółowe warunki rekrutacji</h3>
                    <p>Szczegółowe warunki rekrutacji Stypendystów i Stypendystek do II edycji Konkursu Stypendialnego Gdański Fundusz Stypendialny Mentor</p>
                </a>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>
