﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<div>
    <h2>controller: @ViewContext.RouteData.Values["controller"]</h2>
    <h3>action: @ViewContext.RouteData.Values["action"]</h3>
</div>

<div class="row">
    <div class="col-lg-12">

    <ul class="list-unstyled">
        <li><a href="@Url.Action("LogOff", "Account")">LogOff</a></li>
        <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
        <li><a href="@Url.Action("AddAsk", "Blog")">Blog AddAsk</a></li>
    </ul>

    </div>
</div>
