﻿@{
    Layout = "~/Views/Shared/Login.cshtml";
}

<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
        background-color: #ececec !important;
        text-align: center;
    }

    #content {
        position: absolute;
        top: 50%;
        margin-top: -237px;
        left: 0;
        right: 0;
    }

    #login-box {
        width: 90%;
        max-width: 380px;
        margin: 44px auto 0;
        border: 8px solid #ffffff;
        background-color: #ececec !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    h1 {
        font-size: 1.2em;
        color: #a6a5a5;
        font-weight: 700;
        text-transform: uppercase;
        padding: 30px 0;
    }

    input {
        font-family: 'Source Sans Pro';
        width: 205px;
        height: 38px;
        border: none;
        outline: none;
        border-radius: 5px;
        margin: 4px auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        input[type="text"], input[type="password"] {
            background-color: #ffffff;
            padding-left: 20px;
            color: #c5c5c5;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
            border: 1px solid #ffffff;
        }

        input#submit {
            font-family: 'Source Sans Pro';
            font-weight: 700;
            background-color: #4DBFAE;
            text-transform: uppercase;
            color: #ffffff;
            font-size: .9em;
            margin: 50px auto 30px;
            text-align: center;
            cursor: pointer;
            transition: all ease-in-out .2s;
            -o-transition: all ease-in-out .2s;
            -moz-transition: all ease-in-out .2s;
            -webkit-transition: all ease-in-out .2s;
        }

            input#submit:hover {
                background-color: #70CCBE;
            }

    #login-wrapper, #password-wrapper {
        position: relative;
        width: 205px;
        left: 0;
        right: 0;
        margin: auto;
    }

        #login-wrapper:after {
            content: "";
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-image: url('../assets/img/icon_user.png');
            top: 13px;
            right: 20px;
        }

        #password-wrapper:after {
            content: "";
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-image: url('../assets/img/icon_pswd.png');
            top: 14px;
            right: 20px;
        }

    #login-box a {
        height: 55px;
        line-height: 55px;
        width: 100%;
        display: block;
        border-top: 1px solid #ffffff;
        color: #c5c5c5;
        font-size: .9em;
    }

        #login-box a span {
            margin-left: 10px;
        }

    fieldset {
        position: relative;
    }

    #error-field {
        width: 205px;
        position: absolute;
        margin: 10px auto;
        text-align: right;
        left: 0;
        right: 0;
        font-size: .7em;
        color: #ae1d24;
    }

    .err {
        border: 1px solid #ae1d24 !important;
    }
</style>
<div id="content">
    <a href="~/"><img src="~/assets/img/logo-login.png" alt="Logo Mentor" /></a>
    <div id="login-box">
        <form action="@Url.Action("LogIn", "Account")" method="post" id="loginform">
            <fieldset>
                <h1>Logowanie</h1>
                <div>
                    <div id="login-wrapper">
                        <input type="text" id="login" name="login" placeholder="Login" maxlength="32">
                    </div>
                </div>
                <div>
                    <div id="password-wrapper">
                        <input type="password" id="password" name="password" placeholder="Hasło" maxlength="32">
                    </div>
                </div>
                <div id="error-field">
                    @ViewBag.LogInInfo
                </div>
                <div>
                    <div>
                        <input id="submit" type="submit" value="Zaloguj się" />
                    </div>
                </div>
            </fieldset>
        </form>
        <a href="~/">&#8592;<span>Przejdź do strony głównej</span></a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var loginI = $("#login"),
            passwordI = $("#password"),
            errField = $('#error-field');
        loginI.on('focus', function () {
            loginI.removeClass('err');
        });
        passwordI.on('focus', function () {
            passwordI.removeClass('err');
        });
        $('#submit').click(function (e) {
            err = false;
            if (!loginI.val()) {
                errField.html('Podaj login');
                err = true;
                loginI.addClass('err');
            }
            if (!passwordI.val()) {
                errField.html(err ? 'Podaj login i hasło' : 'Podaj hasło');
                err = true;
                passwordI.addClass('err');

            }
            if (err)
                e.preventDefault();
        });
    });
</script>

