﻿@model SfCms_model.class_pattern

@{
    Layout = "~/Views/Shared/Subpage.cshtml";
}

<style type="text/css">
    .color1 {
        background-color: #1DB7A0;
    }
    .color2 {
        background-color: #21D0B6;
    }
    .right-col, .right-col a { 
        color: #1DB7A0;
    }
    .right-col a:hover { 
        color: #21D0B6;
    
    }
    #crowd-faq-iconset {
        display:table;
        margin-left: 50px;
    }
    #crowd-faq-iconset li {
        display:table-row;
        margin-left:20px;    
    }
    .faq-header {
        text-align:center;
        font-size:1.2em;
		margin-top: 40px;
		margin-bottom:40px;
    }
    img.crowd-list-img {
        display: table-cell;
        height: 95px;
        width: 95px;
        float:left;
    }
    img.faq-arrow {
        width: 40px;
        height: 80px;
        position:relative;
        left:70px;
        -webkit-transform:rotate(16deg);
        -ms-transform:rotate(16deg);
        transform:rotate(16deg);
    }
    span.crowd-list-text {
        display:table-cell;
        text-transform: uppercase;
        text-align: left;
        max-width: 132px;
        position:relative;
        left:10px;
        top: 33px;
        color:black;
    }
    .faq-arrow {
        position:relative;
        left:10px;
    }
	span.special-text{
		font-weight:600;
		font-style:italic;
	}
@@media screen and (max-width:1024px) {
        #crowd-faq-iconset {
            margin: 35px auto;
        }
}
    @@media screen and (max-width:500px) {
        #crowd-faq-iconset {
            margin: 40px auto;
        }
        img.faq-arrow {
            position:relative;
            left:-19px ;
        }
}

    @@media screen and (max-width:320px) {
        img.crowd-list-img {
            height: 60px;
            width: 60px;
        }
        img.faq-arrow {
            left: -40px;
            width: 25px;
            height: 56px;
        }
    }

</style>

<header id="header">
    <div class="top color1">
        <div class="wrapper">
            <a id="logo" href="~/" target="_self">
                <img src="~/assets/img/mentor-logo.png" /></a>
            <a id="back" href="~/#crowdfunding" target="_self">
                <img src="~/assets/img/arrow-news.png" /><span>Strona główna</span></a>
        </div>
    </div>
</header>
<div id="bg-bars">
    <div class="color1"></div>
    <div class="color2"></div>
</div>
<div class="wrapper">
    <div class="left-col bg-white">
        <div id="subpage-icon" class="color1">
            <img src="~/assets/img/register-subpage-icon.png" />
        </div>
        <div id="header-wrapper">
            <h1 class="color2">Jak działa crowdfunding?</h1>
        </div>
        <div id="faq">
            <div class="faq-header"><h2>CROWDFUNDING</h2></div>
                <ul >
                    <li>
                        <h2>Czym jest crowdfunding i jak działa?</h2>
                        <p>Crowdfunding to nowy
						sposób finansowania projektów – w którym to społeczność pomaga w realizacji
						projektów, wspierając je finansowo. Każdy z nas może w łatwy sposób – za pomocą
						przelewu online – wesprzeć projekt symboliczną złotówką. Dzięki wpłatom pomysłodawcy
						otrzymują szansę realizacji swoich marzeń.</p><br>
						<p>Twórcy Programu Mentor
						zainspirowani takim rozwiązaniem sięgnęli po nie, dostosowując je jednocześnie do
						swoich potrzeb. W efekcie powstało narzędzie, które pozwala w łatwy sposób
						wpierać młodych zdolnych, a samych Stypendystów uczy zupełnie innego podejścia
						do realizacji zadań i pozwala zdobywać nowe kompetencje.</p>
                    </li>
                    <li>
                        <h2>Gdzie znajdę informację o projektach, którę mogę wesprzeć?</h2>
						<p>Każdy Stypendysta prowadzi bloga na którym znajduje się opis projektu oraz dzieli się postępami w realizacji swojego projektu.</p>
						<br>
						<p>
						Z bloga również dowiemy się więcej o samym Stypendyście – kim jest? Co lubi robić? –
						oraz o jego Mentorze. Dzięki systematycznym wpisom będziemy na bieżąco
						dowiadywać się, jak postępują prace nad projektem i jakie efekty udało się
						osiągnąć.
						</p>
						<br>
						<p>
						Po zalogowaniu system poprosi nas o wpisanie kwoty, którą chcemy
						przelać. Po jej podaniu przeniesiemy się do panelu płatności, gdzie postępować
						należy tak, jak za każdym razem, gdy dokonujemy przelewów online. Za finansową
						stronę wsparcia odpowiada portal PayLane. 
						</p>
                    </li>
                    <li>
                        <h2>Jak mogę wesprzeć finansowo wybrany projekt?</h2>
						<p>To bardzo proste! Po prawej stronie każdego z
blogów znajdują się prostokąty z czterema progami wsparcia (od 1 zł, od 10 zł,
od 50 zł, od 100 zł) i opisanymi nagrodami. Wystarczy wybrać  prostokąt, w którym mieści się kwota, którą
chcemy przelać i kliknąć w przycisk <span class="special-text">Wspieram projekt</span></p>
					<br>
					<p>
					Po kliknięciu w <span class="special-text">Wspieram projekt</span> system przeniesie
					nas do okna rejestracji i poprosi o zalogowanie się lub rejestrację – jeśli to
					nasza pierwsza wizyta na stronie i nie posiadamy jeszcze konta. Żeby założyć konto,
					należy wypełnić wszystkie pola, które pojawią się w oknie rejestracji. Po
					akceptacji danych na podanego podczas rejestracji maila otrzymamy link
					aktywacyjny, za pomocą którego będziemy mogli aktywować swoje konto. Po
					założeniu konta możemy przejść do logowania. Zalogować możemy się na dwa
					sposoby – wpisując maila i hasło lub za pomocą Facebooka.  
					</p>
					<br>
					<p>
					Po zalogowaniu system poprosi nas o wpisanie kwoty, którą chcemy
					przelać. Po jej podaniu przeniesiemy się do panelu płatności, gdzie postępować
					należy tak, jak za każdym razem, gdy dokonujemy przelewów online. Za finansową
					stronę wsparcia odpowiada portal PayLane. 
					</p>
                    </li>
                     <li>
                        <h2>Czy mogę wesprzeć kilka projektów?</h2>
						<p>
						Jak najbardziej! Każdy projekt jest wyjątkowy i
						zasługuje na wsparcie.
						</p>
					</li>
                    <li>
                        <h2>Jakie dane należy podać podczas rejestracji i dlaczego?</h2>
						<p>
						Podczas rejestracji system poprosi o wpisanie imienia, nazwiska oraz
						adresu e-mail, na który wysłany zostanie link aktywacyjny.
						</p>
						<br>
						<p>
						Twoje imię i nazwisko pojawi się w prostokącie zatytułowanym <span class="special-text">Darczyńcy</span>
						przy projekcie, któremu udzielone zostało wsparcie.
						</p>
						<br>
						<p>
						Na podany przy rejestracji mail Stypendyści będą mogli przesłać swoje
						podziękowania oraz ustalić informacje potrzebne do wysłania nagród. 
						</p>
					</li>
                    <li>
                        <h2>Czy wspierjąc, mogę wesprzeć anonimowo?</h2>
						<p>Przy wpisywaniu kwoty istnieje możliwość zaznaczenia opcji, która pozwoli
						nam pozostać anonimowym. Mamy jednak nadzieję, że każdy Wspierający zechce
						podzielić się informacją o udzielonym przez siebie wsparciu, by poprzez to
						zachęcić do tego innych. W końcu to powód do dumy i radości!</p>
                    </li>
                    <li>
                        <h2>Czy kwota którą wsparłem projekt będzie widoczna dla wszystkich?</h2>
						<p>
						Nie ujawniamy jaką kwotą dana osoba wsparła projekt. Szanujemy politykę
						prywatności, a poza tym najważniejsze jest dla nas samo zaangażowanie.
						</p>
                    </li>
                    <li>
                        <h2>Czy jest jakaś minimalna i maksymalna kwota wpłaty?</h2>
						<p>
						Tak, minimalna kwota, którą możemy wesprzeć projekt to 1 PLN. Maksymalna
						kwota wpłaty jest natomiast zmienna - nie może wynosić więcej niż tyle, ile
						brakuje do uzbierania pełnej sumy czyli 2000 PLN. 
						</p>
                    </li>
                    <li>
                        <h2>Czy kwota musi być zaokrąglona?</h2>
						<p>
						Tak, kwota, którą wpisujemy, zostanie zaokrąglona do pełnej złotówki. 
						</p>
						</li>       
                    <li>
                        <h2>Czy mogę wycofać wsparcie?</h2>
						<p>
						Przelewając
						wybraną kwotę, udzielasz wsparcia, które na bieżąco trafia do Stypendystów i pomaga
						im w realizacji projektów. Z tego względu nie ma możliwości wycofania się.
						</p>
                    </li>  
                    <li>
                        <h2>Czy operator finansowy pobiera prowizję od przelewów?</h2>
						<p>
						Operator
						PayLane odpowiadający za finansową obsługę serwisu i będący Partnerem Programu
						dobrowolnie zrezygnował z prowizji od przelewów. Dzięki temu przekazana przez
						Wspierających kwota w całości trafia na konto Stypendystów.
						</p>
                    </li>  
                    <li>
                        <h2>Co dzieje się w sytuacji, gdy Stypendysta uzbiera kwotę stypendium przed określonym czasem?</h2>
						<p>
						Dla Stypendysty to ogromna radość, a dla Wspierających informacja, że ten projekt
						nie potrzebuje już wsparcia. 
						</p>
					</li>  
                    <li>
                        <h2>Co dzieje się w sytuacji, gdy projekt nie zbierze określonej kwoty stypendium?</h2>
						<p>
						Jeżeli Stypendyście nie uda się uzbierać całej kwoty, to otrzymuje on tyle, ile trafiło
						na jego konto. Środki nie są zwracane do Wspierających. Każda zebrana kwota
						trafia do Stypendysty i pomaga w realizacji projektu. Poza tym już sam proces
						zbierania stypendium jest dla młodych osób rozwijającym zadaniem. 
						</p>
						<br>
						<p>
						Liczymy jednak na Waszą hojność i wierzymy, że każdy Stypendysta będzie mógł cieszyć
						się pełnym stypendium. 
						</p>
						
					</li> 
                    <li>
                        <h2>Czy pieniądze trafiają bezpośrednio do Stypendystów?</h2>
						<p>
						Każdy ze Stypendystów posiada przypisane sobie konto założone na potrzeby Programu przez
						Fundację Innowacji Społecznej. Ponieważ praca nad projektem trwa równolegle z
						prowadzoną zbiórką, a Stypendyści otrzymują tyle, ile uda się im uzbierać, bez
						konieczności zwracania, to środki systematycznie trafiają na dedykowane im
						konta i przekazywane są do ich rąk przez Fundację.
						</p>
                    </li>
                    <li>
                        <h2>Na co Stypendyści przeznaczają zebrane pieniądze?</h2>
						<p>
						Pieniądze zebrane przez Stypendystów to symboliczne sumy, które pozwalają na realizację projektów.
						</p>
                    </li>
                    <li>
                        <h2>Czym są nagrody i kto je tworzy?</h2>
						<p>
						Nagrody wymyślone są przez twórców projektów i określone jeszcze przez
						startem zbiórki. Każdemu progowi wsparcia przypisana jest inna nagroda, która
						trafia do Wspierającego po zakończonej zbiórce. 
						</p>
						<br>
						<p>
						Nagrody stworzone zostały przez samych Stypendystów i przeważnie
						związane są z realizowanym przez nich projektem, stąd ich wyjątkowość! 
						</p>
					</li>
                    <li>
                        <h2>Skąd Stypendyści będą wiedzieli na jaki adres wysłać nagrodę?</h2>
						<p>
						Po zakończonej zbiórce Stypendyści otrzymają listę Wspierających, którzy
						podczas rejestracji podzielili się swoim adresem e-mail. Dzięki temu
						Stypendyści mogą skontaktować się mailowo, by ustalić np. adres do
						korespondencji lub inne potrzebne informacje.
						</p>
                    </li>
                    <li>
                        <h2>Czy mogę zrezygnować z nagrody?</h2>
						<p>
						Jeżeli nie chcesz otrzymać nagrody, poinformuj nas o tym mailowo – kontakt @@program-mentor.pl
						</p>
					</li>
                    <li>
                        <h2>Gdzie znajduje się regulamin serwisu?</h2>
						<p>
						Regulamin serwisu i polityka prywatności znajdują się w stopce na dole strony. 
						</p>
                    </li>
                    <li>
                        <h2>Gdzie mogę zadać pytanie, którego nie ma na liście?</h2>
						<p>
						Z przyjemnością odpowiemy na wszystkie pytania. Kieruj je pod adres mailowy - kontakt @@program-mentor.pl
						</p>
                    </li>
                </ul>
   
        </div>
    </div>
    <div class="right-col bg-white">
        <h2>Jak działa crowdfunding?</h2>
            <div id="crowd-faq-iconset">
                
                    <ul>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd1.png" />
                                <span class="crowd-list-text">Wybierasz projekt</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd2_login.png" />
                                <span class="crowd-list-text">Logujesz się na stronie</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd3_choose_brick.png" />
                                <span class="crowd-list-text">Wybierasz cegiełkę</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd4_transfer_online.png" />
                                <span class="crowd-list-text">Przelewasz kwotę online</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd5_sufficent_funds.png" />
                                <span class="crowd-list-text">Zasilasz konto stypendysty</span>
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="faq-arrow" src="~/assets/img/arrow_down.png" />
                            </div>
                        </li>
                        <li>
                            <div class="crowd-list-item">
                                <img class="crowd-list-img" src="~/assets/img/logo_crowd6_heart.png" />
                                <span class="crowd-list-text">Otrzymujesz podziękowanie</span>
                            </div>
                        </li>

                    </ul>
            </div>
  
    </div>
</div>

