﻿@model SfCms_model.class_pattern

<div class="text-field">
    <img class="icon" src="~/assets/img/paper-plane.png" />
    <h5>Link resetujący hasło został wysłany!<br />Sprawdź swoją skrzynkę mailową.</h5>
</div>
<div class="submit-wrapper">
    <input class="submit-button" type="submit" data-dismiss="modal" value="Zamknij" />
</div>
