﻿@model SfCms_model.class_pattern

<form id="form_password_reset" method="post" data-ajax-url="@Url.Action("PasswordResetIn", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#form_password_reset_ajax" data-ajax-loading="#form_password_reset_loader" class="form-horizontal">
    <fieldset>
        <div class="text-field">
            <p style="width: 280px; margin-bottom: 20px;">
                Podaj adres e-mail, na który ma zostać przesłany link resetujący hasło do konta.
            </p>
        </div>
        <div class="login-wrapper" id="form_password_reset_email_div">
            <input type="email" id="form_password_reset_email" name="form_password_reset_email" placeholder="E-mail" value="@Model.user.email" maxlength="32"/>
        </div>
        <div class="error-field">
            <p class="error-text"></p>
            <img id="form_password_reset_loader" class="loader-gif" src="@Url.Content("~/assets/img/ajax-loader.gif")" style="top:12px"/>
        </div>
        <div class="submit-wrapper">
            <input id="submit-password-reset" class="submit-button" type="submit" value="Zresetuj hasło" />
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $form_password_reset_email = $("#form_password_reset_email"),
        $form_password_reset_error_text = $('#form_password_reset .error-text');

        $form_password_reset_email.on('focus', function () {
            $form_password_reset_email.removeClass('err');
        });

        $('#form_password_reset .submit-button').click(function (e) {
            err = false;

            if (!$form_password_reset_email.val()) {
                err = true;
                $form_password_reset_email.addClass('err');
            }

            if (err) {
                $form_password_reset_error_text.html('Bez adresu email nie będziemy w stanie zresetować hasła');
                e.preventDefault();
            } else
                $form_password_reset_error_text.html('');
        });

@if (Model.nav.post)
{
    //<!-- wyłączenie modala --> 

    if (Model.nav.modal_password_reset == false)
    {
        <text>
        $("#modal_password_reset").modal('hide');
        $("#modal_password_reset_info").modal('show');
        </text>
    }
    else
    {
        //<!-- validation - begin -->

        if (!Model.validation.czy_string_not_empty(Model.user.email))
        {
        <text>
        $form_password_reset_email.addClass('err');
        $form_password_reset_error_text.html('Bez adresu email nie będziemy w stanie zresetować hasła');
        </text>
        }
        else if (!Model.validation.czy_email(Model.user.email))
        {
        <text>
        $form_password_reset_email.addClass('err');
        $form_password_reset_error_text.html('To pole jest wymagane jako email');
        </text>
        }
        else if (!Model.nav.success && Model.nav.validation_password_reset)
        {
        <text>
        $form_password_reset_error_text.html('@Model.nav.info');
        </text>
        }

        //<!-- validation - end -->
    }
}
    });
</script>

