﻿@model SfCms_model.class_pattern

<form id="form_register" method="post" data-ajax-url="@Url.Action("RegisterIn", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#form_register_ajax" data-ajax-loading="#form_register_loader" class="form-horizontal">
    <fieldset>
        <!-- form_register_name -->
        <div id="form_register_name_div" class="input-wrapper">
            <input type="text" id="form_register_name" class="error-gen" name="form_register_name" placeholder="Imię" value="@Model.user.name" maxlength="200"/>
        </div>
        <!-- form_register_surname -->
        <div id="form_register_surname_div" class="input-wrapper">
            <input type="text" id="form_register_surname" class="error-gen" name="form_register_surname" placeholder="Nazwisko" value="@Model.user.surname" maxlength="200"/>
        </div>
        <!-- form_register_email -->
        <div id="form_register_email_div" class="input-wrapper">
            <input type="email" id="form_register_email" class="error-gen" name="form_register_email" placeholder="E-mail" value="@Model.user.email" maxlength="200"/>
        </div>
        <!-- form_register_password -->
        <div id="form_register_password_div" class="input-wrapper">
            <input type="password" id="form_register_password" class="error-gen" name="form_register_password" placeholder="Hasło" value="@Model.user.password_no_md5" maxlength="32"/>
        </div>
        <!-- form_register_password_repeat -->
        <div id="form_register_password_repeat_div" class="input-wrapper">
            <input type="password" id="form_register_password_repeat" class="error-gen" name="form_register_password_repeat" placeholder="Powtórz hasło" value="@Model.user.password_repeat" maxlength="32"/>
        </div>

        <div class="error-field">
            <p class="error-text"></p>
            <img id="form_register_loader" class="loader-gif" src="@Url.Content("~/assets/img/ajax-loader.gif")"/>
        </div>
        <div class="info-field">
            Rejestrując się w serwisie akceptujesz <a href="~/dokumenty/Regulamin serwisu program-mentor.pl.pdf" target="_blank">Regulamin</a> oraz <a href="~/dokumenty/Polityka ochrony prywatności serwisu program-mentor.pl.pdf" target="_blank">Politykę Prywatności</a>
        </div>
        <div class="submit-wrapper">
            <input id="submit-register" class="submit-button" type="submit" value="Załóż konto" />
        </div>
        <div class="modal-footer">
            <p style="font-size: .8em; text-align: right; margin: 0">* pola wymagane</p>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $form_register_inputs = $("#form_register .error-gen"),
        $form_register_name = $("#form_register_name"),
        $form_register_surname = $("#form_register_surname"),
        $form_register_email = $("#form_register_email"),
        $form_register_password = $("#form_register_password"),
        $form_register_password_repeat = $("#form_register_password_repeat"),
        $form_register_error_text = $('#form_register .error-text');
		
        $form_register_name.on('focus', function () {
            $form_register_name.removeClass('err');
        });
        $form_register_surname.on('focus', function () {
            $form_register_surname.removeClass('err');
        });
        $form_register_email.on('focus', function () {
            $form_register_email.removeClass('err');
        });
        $form_register_password.on('focus', function () {
            $form_register_password.removeClass('err');
        });
        $form_register_password_repeat.on('focus', function () {
            $form_register_password_repeat.removeClass('err');
        });

        $("#form_register_link").click(function (event) {
            $form_register_inputs.val('');
            $form_register_inputs.removeClass('err');
            $form_register_error_text.html('');
        });

        $('#form_register .submit-button').click(function (e) {
            err = false,
            err_p = false;
            err_pl = false;
			$emailValue = $form_register_email.val();
		
            if (!$form_register_name.val()) {
                err = true;
                $form_register_name.addClass('err');
            }
            if (!$form_register_surname.val()) {
                err = true;
                $form_register_surname.addClass('err');
            }
            if (!$form_register_email.val()) {
                err = true;
                $form_register_email.addClass('err');
            }
			
			
			
            if (!$form_register_password.val()) {
                err = true;
                $form_register_password.addClass('err');
            }
            if (!$form_register_password_repeat.val()) {
                err = true;
                $form_register_password_repeat.addClass('err');
            }
            if ($form_register_password.val() != $form_register_password_repeat.val()) {
                err_p = true;
                $form_register_password.addClass('err');
                $form_register_password_repeat.addClass('err');
                $form_register_error_text.html('Wpisane hasła rożnią się od siebie');
            }
			if($form_register_password_repeat.val().length<6&&$form_register_password.val().length<6){
				err_pl = true;
				$form_register_password.addClass('err');
                $form_register_password_repeat.addClass('err');
			}

            if (err) {
				$form_register_error_text.html('');
                $form_register_error_text.html($form_register_error_text.html() + '<br>Uzupełnij brakujące pola');
                e.preventDefault();
            } else if (err_p){
                e.preventDefault();
			}
			else if(err_pl){
				$form_register_error_text.html('Hasło powinno mieć co&nbsp;najmniej&nbsp;6&nbsp;znaków');
				e.preventDefault();
			}
            else
                $form_register_error_text.html('');
				
		});

        register_empty = false;

@if (Model.nav.post)
{
    //<!-- wyłączenie modala --> 
    
    if (Model.nav.modal_register == false)
    {
        <text>
        $("#modal_register").modal('hide');
        $("#modal_register_info").modal('show');
        </text>
    }
    else
    {
        //<!-- validation - begin -->
        
        if (!Model.validation.czy_string_not_empty(Model.user.name))
        {
        <text>
        $form_register_name.addClass('err');
        register_empty = true;
        </text>
        }

        if (!Model.validation.czy_string_not_empty(Model.user.surname))
        {
        <text>
        $form_register_surname.addClass('err');
        register_empty = true;
        </text>
        }

        if (!Model.validation.czy_string_not_empty(Model.user.email))
        {
        <text>
        $form_register_email.addClass('err');
        register_empty = true;
        </text>
        }
        else if (!Model.validation.czy_email(Model.user.email))
        {
        <text>
        $form_register_email.addClass('err');
        $form_register_error_text.html('To pole jest wymagane jako email');
        </text>
        }
        else if (Model.user.exists(SfCms_model.class_user.search_type.email, Model.user.email))
        {
        <text>
        $form_register_email.addClass('err');
        $form_register_error_text.html('Użytkownik o podanym adresie email już istnieje');
        </text>
        }

        if (!Model.validation.czy_string_not_empty(Model.user.password_no_md5))
        {
        <text>
        $form_register_password.addClass('err');
        register_empty = true;
        </text>
        }

        if (!Model.validation.czy_string_not_empty(Model.user.password_repeat))
        {
        <text>
        $form_register_password_repeat.addClass('err');
        register_empty = true;
        </text>
        }

        if (Model.validation.czy_string_not_empty(Model.user.password_no_md5) && Model.validation.czy_string_not_empty(Model.user.password_repeat) && (Model.user.password_no_md5 != Model.user.password_repeat))
        {
        <text>
        $form_register_password.addClass('err');
        $form_register_password_repeat.addClass('err');
        $form_register_error_text.html($form_register_error_text.html() + '<br>Wpisane hasła rożnią się od siebie');
        </text>
        }

        <text>
        if (register_empty) {
            $form_register_error_text.html($form_register_error_text.html() + '<br>Uzupełnij brakujące pola');
        }
        $form_register_error_text.html($form_register_error_text.html() + '<br>@Model.nav.info');
        </text>
        
        //<!-- validation - end -->
    }
}
	//<!-- escape keypress modal close  -->
	$(document).keyup(function(e){
		if(e.keyCode == 27){
			$('#modal_register').modal('hide');
		}
	});
 });
</script>
