﻿@model SfCms_model.class_pattern

<div class="wrapper">
    @{Model.menu.get_data(1);}
    <a id="logo" href="@Url.Action(Model.menu.action, Model.menu.controller)">
        <img src="~/assets/img/mentor-logo.png" />
    </a>
    @{Model.menu.get_data(7);}
	    <div class="menu" id="menu-desktop-wrapper">
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)">@Model.menu.name</a>
            <a href="~/#stypendysci">Inne projekty</a>
             @{   
                if (Session["user_id"] != null)
                {
                    <a class="login-btn" href="javascript:document.getElementById('form_user_logoff_button').click()"><span>Wyloguj</span></a>
                }
                else
                {
                    <a href="#" class="login-btn" id="form_login_link_desktop" data-toggle="modal" data-target="#modal_login"><span>Zaloguj się</span></a>
                }    
            }
            <a class="help" href="mailto:kontakt@program-mentor.pl">Problem?</a>
		</div>
		<div class="menu" id="menu-mobile-wrapper">
	    <div id="menu-mobile-btn">
			<div id="nav-icon">
				<span id="l1"></span>
				<span id="l2"></span>
				<span id="l3"></span>
			</div>
		</div>
		<div id="menu-mobile-btn-old">
			<div class="nav-icon-old"></div>
		</div>
		<div id="menu-mobile">
			<a href="@Url.Action(Model.menu.action, Model.menu.controller)">@Model.menu.name</a>
			<a href="~/#stypendysci">Inne projekty</a>
			 @{   
				if (Session["user_id"] != null)
				{
					<a class="login-btn" href="javascript:document.getElementById('form_user_logoff_button').click()"><span>Wyloguj</span></a>
				}
				else
				{
					<a href="#" class="login-btn" id="form_login_link_mobile" data-toggle="modal" data-target="#modal_login"><span>Zaloguj się</span></a>
				}    
			}
			<a class="help" href="mailto:kontakt@program-mentor.pl">Problem?</a>
		</div>
	</div>
</div>