﻿@model SfCms_model.class_pattern

<div class="text-field">
    <img class="icon" src="~/assets/img/paper-plane.png" />
    <h5>Dziękujemy za dokonanie rejestracji!</h5>
    <p>
        Link aktywacyjny został wysłany na podany przy rejestracji adres e-mail.
    </p>
</div>
<div class="submit-wrapper">
    <input class="submit-button" type="submit" data-dismiss="modal" value="Zamknij" />
</div>

