﻿@model SfCms_model.class_pattern

<style type="text/css">
    form#hidden-paylane-form input[type="text"] {
        display: none;
    }

    .modal-amount {
        margin-top: 40px;
    }

        .modal-amount h3 {
            color: #4DBFAE;
            font-weight: 400;
            font-size: 1.1em;
            margin: 0 auto 20px;
        }

        .modal-amount .text-field {
            position: relative;
            text-align: center;
            margin: 30px auto;
            height: 48px;
        }

        .modal-amount p {
            position: absolute;
            font-size: 1em;
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

    #amount-input div {
        display: inline-block;
    }

    #amount-input .input-wrapper {
        background-color: #ffffff;
        color: #c5c5c5;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        border: 1px solid #ffffff;
        width: 105px;
        vertical-align: middle;
    }

        #amount-input .input-wrapper:after {
            display: none;
        }

    #amount-input input {
        background-color: #ffffff;
        padding: 0;
        border: 0;
        width: 60px;
        height: 36px;
        border-radius: 0;
        text-align: right;
        margin: 0;
        float: left;
        color: #444444;
        font-weight: 400;
        font-size: 1.1em;
    }

    #amount-input label {
        width: 40px;
        text-align: left;
        float: right;
        height: 36px;
        margin: 0;
        line-height: 36px;
        padding-left: 2px;
        color: #444444;
        font-weight: 400;
        font-size: 1.1em;
    }

    #amount-input .input-nav {
        background-color: #ffffff;
        vertical-align: middle;
        border: 1px solid #ffffff;
        width: 40px;
        vertical-align: middle;
        height: 38px;
        cursor: pointer;
    }

        #amount-input .input-nav img {
            margin-top: 12px;
        }

    #brick-minus {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    #brick-plus {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    input#czy_anonymous {
        display: inline-block;
        float: left;
        width:30%;
        max-width:20px;
    }

    #anonim-checkbox label span {
        display: inline-block;
        font-size:0.89em;
        color: #4DBFAE;
    }
    #anonim-checkbox > div {
        font-size: .66em;
        margin-bottom: 13px;
        width: 77%;
         max-width: 242px;
        margin-left: auto;
        margin-right: auto;
    }
    #anonim-checkbox label input {
        height:15px;
        width:15px;
        visibility:hidden;
    }

    #anonim-checkbox label span:before {
        content:"\2713";
        color:transparent;
        width:15px;
        height:15px;
        border:1px solid rgba(91, 204, 187, 0.55);
        background-color:#ffffff;
        position:absolute;
        left:0px;
        top:1px;
        border-radius:3px;
        font-size:11px;
        font-weight:900;
    }
    #anonim-checkbox label input:checked + span:before {
        color: #4E3E3E;
    }

    #anonim-checkbox label {
        display:block;
        position:relative;
        width:50%;
        margin:7px auto;

    }

</style>


<div class="modal-amount">
    <h3>Kwota przelewu</h3>
    <div id="amount-input">
        <div class="input-nav" id="brick-minus">
            <img src="~/assets/img/input_minus.png" />
        </div>
        <div class="input-wrapper">
            <input type="text" id="amount" value="@Decimal.ToInt32(Model.paylane.request_amount)"/><label>zł</label>
        </div>
        <div class="input-nav" id="brick-plus">
            <img src="~/assets/img/input_plus.png" />
        </div>
    </div>
    <div class="text-field" style="text-align: center; margin: 30px auto">
        <p>
            Możliwy zakres wsparcia<br />
            od <span>1</span> do <span>@Decimal.ToInt32(Model.project.amount - Model.project.support_amount) zł</span>
        </p>
        <img id="form_paylane_loader" class="loader-gif" src="@Url.Content("~/assets/img/ajax-loader.gif")" style="width:45px;top:0;"/>
    </div>
	<div id="anonim-checkbox">
		<label for="czy_anonymous">
			<input type="checkbox" id="czy_anonymous" name="czy_anonymous" /><span>&nbsp;Wesprzyj&nbsp;anonimowo</span>
		</label>
        <div>Jeśli nie chcesz, aby informacja o Twoim wsparciu projektu była widoczna na stronie, zaznacz to pole.</div>
	</div>
</div>

<div class="submit-wrapper">
    <input id="submit-paylane" class="submit-button" type="submit" value="Dalej" style="margin-top: 0">
</div>

<form id="hidden-paylane-form" action="https://secure.paylane.com/order/cart.html" method="post">
    <input type="text" name="merchant_id" value="@Model.paylane.request_merchant_id"/>
    <input type="text" name="description" value="@Model.paylane.request_description"/>
    <input type="text" name="transaction_description" value="@Model.paylane.request_transaction_description"/>
    <input type="text" name="amount" value="@Model.tool.format_decimal_dot(Model.paylane.request_amount)"/>
    <input type="text" name="currency" value="@Model.paylane.request_currency"/>
    <input type="text" name="transaction_type" value="@Model.paylane.request_transaction_type"/>
    <input type="text" name="back_url" value="@Model.paylane.request_back_url"/>
    <input type="text" name="hash" value="@Model.paylane.request_hash"/>
    <input type="text" name="language" value="@Model.paylane.request_language"/>
    <input type="text" name="customer_name" value="@Model.paylane.request_customer_name"/>
    <input type="text" name="customer_email" value="@Model.paylane.request_customer_email"/>
    <input type="text" name="customer_country" value="@Model.paylane.request_customer_country"/>
</form>

<div id="bum"></div>

@if (Model.project.list_brick != null)
{
    int max_amount = Decimal.ToInt32(Model.project.amount - Model.project.support_amount);
    int current_brick = 0;
    <script type="text/javascript">
        $(document).ready(function () {
            min_amount = 1;
            max_amount = parseInt(@max_amount);
            rangeArr = [
            @for (var i = 0; i < Model.project.list_brick.Count; i++)
            {
                @Decimal.ToInt32(Model.project.list_brick[i].s_brick.amount_to);
                @(i + 1 != Model.project.list_brick.Count ? "," : "");
                                                                     if (Model.s_brick.amount_from == Model.project.list_brick[i].s_brick.amount_from)
                                                                     {
                                                                         current_brick = i;
                                                                     }
            }
            ];
            seedArr = [
            @for (var i = 0; i < Model.project.list_brick.Count; i++)
            {
                @Decimal.ToInt32(Model.project.list_brick[i].s_brick.seed);
                @(i + 1 != Model.project.list_brick.Count ? "," : "");
            }
            ];
            current_brick = parseInt(@current_brick);
            $amount = $('#amount');
            $('#brick-minus').click(function () {
                old_val = parseInt($amount.val());
                rest = (old_val % seedArr[current_brick]);
                new_val = old_val - (rest == 0 ? seedArr[current_brick] : rest);
                if (new_val < min_amount)
                    $amount.val(min_amount);
                else
                    $amount.val(new_val);
                if (current_brick > 0) {
                    if (new_val <= rangeArr[current_brick - 1])
                        current_brick -= 1;
                }
            });
            $('#brick-plus').click(function () {
                old_val = parseInt($amount.val());
                rest = seedArr[current_brick] - (old_val % seedArr[current_brick]);
                new_val = old_val + rest;
                if (new_val > max_amount)
                    $amount.val(max_amount);
                else
                    $amount.val(new_val);

                if (current_brick < rangeArr.length - 1) {
                    if (new_val >= rangeArr[current_brick])
                        current_brick += 1;
                }
            });

            $amount.on('blur', function () {
                amount = parseInt($amount.val());
                if (amount < min_amount)
                    $amount.val(min_amount);
                else if (amount > max_amount)
                    $amount.val(max_amount);
                else if (isNaN(amount))
                    $amount.val(min_amount);
                else
                    $amount.val(amount);

                $.each(rangeArr, function (index, val) {
                    if (amount < val) {
                        current_brick = index;
                        return false;
                    }
                });
            });

            $('#submit-paylane').click(function () {
                $(".modal-amount p").fadeOut(400);
                $("#form_paylane_loader").fadeIn(400);
                params = 1;
                RecalculateHash(params);
            });
        });

        function RecalculateHash(params) {

        	var czy_anonymous;

        	if ($('#czy_anonymous').prop('checked'))
        	{
        		czy_anonymous = true;
        	}
        	else
        	{
        		czy_anonymous = false;
        	}

            var json = {
                "merchant_id": "" + '@Model.paylane.request_merchant_id' + "",
                "description": "" + '@Model.paylane.request_description' + "",
                "transaction_description": "" + '@Model.paylane.request_transaction_description' + "",
            	"amount": "" + $("#amount").val() + "",
            	"czy_anonymous": "" + czy_anonymous + "",
                "currency": "" + '@Model.paylane.request_currency' + "",
                "transaction_type": "" + '@Model.paylane.request_transaction_type' + "",
                "back_url": "" + '@Model.paylane.request_back_url' + "",
                "hash": "" + '@Model.paylane.request_hash' + "",
                "language": "" + '@Model.paylane.request_language' + "",
                "customer_name": "" + '@Model.paylane.request_customer_name' + "",
                "customer_email": "" + '@Model.paylane.request_customer_email' + "",
                "customer_country": "" + '@Model.paylane.request_customer_country' + ""
            };

             //do uzupełnienia, również o parametry z 
            var ws_url = '../Ws/Ws.asmx?op=Paylane_user';
            var soapRequest =
            '<?xml version="1.0" encoding="utf-8"?> \
            <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"> \
            <soap:Body> \
            <Paylane_user xmlns="http://tempuri.org/"> \
            <json>' + JSON.stringify(json) + '</json> \
            </Paylane_user> \
            </soap:Body> \
            </soap:Envelope>';

            $.ajax(
            {
                type: "POST",
                url: ws_url,
                contentType: "text/xml; charset=utf-8",
                dataType: "xml",
                data: soapRequest,
                success: function (data, status, xml)
                {
                    //xml
                    $(xml.responseXML).find('row').each(function ()
                    {
                        $('input[name="merchant_id"]').val($(this).find('merchant_id').text());
                        $('input[name="description"]').val($(this).find('description').text());
                        $('input[name="transaction_description"]').val($(this).find('transaction_description').text());
                        $('input[name="amount"]').val($(this).find('amount').text());
                        $('input[name="currency"]').val($(this).find('currency').text());
                        $('input[name="transaction_type"]').val($(this).find('transaction_type').text());
                        $('input[name="back_url"]').val($(this).find('back_url').text());
                        $('input[name="hash"]').val($(this).find('hash').text());
                        $('input[name="language"]').val($(this).find('language').text());
                        $('input[name="customer_name"]').val($(this).find('customer_name').text());
                        $('input[name="customer_email"]').val($(this).find('customer_email').text());
                        $('input[name="customer_country"]').val($(this).find('customer_country').text());
                        $('#hidden-paylane-form').submit();

                        console.log('suc');
                    });
                },
                error: function (data, status, xml) {
                    console.log('err');
                },
            });
        }

    </script>
}
