﻿@model SfCms_model.class_pattern

<div style="text-align:center;">
    zalogowany...
    <br /><br />
    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
</div>
        
