﻿@model SfCms_model.class_pattern

<form id="form_login_brick" method="post" data-ajax-url="@Url.Action("LogInBrick", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#form_login_brick_ajax" data-ajax-loading="#form_login_brick_loader" class="form-horizontal">
    <fieldset>
        <!-- form_login_project_id -->
        <input type="hidden" id="form_login_project_id" name="form_login_project_id" value="@Model.project.id" />
        <!-- form_login_brick_email -->
        <div class="login-wrapper">
            <input type="text" id="form_login_brick_email" class="error-gen" name="form_login_brick_email" placeholder="email" value="@Model.user.email" maxlength="32"/>
        </div>
        <!-- form_login_brick_password -->
        <div class="password-wrapper">
            <input type="password" id="form_login_brick_password" class="error-gen" name="form_login_brick_password" placeholder="hasło" value="@Model.user.password" maxlength="32"/>
            <a href="#" id="form_password_reset_link_brick" class="password_reset_link">Zapomniałeś hasła?</a>
        </div>
        <div class="error-field">
            <p class="error-text"></p>
            <img id="form_login_brick_loader" class="loader-gif" src="@Url.Content("~/assets/img/ajax-loader.gif")" style="width:45px;top:0;"/>
        </div>
        <div class="submit-wrapper">
            <input id="submit-login-brick" class="submit-button" type="submit" value="Zaloguj się" />
        </div>
        <div class="fb-login-wrapper">
            <a href="~/AccountUser/Facebook/@Model.project.id">
            <span type="button" class="fb-log-button">
                <span class="btn-icon"></span> <span class="btn-text">Zaloguj się za pomocą Facebook'a</span>
            </span>
            </a>
        </div>
        <div class="modal-footer">
            <span style="margin-right: 5px">Nie masz jeszcze konta?</span><a href="#" id="form_register_link2_brick">Zarejestruj się!</a>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $form_login_brick_inputs = $("#form_login_brick .error-gen"),
        $form_login_brick_email = $("#form_login_brick_email"),
        $form_login_brick_password = $("#form_login_brick_password"),
        $form_login_brick_error_text = $('#form_login_brick .error-text');

        $form_login_brick_email.on('focus', function () {
            $form_login_brick_email.removeClass('err');
        });
        $form_login_brick_password.on('focus', function () {
            $form_login_brick_password.removeClass('err');
        });

        @if(@Model.project.czy_support) {
            <text>
            $(".blue-box").click(function (event) {
                $form_login_brick_inputs.val('');
                $form_login_brick_inputs.removeClass('err');
                $form_login_brick_error_text.html('');

                AuthorizeSfCms_user($(this).attr('data-value'));
            });
            </text>
        }

        $("#form_password_reset_link_brick").click(function (event) {
            $("#modal_login_brick").modal('hide');
            $("#modal_password_reset").modal('show');

            $form_password_reset_email.val('');
            $form_password_reset_email.removeClass('err');
            $form_password_reset_error_text.html('');
        });

        $("#form_register_link2_brick").click(function (event) {
            $("#modal_login_brick").modal('hide');
            $("#modal_register").modal('show');

            $form_register_inputs = $("#form_register .error-gen"),
			$form_register_name = $("#form_register_name"),
			$form_register_surname = $("#form_register_surname"),
			$form_register_email = $("#form_register_email"),
			$form_register_password = $("#form_register_password"),
			$form_register_password_repeat = $("#form_register_password_repeat"),
			$form_register_error_text = $('#form_register .error-text');

            $form_register_name.on('focus', function () {
                $form_register_name.removeClass('err');
            });
            $form_register_surname.on('focus', function () {
                $form_register_surname.removeClass('err');
            });
            $form_register_email.on('focus', function () {
                $form_register_email.removeClass('err');
            });
            $form_register_password.on('focus', function () {
                $form_register_password.removeClass('err');
            });
            $form_register_password_repeat.on('focus', function () {
                $form_register_password_repeat.removeClass('err');
            });

            $form_register_inputs.val('');
            $form_register_inputs.removeClass('err');
            $form_register_error_text.html('');
        });

        $('#form_login_brick .submit-button').click(function (e) {
            err = false;
            if (!$form_login_brick_email.val()) {
                $form_login_brick_error_text.html('Podaj login');
                err = true;
                $form_login_brick_email.addClass('err');
            }
            if (!$form_login_brick_password.val()) {
                $form_login_brick_error_text.html(err ? 'Podaj login i hasło' : 'Podaj hasło');
                err = true;
                $form_login_brick_password.addClass('err');
            }
            if (err)
                e.preventDefault();
            else
                $form_login_brick_error_text.html('');
        });

        login_brick_empty = false;

@if (Model.nav.post)
{

    //<!-- wyłączenie modala, odświeżenie menu usera  --> 
    
    if (Model.nav.modal_login_brick == false)
    {
        <text>
        $("#modal_login_brick").modal('hide');
        $("#form_brick_button").click();
        $("#modal_brick").modal('show');
        $("#menu_user_button").click();
        </text>
    }
    else
    {
        //<!-- validation - begin -->

        if (!Model.validation.czy_string_not_empty(Model.user.email))
        {
        <text>
        $form_login_brick_email.addClass('err');
        login_brick_empty = true;
        </text>
        }
        else if (!Model.validation.czy_email(Model.user.email))
        {
        <text>
        $form_login_brick_email.addClass('err');
        $form_login_brick_error_text.html('To pole jest wymagane jako email');
        </text>
        }

        if (!Model.validation.czy_string_not_empty(Model.user.password))
        {
        <text>
        $form_login__brick_password.addClass('err');
        login_brick_empty = true;
        </text>
        }

        if (!Model.nav.success && Model.nav.validation_login_brick)
        {
        <text>
        $form_login_brick_email.addClass('err');
        $form_login_brick_password.addClass('err');
        $form_login_brick_error_text.html('Błędne dane logowanie lub konto nieaktywne');
        </text>
        }
        
        <text>
        if (login_brick_empty) {
            $form_login_brick_error_text.html($form_login_error_text.html() + '<br>Uzupełnij brakujące pola');
        }
        </text>

        //<!-- validation - end -->
    }
}
		//<!-- escape keypress modal close - end -->
		$(document).keyup(function(e){
		if(e.keyCode == 27){
			$("#modal_login_brick").modal('hide');
		};
		});
    });
</script>

