﻿@model SfCms_model.class_pattern

<!-- GLOBAL -->
@{
    string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
    string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}
<!-- END GLOBAL -->

<!-- TITLE -->
@{
    string title = string.Empty;

    //projekty
    if (controller == "projekty")
    {
        if (Model.project.active)
        {
            //beneficiary
            for (var i = 0; i < Model.beneficiary.list.Count(); i++)
            {
                if (Model.beneficiary.list[i].active)
                {
                    title += Model.beneficiary.list[i].name + " ";
                }
            }

            //project
            title += "- " + Model.project.name;
        }
    }
}
<!-- TITLE -->

<!DOCTYPE html>
<html style="height:100%" lang="pl">
<head>
    <title>@title - Program Mentor</title>
    <meta content="@title | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@title - Program Mentor">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" type="text/css" href="~/assets/css/style_blog.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_footer.css" />

    <style type="text/css">
    .photo-wrapper {
        border: 5px solid #FFFFFF;
        width: 60px;
        height: 60px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;  
        float: left;
        margin-left: 40px;
        margin-top: 22px;
    }
        #user-name {
            float:left;
            margin-top: 40px;
            margin-left: 10px;
        }
    </style>
</head>
<body style="height: 100%;box-sizing: border-box;">
    <div id="header">
        <div class="wrapper">
            @{
                Model.menu.get_data(1);
                Model.beneficiary_file.get_data(SfCms_model.class_beneficiary_file.search_type.beneficiary_id, SfCms_model.class_beneficiary_file.image_type.empty, Model.beneficiary.id.ToString());							
            }
            <a href="@Url.Action(Model.menu.action, Model.menu.controller)" style="float:left">
                <img id="m_logo" src="~/assets/img/logo-login.png" alt="Logo Mentor" />
            </a>
            
            @if (Model.beneficiary_file.id != 0)
            {
                <div class="photo-wrapper" style="background-image:url('@Url.Action("BeneficiaryImageSmall", "Image", new { id = Model.beneficiary.id })')"></div>               
            }
            <div id="user-name">@Model.beneficiary.name<br/>@Model.beneficiary.surname</div> 
            <div class="menu">

                @if(@Model.beneficiary.yt_link.Length > 1) {
                    <a href="@Model.beneficiary.yt_link" target="_blank">Zobacz kanał Youtube</a>
                }
                <a href="@Url.Action("Index", "Projekty", new { id = @Model.project.name })" target="_blank">Zobacz Blog</a>
                
                @if (action == "index")
                {
                    <a href="@Url.Action("AddAsk", "Blog")"><span>+</span> Dodaj post</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Blog")"><img style="margin-right:10px" src="~/assets/img/icon_lines.png" />Lista postów</a>
                }
               
                <a href="@Url.Action("LogOff", "Account")" class="login-btn"><span>Wyloguj</span></a>
            </div>
        </div>
    </div>

    <div style="position: relative;padding-bottom: 159px;min-height: 100%;box-sizing: border-box;">

        @RenderBody()

        <div id="footer-wrapper" style="position:absolute">
            <div class="gray-bar bg-gray1" style="height: 15px"></div>
            <footer id="footer">
                <div class="bg-gray3" style="height: 100px">
                    <div class="wrapper">
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="bg-gray2" style="background-color: #ffffff;">
                    <div class="wrapper">
                        <span>Wszelkie prawa zastrzeżone © 2015</span>
                        <a href="http://www.quellio.com" target="_blank">
                            <img src="~/assets/img/logos/Quellio_small.png" alt="Quellio" />
                        </a>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="bg-gray3"></div>
            </footer>
        </div>

    </div>

    <script type="text/javascript">
        var shadowVisible = false,
            header;
        $(document).ready(function () {
            header = $("#header");
            $(window).scroll(toggleShadow);
            $(window).load(positionFooter);
            $(window).resize(positionFooter);
        });

        function positionFooter() {
            //h4 = window.innerHeight;
            //hs = $('#page-content').outerHeight(true) + $('#footer-wrapper').height() + $("#header").height();
            //if (hs > h4)
            //    $('body').addClass('high');
            //else
            //    $('body').removeClass('high');
        }

        function toggleShadow() {
            if (!shadowVisible) {
                header.addClass("header-shadow");
                shadowVisible = true;
            } else if ($(window).scrollTop() == 0) {
                header.removeClass("header-shadow");
                shadowVisible = false;
            }
        }
    </script>
</body>
</html>
