﻿@model SfCms_model.class_pattern

<!-- GLOBAL -->
@{
    string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
    string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}
<!-- END GLOBAL -->

<!-- TITLE -->
@{
    string title = string.Empty;

    //projekty
    if (controller == "projekty")
    {
        if (Model.project.active)
        {
            //beneficiary
            for (var i = 0; i < Model.beneficiary.list.Count(); i++)
            {
                if (Model.beneficiary.list[i].active)
                {
                    title += Model.beneficiary.list[i].name + " ";
                }
            }

            //project
            title += "- " + Model.project.name;
        }
    }
}
<!-- TITLE -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@title - Program Mentor</title>
    <meta content="@title | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@title - Program Mentor">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" href="~/assets/css/style_main.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style_main_media.css" type="text/css">

    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            background-color: #71c4da !important;
        }

        #home-w {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

        #news-wrapper {
            height: 60px;
        }

        #content {
            position: absolute;
            left: 0;
            right: 0;
            top: 150px;
            margin: 0 auto;
            text-align: center;
            z-index: 1000;
            background-color: rgba(0,0,0,0.3);
            padding: 20px 0;
        }

        h1 {
            color: #ffffff;
            font-size: 8em;
            margin-bottom: 10px;
        }

        h2 {
            color: #ffffff;
            font-size: 1.2em;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-weight: 700;
        }

        h4 {
            margin-bottom: 30px;
        }

            h4 a {
                color: #ffffff;
                font-weight: 200;
                text-transform: uppercase;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: all .5s;
                border: 1px solid #ffffff;
                padding: 10px 20px;
                border-radius: 4px;
                margin-bottom: 40px;
            }

                h4 a:hover {
                    color: #F58220;
                    border-color: #F58220;
                }

        #animated-clouds {
            top: -150px;
        }

        @@media screen and (max-width: 500px) {
            #content {
                top: 40px;
                background-color: rgba(0,0,0,0.5);
            }
        }
    </style>

</head>
<body>

    @RenderBody()

    <section id="home-w">
        <div class="fantom" id="home"></div>
        <div id="panorama">
            <div class="wrapper">
                <div id="animated-clouds">
                    <img id="cloud1" width="107" src="~/assets/img/cloud_home.png" />
                    <img id="cloud2" width="71" src="~/assets/img/cloud_home.png" />
                    <img id="cloud3" width="91" src="~/assets/img/cloud_home.png" />
                    <img id="cloud4" width="107" src="~/assets/img/cloud_home.png" />
                    <img id="cloud5" width="137" src="~/assets/img/cloud_home.png" />
                </div>
                <img id="panorama-img" src="~/assets/img/panorama.png" />
                <img id="panorama-mask" src="~/assets/img/panorama.png" />
            </div>
            <div id="home-bars">
                <div id="blue-bar" class="bg-blue1">
                </div>
                <div id="green-bar" class="bg-green1">
                </div>
            </div>
        </div>
        <div class="gray-bar bg-gray1">
            <div class="wrapper">
                <img id="logo-poster" src="~/assets/img/logo-banner.png" alt="Logo Program Mentor" />
            </div>
        </div>
        <div class="bg-gray2">
            <div id="news-wrapper" class="wrapper">
                <div class="dummy-div"></div>
                <div class="left-col">
                </div>
                <div class="right-col">
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        if (!navigator.userAgent.toLowerCase().match(/(iphone|windows phone|android)/)) {
            if (rv > 9) {
                var fileref = document.createElement("link");
                fileref.setAttribute("rel", "stylesheet");
                fileref.setAttribute("type", "text/css");
                fileref.setAttribute("href", "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/css/anim.css");
                document.getElementsByTagName("head")[0].appendChild(fileref);
            }
        }
    </script>

</body>
</html>
