﻿@model SfCms_model.class_pattern

<link rel="stylesheet" type="text/css" href="~/assets/css/style_footer.css" />

<div class="gray-bar bg-gray1 scrollbar-padding"></div>
<section id="logos" class="bg-white scrollbar-padding">
    <div class="wrapper">
        <div id="operator">
            <h2>Operator</h2>
            <div>
                <a href="http://gfis.pl/">
                    <img src="~/assets/img/logos/GFIS.png" />
                </a>
            </div>
        </div>
		<div id="partners">
            <h2>Partnerzy</h2>
            <div>
                <a href="http://ug.edu.pl/" target="_blank">
                    <img src="~/assets/img/logos/UG.png" alt="Uniwersytet Gdański" /></a>
                <a href="http://www.gfo.pl/" target="_blank">
                    <img src="~/assets/img/logos/GFO.png" alt="Gdańska Fundacja Oświatowa" /></a>
                <a href="http://www.gdansk.pl/" target="_blank">
                    <img src="~/assets/img/logos/Gdansk.png" alt="Miasto Gdańsk" /></a>
                <a href="http://www.studio102.pl/" target="_blank">
                    <img src="~/assets/img/logos/studio102.png" alt="Studio 102" /></a>
            </div>
        </div>
		
        <div id="sponsorzy">
            <h2>Sponsorzy</h2>
            <div>
                <a href="http://polska.edf.com/" target="_blank">
                    <img src="~/assets/img/logos/edf.png" alt="edf" />
                </a>
                <a href="http://www.zkm.pl/">
                    <img src="~/assets/img/logos/ZKM.png" />
                </a>
            </div>
        </div>
        <div class="partners2">
            <h2>Partnerzy Wspierający</h2>
            <div class="partners">
                <a href="http://www.quellio.com" target="_blank">
                    <img src="~/assets/img/logos/Quellio_big.png" alt="Quellio" /></a>
                <a href="http://www.wspolnyprojekt.pl/" target="_blank">
                    <img src="~/assets/img/logos/wspolnyprojekt.png" alt="Wspólny Projekt" /></a>
                <a href="http://paylane.pl/" target="_blank">
                    <img src="~/assets/img/logos/paylane.png" alt="Paylane" /></a>
                <a href="http://www.mosir.gda.pl/" target="_blank">
                    <img src="~/assets/img/logos/MOSIR.png" alt="MOSIR" /></a>
                <a href="http://www.dawidpejas.pl/" target="_blank">
                    <img src="~/assets/img/logos/fotografiadawidpejas.png" alt="Fotografia Dawid Pejas" /></a>
            </div>
        </div>
		<div class="hidden-content">
			<div class="partners2">
				<h2>Patroni Medialni</h2>
				<div>
				</div>
			</div>
        </div>
    </div>
</section>
<div class="gray-bar bg-gray1 scrollbar-padding"></div>
<footer id="footer">
    <div class="bg-gray3 scrollbar-padding">
        <div class="wrapper">
            <div class="account-no-info">
                <p>Numer rachunku bankowego dla chcących wspierać Program:</p>
                <p class="fat">Bank Millenium 24&nbsp;1160&nbsp;2202&nbsp;0000&nbsp;0002&nbsp;5046&nbsp;6206</p>
            </div>
            <div id="footer-menu">
                @{Model.menu.get_data(2);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Aktualności</a>
                @{Model.menu.get_data(3);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Stypendysta</a>
                @{Model.menu.get_data(6);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Mentor</a>
                <a href="~/dokumenty/Regulamin serwisu program-mentor.pl.pdf" target="_blank">Regulamin</a>
				<a href="~/dokumenty/Polityka ochrony prywatności serwisu program-mentor.pl.pdf" target="_blank">Polityka&nbsp;prywatności</a>
                <a href="~/dokumenty/Program_Mentor_materialy_dla_prasy.zip">Dla&nbsp;Prasy</a>
                @{Model.menu.get_data(11);}
                <a href="@Url.Action(Model.menu.action, Model.menu.controller)">Kontakt</a>
            </div>
            <div id="social">
                <a href="https://www.facebook.com/gfsmentor" target="_blank">
                    <img src="~/assets/img/fb.png" />
                </a>
                @*<a href="" target="_blank"><img src="~/assets/img/tw.png" />
                </a>
                <a href="" target="_blank"><img src="~/assets/img/g+.png" />
                </a>*@
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="bg-gray2 scrollbar-padding">
        <div class="wrapper">
            <span>Wszelkie prawa zastrzeżone © 2015</span>
            <a href="http://www.quellio.com" target="_blank">
                <img src="~/assets/img/logos/Quellio_small.png" alt="Quellio" />
            </a>
            <div style="clear: both"></div>
        </div>
    </div>
</footer>
