﻿@model SfCms_model.class_pattern

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<!--<meta name="robots" content="index,all,follow">-->
<meta name="distribution" content="global">
<meta name="author" content="Quellio">

<meta property="og:site_name" content="Mentor - gdański program stypendialny">
<meta property="og:description" content="Mentor - gdański program stypendialny">
<meta property="og:image" content="~/assets/favicons/mstile-310x310.png">
<meta property="og:url" content="http://www.program-mentor.pl/">
<meta property="og:type" content="organization">

<link rel="apple-touch-icon" sizes="57x57" href="~/assets/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/assets/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/assets/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/assets/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/assets/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/assets/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/assets/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="~/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="~/assets/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="~/assets/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="~/assets/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="~/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="~/assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="~/assets/favicons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="~/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/common.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.fancybox.css" />

<script src="~/assets/bootstrap/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var rv = 10;
    if (navigator.appName == 'Microsoft Internet Explorer') {
        var ua = navigator.userAgent;
        var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
        if (re.exec(ua) != null)
            rv = parseFloat(RegExp.$1);
    }
    if (!navigator.userAgent.toLowerCase().match(/(iphone|windows phone|android)/)) {
        if (rv > 8) {
            var fileref = document.createElement("script");
            fileref.setAttribute("type", "text/javascript");
            fileref.setAttribute("src", "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/js/jquery.smoothwheel.js");
            document.getElementsByTagName("head")[0].appendChild(fileref);
        }
    }
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");

    ga("create", "UA-56946436-4", "auto");
    ga("send", "pageview");
</script>
