﻿@model SfCms_model.class_pattern

<!-- GLOBAL -->
@{
    string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
    string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}
<!-- END GLOBAL -->

<!-- TITLE -->
@{
    string title = string.Empty;

    //projekty
    if (controller == "projekty")
    {
        if (Model.project.active)
        {
            //beneficiary
            for (var i = 0; i < Model.beneficiary.list.Count(); i++)
            {
                if (Model.beneficiary.list[i].active)
                {
                    title += Model.beneficiary.list[i].name + " ";
                }
            }

            //project
            title += "- " + Model.project.name;
        }
    }
}
<!-- TITLE -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@title - Program Mentor</title>
    <meta content="@title | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@title - Program Mentor">

    @{Html.RenderPartial("Header");}

    <style type="text/css">
        
    </style>

</head>
<body>

    @RenderBody()

</body>
</html>
