﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Mentor - Gdański Program Stypendialny</title>
    <meta content="Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="Mentor - Gdański Program Stypendialny">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" href="~/assets/css/style_main.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style_main_media.css" type="text/css">

    <script>
        var style;
        if (style !== undefined)
            style.remove();
        var h = window.innerHeight - (window.innerWidth < 960 ? 75 : 90);
        h = h < 400 ? 400 : h;
        style = $("<style />", {
            id: 'pageHeightStyle',
            type: 'text/css',
            html: ".page {height:" + h + "px}"
        });
        style.appendTo('head');
    </script>
</head>
<body>

    @RenderBody()

    <script type="text/javascript">
        var $pages = document.getElementsByClassName("page");
        for(i = 0; i < $pages.length; i++) {
            var $wrapper = $pages[i].getElementsByClassName("wrapper");
            var a1 = 0, a2 = 0, a3 = 0, a4 = 0, a5 = 0;
            if ($wrapper.length > 0) {
                var $image = $wrapper[0].getElementsByClassName("image");
                var $image_column = $wrapper[0].getElementsByClassName("image-column");

                if ($image.length > 0) {
                    a1 = $image[0].naturalHeight || 0;
                    a2 = parseInt($image[0].style.paddingTop) || 0;
                }
                if ($image_column.length > 0) {
                    var $button = $image_column[0].getElementsByClassName("button");
                    a3 = $button.length > 0 ? $button[0].outerHeight || 0 : 0;
                    a4 = parseInt($image_column[0].style.paddingTop) || 0;
                    a5 = parseInt($image_column[0].style.paddingBottom) || 0;
                }
                var img_col = a1 + a2 + a3 + a4 + a5;
                var h1 = $pages[i].height;
                var h2 = $wrapper[0].height;
                var pt = ($pages[i].offsetHeight - $wrapper[0].offsetHeight) / 2;
                pt = pt < 0 ? 0 : pt;
                if (img_col > h) {
                    $wrapper[0].style.height = "100%";
                    $wrapper[0].style.paddingTop = "0";
                } else {
                    $wrapper[0].style.height = "auto";
                    $wrapper[0].style.paddingTop = pt + "px";
                }
            }
        }

        if (!navigator.userAgent.toLowerCase().match(/(iphone|windows phone|android)/)) {
            document.getElementById("idea-menu").style.display = "none !important";
            if (rv > 9) {
                var fileref = document.createElement("link");
                fileref.setAttribute("rel", "stylesheet");
                fileref.setAttribute("type", "text/css");
                fileref.setAttribute("href", "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/css/anim.css");
                document.getElementsByTagName("head")[0].appendChild(fileref);
            }
        }
        var percVals = [
            @for (var i = 0; i < Model.beneficiary.list.Count; i++)
            {
                Model.project.id = Model.beneficiary.list[i].project_id;
                Model.project.get_data();
                
                if (Model.project.active)
                {
                    String p = Model.project.support_percent.ToString().Replace(",", ".") + (i + 1 != Model.beneficiary.list.Count ? "," : "");
                    @p;
                }
            }
        ];
    </script>

    <script type="text/javascript" src="~/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/assets/js/unslider.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>
</body>
</html>
