﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny</title>
    <meta content="@ViewContext.RouteData.Values["controller"] | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" href="~/assets/css/style_news.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style_news_media.css" type="text/css">
</head>
<body>

    @RenderBody()

    @{Html.RenderPartial("Footer");}

    <script type="text/javascript" src="~/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript">
        var articles,
            style,
            min_h = 170;

        $(document).ready(function () {
            articles = $('.article');

            $('.fancybox').fancybox({
                type: 'image',
                openEffect: 'none',
                closeEffect: 'none',
                helpers: {
                    title: { type: 'inside' }
                }
            });

            adjustContentPosition();
            if (window.location.hash.length) {
                $(window.location.hash + ' .content').toggleClass('expanded');
                $(window.location.hash + ' .more-wrapper').toggleClass('translated');
            }

            $('.more').click(function () {
                $('.content', $(this).parent()).toggleClass('expanded');
                $('.more-wrapper', this).toggleClass('translated');
            });
        });

        $(window).resize(adjustContentPosition);
        $(window).load(adjustContentPosition);

        function adjustContentPosition() {
            if (style !== undefined)
                style.remove();
            var styleContent = '';
            articles.each(function () {
                h = $('.content .box', this).height();
                if (h <= min_h) {
                    $('.more-wrapper', this).hide();
                } else {
                    $('.more-wrapper', this).show();
                }
                styleContent += "#" + $(this).attr('id') + " .content.expanded {max-height:" + (h > min_h ? h + "px" : 'none') + ";}"
            });
            style = $("<style />", {
                id: 'articleHeightStyle',
                type: 'text/css',
                html: styleContent
            });
            style.appendTo('head');
        }
    </script>

</body>
</html>
