﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny</title>
    <meta content="@ViewContext.RouteData.Values["controller"] | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny">

    @{Html.RenderPartial("Header");}
</head>
<body>

    @RenderBody()

    <link rel="stylesheet" href="~/assets/css/style_subpage_media.css" type="text/css">
</body>
</html>
