﻿@model SfCms_model.class_pattern

<!-- GLOBAL -->
@{
    string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
    string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
}
<!-- END GLOBAL -->

<!-- TITLE -->
@{
    string title = string.Empty;

    //projekty
    if (controller == "projekty") {
            if (Model.project.active)
            {
                //beneficiary
                for (var i = 0; i < Model.beneficiary.list.Count(); i++)
                {
                    if (Model.beneficiary.list[i].active)
                    {
                        title += Model.beneficiary.list[i].name + " ";
                    }
                }

            //project
            title += "- " + Model.project.name;
        }
    }
}
<!-- TITLE -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@title - Program Mentor</title>
    <meta content="@title | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@title - Program Mentor">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" type="text/css" href="~/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_menu_btn.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_project.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_project_media.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style_project_modals.css">

    <script>
        (function (e) { function t(t, n, r, o) { "use strict"; function a() { for (var e, n = 0; u.length > n; n++) u[n].href && u[n].href.indexOf(t) > -1 && (e = !0); e ? i.media = r || "all" : setTimeout(a) } var i = e.document.createElement("link"), l = n || e.document.getElementsByTagName("script")[0], u = e.document.styleSheets; return i.rel = "stylesheet", i.href = t, i.media = "only x", i.onload = o || null, l.parentNode.insertBefore(i, l), a(), i } var n = function (r, o) { "use strict"; if (r && 3 === r.length) { var a = e.navigator, i = e.Image, l = !(!document.createElementNS || !document.createElementNS("http://www.w3.org/2000/svg", "svg").createSVGRect || !document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") || e.opera && -1 === a.userAgent.indexOf("Chrome") || -1 !== a.userAgent.indexOf("Series40")), u = new i; u.onerror = function () { n.method = "png", n.href = r[2], t(r[2]) }, u.onload = function () { var e = 1 === u.width && 1 === u.height, a = r[e && l ? 0 : e ? 1 : 2]; n.method = e && l ? "svg" : e ? "datapng" : "png", n.href = a, t(a, null, null, o) }, u.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==", document.documentElement.className += " grunticon" } }; n.loadCSS = t, e.grunticon = n })(this); (function (e, t) { "use strict"; var n = t.document, r = "grunticon:", o = function (e) { if (n.attachEvent ? "complete" === n.readyState : "loading" !== n.readyState) e(); else { var t = !1; n.addEventListener("readystatechange", function () { t || (t = !0, e()) }, !1) } }, a = function (e) { return t.document.querySelector('link[href$="' + e + '"]') }, c = function (e) { var t, n, o, a, c, i, u = {}; if (t = e.sheet, !t) return u; n = t.cssRules ? t.cssRules : t.rules; for (var l = 0; n.length > l; l++) o = n[l].cssText, a = r + n[l].selectorText, c = o.split(");")[0].match(/US\-ASCII\,([^"']+)/), c && c[1] && (i = decodeURIComponent(c[1]), u[a] = i); return u }, i = function (e) { var t, o, a; o = "data-grunticon-embed"; for (var c in e) if (a = c.slice(r.length), t = n.querySelectorAll(a + "[" + o + "]"), t.length) for (var i = 0; t.length > i; i++) t[i].innerHTML = e[c], t[i].style.backgroundImage = "none", t[i].removeAttribute(o); return t }, u = function (t) { "svg" === e.method && o(function () { i(c(a(e.href))), "function" == typeof t && t() }) }; e.embedIcons = i, e.getCSS = a, e.getIcons = c, e.ready = o, e.svgLoadedCallback = u, e.embedSVG = u })(grunticon, this);

        grunticon(["@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/css/icons.data.svg.css", "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/css/icons.data.png.css", "@SfCms_user.StaticMethods.getBaseUrl(Url.Content("~"))/assets/css/icons.fallback.css"]);
    </script>
    <noscript>
        <link href="~/assets/css/icons.fallback.css" rel="stylesheet">
    </noscript>
    <script type="text/javascript">
        var $form_login_inputs,
            $form_login_email,
            $form_login_password,
            $form_login_error_text,

            $form_login_brick_inputs,
            $form_login_brick_email,
            $form_login_brick_password,
            $form_login_brick_error_text,

            $form_register_inputs,
            $form_register_name,
            $form_register_surname,
            $form_register_email,
            $form_register_password,
            $form_register_password_repeat,
            $form_register_error_text;

        //FACEBOOK SCRIPT

        window.fbAsyncInit = function () {
            FB.init({
                appId: '621618444640808',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v2.3'
            });

            // CHECKING CONNECTION STATUS
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                //if (response.status === 'connected') {
                //    console.log("Successfully connected to Facebook!"); //SUCCESS
                //} else if (response.status === 'not_authorized') {
                //    console.log("Login failed!");  //FAILED
                //} else {
                //    console.log("Unknown connection status");  //UNKNOWN ERROR
                //}
            });
        };

        // LOADING SDK
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/pl_PL/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());

        //END FACEBOOK SCRIPT
    </script>
</head>

<body>

    <div id="fb-root"></div>

    <div id="header">
        <!-- menu_user - begin -->
        <div id="menu_user_ajax">
            @{Html.RenderAction("menu_user", "AccountUser");}
        </div>
        <!-- menu_user - end -->
    </div>


    <!-- form/modal - begin-->
    <!-- form_menu_user - begin -->
    <form method="post" data-ajax-url="@Url.Action("menu_user", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#menu_user_ajax" class="form-horizontal">
        <button id="menu_user_button" type="submit" class="btn btn-primary" style="display: none;">menu_user_button</button>
    </form>
    <!-- form_menu_user - end -->

    <!-- form_user_logoff - begin -->
    <form method="post" data-ajax-url="@Url.Action("LogOff", "AccountUser")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#menu_user_ajax" class="form-horizontal">
        <button id="form_user_logoff_button" type="submit" class="btn btn-primary" style="display: none;">form_user_logoff_button</button>
    </form>
    <!-- form_user_logoff - end -->

    <!-- modal_login - begin -->
    <div id="modal_login" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Logowanie</h4>
                </div>
                <div id="form_login_ajax" class="modal-body">
                    @{Html.RenderAction("form_login", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_login - end -->

    <!-- modal_login_brick - begin -->
    <div id="modal_login_brick" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Logowanie</h4>
                </div>
                <div id="form_login_brick_ajax" class="modal-body">
                    @{Html.RenderAction("form_login_brick", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_login_brick - end -->

    <!-- modal_register - begin -->
    <div id="modal_register" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Załóż konto</h4>
                </div>
                <div id="form_register_ajax" class="modal-body">
                    @{Html.RenderAction("form_register", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_register - end -->

    <!-- modal_register_info - begin -->
    <div id="modal_register_info" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="form_register_info_ajax" class="modal-body">
                    @{Html.RenderAction("form_register_info", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_register_info - end -->

    <!-- modal_password_reset - begin -->
    <div id="modal_password_reset" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Odzyskiwanie hasła</h4>
                </div>
                <div id="form_password_reset_ajax" class="modal-body">
                    @{Html.RenderAction("form_password_reset", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_password_reset - end -->

    <!-- modal_password_reset_info - begin -->
    <div id="modal_password_reset_info" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div id="form_password_reset_info_ajax" class="modal-body">
                    @{Html.RenderAction("form_password_reset_info", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_password_reset_info - end -->

    <!-- modal_brick - begin -->
    <div id="modal_brick" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 0; border: 15px solid #ffffff; background-color: #ececec">
                <div class="modal-header" style="padding: 0; min-height: 0; border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 1.5em">×</button>
                    @*<h4 class="modal-title">form_brick</h4>*@
                </div>
                <div id="form_brick_ajax" class="modal-body" style="text-align: center">
                    @{Html.RenderAction("form_brick", "AccountUser");}
                </div>
            </div>
        </div>
    </div>
    <!-- modal_login_brick - end -->

    <!-- modal_fb_error - begin -->
	<div id="modal_fb_error" class="modal">
		<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 0; border: 15px solid #ffffff; background-color: #ececec">
				<div class="modal-header" style="padding: 0; min-height: 0; border: none;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 1.5em">×</button>
					<h4 class="modal-title">Logowanie nie powiodło się</h4>
                    <p>Logowanie poprzez Facebook'a wymaga udostępnienia adresu email.</p>
                    <img class="err_message_image" src="~/assets/img/fb.png" />
				</div>
				<div class="modal-body" style="text-align: center">
					
				</div>
			</div>
		</div>
	</div>
	<!-- modal_fb_error - end -->

    
    <!-- modal_paylane_error - begin -->
	<div id="modal_paylane_error" class="modal">
		<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 0; border: 15px solid #ffffff; background-color: #ececec">
				<div class="modal-header" style="padding: 0; min-height: 0; border: none;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 1.5em">×</button>
					<h4 class="modal-title">Płatność nie powiodła się</h4>
                    <p>Płatność w systemie Paylane nie powiodła się.<br />Spróbuj ponownie.</p>
                    <img class="err_message_image" src="~/assets/img/logo_crowd4_transfer_online.png" />
				</div>
				<div class="modal-body" style="text-align: center">
					
				</div>
			</div>
		</div>
	</div>
	<!-- modal_paylane_error - end -->

    <!-- modal_paylane_success - begin -->
	<div id="modal_paylane_success" class="modal">
		<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 0; border: 15px solid #ffffff; background-color: #ececec">
				<div class="modal-header" style="padding: 0; min-height: 0; border: none;">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: 15px; right: 15px; font-size: 1.5em">×</button>
					<h4 class="modal-title">Dziękujemy!</h4>
                    <p>Dziękujemy za dokonanie płatności.<br />Na Twój adres email wysłaliśmy potwierdzenie transakcji.</p>
                    <img class="err_message_image" src="~/assets/img/logo_crowd3_choose_brick.png" />
				</div>
				<div class="modal-body" style="text-align: center">
					
				</div>
			</div>
		</div>
	</div>
	<!-- modal_paylane_error - end -->

    <!-- form/modal - end-->

    @RenderBody()

    @{Html.RenderPartial("Footer");}

    <script type="text/javascript" src="~/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="~/assets/js/unslider.updated.js"></script>
    <script type="text/javascript" src="~/assets/js/main_project.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap/bootstrap.min.js"></script>
</body>
</html>
