﻿@model SfCms_model.class_pattern

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny</title>
    <meta content="@ViewContext.RouteData.Values["controller"] | Mentor - gdański program stypendialny" name="description">
    <meta property="og:title" content="@ViewContext.RouteData.Values["controller"] | Mentor - Gdański Program Stypendialny">

    @{Html.RenderPartial("Header");}

    <link rel="stylesheet" href="~/assets/css/style_subpage.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style_subpage_media.css" type="text/css">
</head>
<body>

    @RenderBody()

    @{Html.RenderPartial("Footer");}

    <script type="text/javascript">
        var shadowVisible = false,
            header;

        $(document).ready(function() {
            header = $("#header")
            $(window).scroll(toggleShadow);
        });

        function toggleShadow() {
            if (!shadowVisible) {
                header.addClass("header-shadow");
                shadowVisible = true;
            } else if ($(window).scrollTop() == 0) {
                header.removeClass("header-shadow");
                shadowVisible = false;
            }
        }
    </script>

</body>
</html>
